{% set lang = 'ja' %}
{% set title = '寄付のお願い' %}
{% set pathSegments = ['get-involved', 'donate'] %}

{% extends "layout.njk" %}

{% block content %}
		<div class="t3-section-wrap">

				<div class="section">

						<div class="module-title-wrap">
								<h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="200">寄付理由</h3>
								<div class="sub-heading ja-animate" data-animation="move-from-bottom" data-delay="400">
										<span>トレイルパークの造成、この地域でのマウンテンバイクコミュニティーと未来の為に皆様からのサポートをお願いします:
										</span>
								</div>
						</div>
						<div class="module-title-wrap" style="max-width:900px;">
								<div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="600">
										<div style="font-size:150%;">
												<span>トレイルパーク造成、トレイルのメインテナンスにはコストがかかります。またトレイルパーク自体を持続可能なものにする為に、現在計画中である双子山パークでは利用者は特別な利用券などを購入せず、どなたでも無料で入場でき利用できる予定になってます。皆様からのサポートにより、トレイル造成開発及び運営＆メインテナンスの活動が可能となります。</span>
										</div>
								</div>
						</div>
						<div class="module-title-wrap" style="max-width:900px;">
								<div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="800">
										<div style="font-size:150%;">
												<span>皆様からのサポートはトレイル造成だけではなくコミュニティーの為のイベント開催実施として活用されます。イベントを通してNAMTBAの活動目的やバイクパーク及びコミュニティーを持続可能なものにする為、次世代である子供達へこのスポーツの楽しさを伝えるイベントも実施します。バイクパーク内では子供達がバイクライディングを楽しんでもらえるよう、スキルパークで練習できる施設を設けます。全てのサポート資金はこの地域のマウンテンバイクコミュニティへ還元されるようになってます。</span>
										</div>
								</div>
						</div>
						<div class="module-title-wrap" style="max-width:900px; margin-bottom:0;">
								<div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="1000">
										<div style="font-size:150%;">
												<span>NAMTBAの活動は現在、地元の情熱的なスタッフがボランティア活動しております。それぞれに仕事、家庭があり優先をしないといけない事があるなか、夜の時間、週末の時間を使い熱心に活動してます。それはニセコマウンテンバイクツーリズムの発展と環境がよくなって欲しいという共通の強い目的があるからこそ活動が現在成り立ってます。私達の活動を持続可能にする為、ニセコ地域のマウンテンバイクコミュニティーを成長させるため、是非皆様のお力添えを頂きたくご協力よろしくお願いいたします。</span>
										</div>
								</div>
						</div>

				</div>

				<div class="t3-section acm-features style-2">
						<div class="row equal-height equal-height-child benefits">
								<div class="col col-sm-12 col-md-3 col-md-3">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-0" style="min-height: 696px;">
												<div class="font-icon">
														<span class="icon ion-logo-yen"></span></div>
												<h4></h4>
												<p>
														<div class="" style="font-size: 24px; padding-bottom:13px;" itemprop="price">
																<div>
																		<div>1,000円</div>
																</div>
														</div>
												</p>
												<a class="action" href="javascript:ad(1000);">
														<span>寄付金を申込</span>
												</a>
										</div>
								</div>
								<div class="col col-sm-12 col-md-3">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-1" style="min-height: 696px;">
												<div class="font-icon">
														<span class="icon ion-logo-yen"></span></div>
												<h4></h4>
												<p>
														<div class="" style="font-size: 24px; padding-bottom:13px;" itemprop="price">
																<div>
																		<div>5,000円</div>
																</div>
														</div>
												</p>
												<a class="action" href="javascript:ad(5000);">
														<span>寄付金を申込</span>
												</a>
										</div>
								</div>
								<div class="col col-sm-12 col-md-3">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-2" style="min-height: 696px;">
												<div class="font-icon">
														<span class="icon ion-logo-yen"></span></div>
												<h4></h4>
												<p>
														<div class="" style="font-size: 24px; padding-bottom:13px;" itemprop="price">
																<div>
																		<div>10,000円</div>
																</div>
														</div>
												</p>
												<a class="action" href="javascript:ad(10000);">
														<span>寄付金を申込</span>
												</a>
										</div>
								</div>
								<div class="col col-sm-12 col-md-3">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-3" style="min-height: 696px;">
												<div class="font-icon">
														<span class="icon ion-logo-yen"></span></div>
												<h4></h4>
												<p><input id="custom-donation" type="number" placeholder="その他の金額" min="1000" step="1000"></p>
												<script type="text/javascript">
														function ad(selectedPrice) {
																var product = {
																		id: 484307482,
																		quantity: 1,
																		selectedPrice: selectedPrice,
																		callback: function (success, product, cart) {
																				location.hash = '#!/~/cart';
																		}
																}

																Ecwid
																		.Cart
																		.addProduct(product);
														}

														function acd() {
																let selectedPrice = parseInt(document.getElementById("custom-donation").value);
																if (isNaN(selectedPrice)) 
																		return;
																var product = {
																		id: 484307482,
																		quantity: 1,
																		selectedPrice: selectedPrice,
																		callback: function (success, product, cart) {
																				location.hash = '#!/~/cart';
																		}
																}

																Ecwid
																		.Cart
																		.addProduct(product);
														}
												</script>
												<a class="action" href="javascript:acd();">
														<span>寄付金を申込</span>
												</a>
										</div>
								</div>
						</div>
				</div>

				<div class="section">
						<div id="my-store-71386768"></div>
						<div>
								<script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?71386768&lang=ja-JP&data_platform=code&data_date=2022-02-02" charset="utf-8"></script>
								<script type='text/javascript'>
										xProductBrowser("defaultCategoryId=127408307");
								</script>
								<script type="text/javascript">
										window.ec = window.ec || Object();
										window.ec.config = window.ec.config || Object();
										window.ec.config.custom_redirect_after_purchase = 'https://www.namtba.com/ja/get-involved/thanks';
										window.ec.storefront = window.ec.storefront || Object();
										window.ec.storefront.product_details_show_share_buttons = false;
										window.ec.storefront.product_details_show_qty = true;
										window.ec.storefront.product_details_show_in_stock_label = false;
										window.ec.storefront.show_breadcrumbs = false;

										function scrollTo(selector) {
												const elem = document.querySelector(selector);
												const bodyRect = document
														.body
														.getBoundingClientRect();
												const elemRect = elem.getBoundingClientRect();
												const offset = elemRect.top - bodyRect.top;
												window.scroll(0, offset);
												return false;
										}

										Ecwid
												.OnPageSwitch
												.add(function (page) {
														if (page.type === "CATEGORY") {
																scrollTo('#Section151');
																const cart = document.querySelector('.ec-cart--empty');
																if (cart) 
																		cart.style["display"] = "none";
																return false;
														}
												});

										Ecwid.refreshConfig();
								</script>
								<style>
										.product-details__sidebar {
												text-align: center !important;
												text-align: -moz-center !important;
												text-align: -webkit-center !important;
										}

										#ProductBrowser-1 {
												min-height: auto !important;
										}

										.form-control {
												text-align: center !important;
												text-align: -moz-center !important;
												text-align: -webkit-center !important;
										}

										.ec-form__row--continue .form-control--done {
												text-align: left !important;
										}

										.form-control button.form-control__button {
												color: #ffffff !important;
												background-color: #fd7d57 !important;
												border-color: transparent !important;
												background: linear-gradient(135deg,#fd7d57,#f55d59) !important;

												border: 0 !important;
												border-radius: 30px !important;
												font-weight: 500 !important;
												padding-left: 36px !important;
												padding-right: 36px !important;

												width: auto !important;
												font-size: 14px !important;
										}

										.form-control button.form-control__button:hover {
												background: #fd7d57 !important;
												background: linear-gradient(155deg, #fd7d57, #fd7d57) !important;
										}

										img.ecwid-PaymentMethodsBlockSvg {
												background: #fff !important;
										}

										.ec-cart__button--apple-pay {
												text-align: center !important;
												text-align: -moz-center !important;
												text-align: -webkit-center !important;
										}

										.ec-cart__button--apple-pay .form-control--button {
												border: 1px #fff solid !important;
												padding-left: 36px !important;
												padding-right: 36px !important;
												border-radius: 30px !important;
												width: 170px !important;
												margin: 0 auto !important;
												position: relative !important;
										}
								</style>
						</div>

				</div>

				<div class="t3-section">
						<div class="module-title-wrap">
								<div class="sub-heading ja-animate" data-animation="move-from-right" data-delay="400">
										<span>寄付金についてのご質問がある方はご連絡下さい</span>
								</div>
								<div class="t3-section action ja-animate" data-animation="move-from-right" data-delay="600">
										<a class="btn btn-primary" href="mailto:info@namtba.com">お問合せ</a>
								</div>
						</div>
				</div>

		</div>

{% endblock %}
