---
title: Turbo Levo SL LTD Blind Auction
description: Here is your chance to get your hands on this 1 of 50 Soil Searching edition Specialized Turbo Levo SL LTD, and to support the Niseko Area Mountain Bike Association (NAMBA). Win a bike and support trails!
og:
  image: /assets/images/prizes/levo-01.jpg
---

<style>

  .project-info {
    text-align: center;
  }

  .project-info .sponsors {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .project-info .sponsors a {
    margin: 0 5px;
  }

  .project-info .sponsors img {
    margin-bottom: 10px;
    height: 50px;
  }

  .project-info .small {
    font-style: italic;
    font-size: 75%;
    margin-top: 30px;
  }

  .gold {
    color: #ffd97b;
    font-size: 12px !important;
    font-family: "Metropolis", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-top: 30px;
  }

  .owl-nav button span {
    opacity: 0.5;
  }

  .owl-nav button span:before {
    color: #fd7d57;
    font-size: 35px;
    background: linear-gradient(135deg, #fd7d57, #f55d59);
    background-clip: text;
    display: inline-block;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    text-indent: 1px;
  }

  .owl-nav button span:hover {
    opacity: 0.8;
  }

  .owl-nav {
    text-align: center;
    margin-top: 15px;
  }

  .owl-nav .owl-next {
    margin-left: 15px;
    /*float: right;*/
  }
</style>


<div class="item-page view-project ">

  <!-- Article -->
  <article>
    <div class="pull-left item-image">
      <img
        src="/assets/images/prizes/levo-01.jpg"
        alt=""
        itemprop="image" />
    </div>

    <!-- Aside -->
    <div class="article-detail">
      <div class="project-info col">
        <h4>Soil Searching Turbo Levo SL Comp Carbon</h4>
        <div class="sponsors">
          <a href="https://www.specialized-onlinestore.jp/" target="_blank">
            <img
              src="/assets/images/company/other/specialized-s.png"
              alt="Specialized Bicycles"
              style="width: 50px; height: auto;" />
          </a>
        </div>
        <p style="font-size:125%;">
          <strong>NEVER FOR SALE</strong>
        </p>
        <p class="gold" style="margin-top:30px;">Fully custom limited edition paint job</p>
        <p class="gold">Specialized SL 1.2 Motor</p>
        <p class="gold">Fox 36 Rhythm Fork</p>
        <p class="gold">Fox Float Evolution Shock</p>
        <p class="gold">29" Front & 27.5” Back Wheels</p>
        <p class="gold">Specialized Soil Searching tires</p>
        <p class="gold">SRAM Eagle drive train</p>
        <p class="gold">SRAM Code brakes</p>
        <p class="gold">Carbon frame</p>
        <p class="gold">S3 size</p>
        <div class="list-group">
          <p class="list-group-item-text">
            <p>
              <a
                class="btn btn-sm btn-primary"
                href="https://docs.google.com/forms/d/e/1FAIpQLSfz2iIouNhpD0rInJmRgxO3yADtOi-8DtNVeT11JQemXqqutg/viewform"
                target="_blank">Bid now</a>
            </p>
          </p>
        </div>
        <p class="small">The bike is available for immediate collection in Niseko, or for postage within Japan. Should a winner be unable to collect the bicycle immediately, storage for up to 6 months is available in Niseko.</p>
        <div class="sponsors">
          <a href="https://www.specialized.com/jp/en/soil-searching" target="_blank">
            <img
              src="/assets/images/company/other/soil-searching.png"
              alt="Specialized Bicycles"
              style="width: 100px; height: auto;" />
          </a>
        </div>
      </div>
      <!-- // Aside -->

      <section class="article-content clearfix" itemprop="articleBody">

        <p>Here is your chance to get your hands on this
          <strong>1 of 50</strong>
          Soil Searching edition Specialized Turbo Levo SL LTD, and to support the Niseko Area Mountain Bike Association (NAMBA). Win a bike and support trails!</p>
        <p>All proceeds from this blind auction will go to NAMBA and our Twin Peaks Bike Park. The winner will be contacted by email on 17th September 2023. (Wondering what a blind auction is? Check out our
          <a href="#qa">Q&A section</a>
          below)</p>

        <div class="module-title-wrap" style="max-width:900px;">
          <div class="action">
            <a
              class="btn btn-primary"
              href="https://docs.google.com/forms/d/e/1FAIpQLSfz2iIouNhpD0rInJmRgxO3yADtOi-8DtNVeT11JQemXqqutg/viewform"
              target="_blank">Bid now</a>
          </div>
          <p style="text-align:center; font-size:90%; margin-top:30px;">Entry is open from 2nd September 2023 until 16th September 2023.</p>
        </div>

        {% include carousel.html images=site.data.prizes.levo.images items=1 id=1 %}

        <h3>About Soil Searching</h3>

        <p>
          <strong>Why not sponsor trail builders like athletes?</strong>
        </p>

        <p>Specialized does. The Soil Searching is a movement to recognize, celebrate, and support the trail builders – the unsung heroes of mountain biking, building and shaping our sport.</p>
        <p>Soil Searching is proud to be supporting NAMBA’s trail builders, kitting them out with the bikes and apparel they need to dig (and ride!) the trails at the Twin Peaks Bike Park.</p>
        <p>Dig days, such as Soil Searching in Niseko, create community, impart knowledge and welcome riders of all ages and abilities to the sport. These outcomes align with NAMBA’s mission of creating, enhancing, maintaining, and protecting great places to ride in Niseko.</p>


        <p><img src="/assets/images/events/soil-searching/ss03.jpg" alt="" /></p>

        <h3>The Mountain Guardian; 山守人</h3>

        <p>Fully custom limited edition paint job. Never for sale.</p>

        {% include carousel.html images=site.data.prizes.levo.paint.images items=2 autoplay = 'false' id=2 %}

        <h4>About NAMBA</h4>

        <p>
          <strong>Building trails and community</strong>
        </p>

        <p>NAMBA (Niseko Area Mountain Bike Association) is a registered nonprofit organization uniting the Niseko area towards the common mission of creating a world class sustainable mountain bike community, and off-road biking ecosystem.</p>
        <p>The organization is well underway on their first project, the Twin Peaks Bike Park – this is a professionally built and maintained, free-to-ride trail network located in the resort area of Niseko, Japan. Once all phases of the project are completed, the park is expected to be home to some 30 kms of trails, making it Japan’s largest community bike park.</p>
        <p>Beyond Twin Peaks, NAMBA’s masterplan for the area seeks to create an interconnected web of trails encompassing everything from beginner skills areas, to 50+ km backcountry epic trails, to lift accessed bike parks and everything in between.</p>
        <p>We invite you to register to join our nonprofit, and hope to see you out on the trails soon!</p>


        <div class="module-title-wrap" style="max-width:900px;">
          <div class="t3-section action">
            <a
              class="btn btn-primary"
              href="https://docs.google.com/forms/d/e/1FAIpQLSfz2iIouNhpD0rInJmRgxO3yADtOi-8DtNVeT11JQemXqqutg/viewform"
              target="_blank">Bid now</a>
          </div>
          <p style="text-align:center; font-size:90%;">Entry is open from 2nd September 2023 until 16th September 2023.</p>
        </div>

        <h3>
          <a id="qa">Q&A section</a>
        </h3>

        <p>
          <strong>Q1: What is a blind auction?</strong>
        </p>
        <p>A blind auction is a unique bidding process where participants submit their bids without knowing the bids of other participants. Bidders are only aware of their own bids and the highest bid wins the auction. This approach adds an element of excitement and strategy to the auction process.</p>

        <p>
          <strong>Q2: How does the payment work?</strong>
        </p>
        <p>Only the highest bidder, also known as the winner, will be required to pay the amount they bid. Bidders who do not win the auction will not be charged anything.</p>

        <p>
          <strong>Q3: Can the bike be shipped anywhere in Japan?</strong>
        </p>
        <p>Absolutely! We offer the convenience of shipping the bike to the winner's preferred location anywhere in Japan. Alternatively, if the winner prefers, they can collect the bike in person from our location in Niseko.</p>

        <p>
          <strong>Q4: What happens to the money from the winning bid?</strong>
        </p>
        <p>The entire winning amount will be directed towards supporting the NPO NAMBA. NPO NAMBA is a non-profit organization dedicated to building trails and community here in Niseko through their free-to-ride bike park, the Twin Peaks Bike Park.</p>

        <p>
          <strong>Q5: How can I participate in the blind auction?</strong>
        </p>
        <p>Participating in the blind auction is easy. Simply visit our website, enter in your details into the bidding form, and place your bid on the item you're interested in. Remember, your bid will remain confidential throughout the auction.</p>

        <p>
          <strong>Q6: Is there a minimum bid or reserve requirement?</strong>
        </p>
        <p>Yes, there is a minimum bid – but just like the blind auction bids, this amount is not advertised.</p>

        <p>
          <strong>Q7: Can I change my bid after I've placed it?</strong>
        </p>
        <p>Yes! You can enter in a second bid if it is a greater amount than your first bid. Bids lower than your initial bid will not be accepted.</p>

        <p>
          <strong>Q8: How will I know if I've won an item?</strong>
        </p>
        <p>At the end of the auction, winners will be notified via email and announced on the auction website. If you are the highest bidder on an item, you'll receive instructions on how to complete the payment process.</p>

        <p>
          <strong>Q09: How long do I have to pay?</strong>
        </p>
        <p>The winning bidder will have 10 business days to pay their winning bid. If the payment is not made within this time frame, their bid is forfeit and the next highest bidder will be contacted.</p>

        <p>
          <strong>Q10: Can I support NPO NAMBA without participating in the auction?</strong>
        </p>
        <p>Absolutely! If you'd like to support NAMBA without participating in the auction, you can make a direct donation through our website, become a member, buy merch, and join volunteer days. Your generosity contributes to our mission, and helps us build trails!</p>


      </section>

    </div>
  </article>
  <!-- //Article -->
</div>

<script>

  (function($) {
    $("a[href$='#qa']").on('click', function() {
      $("html, body").animate({
        scrollTop: $("#qa").offset().top
      }, 500);
      return false;
    });
  })(jQuery);
</script>
