@font-face {
    font-family: 'Metropolis';
    src: url('metropolis-bold-webfont.woff2') format('woff2'),
         url('metropolis-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis-light-webfont.woff2') format('woff2'),
         url('metropolis-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Metropolis';
    src: url('metropolis-medium-webfont.woff2') format('woff2'),
         url('metropolis-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis-regular-webfont.woff2') format('woff2'),
         url('metropolis-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}