---
noindex: true
permalink: /sitemap.xml
layout: blank
---
<? xml version="1.0" encoding="UTF-8" ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {% for page in site.pages -%}

    {%- assign index = false -%}

    {%- if page.lang == "en" -%}
      {% unless page.noindex %}
        {% unless page.canonical %}
          {% if page.url != "/feed.xml" and page.url != "/assets/css/style.css" %}
            {% assign index = true %}
          {% endif %}
        {% endunless %}
      {% endunless %}
    {%- endif -%}

    {%- if index %}
      <url>
        <loc>https://namba.ngo{{ page.url }}</loc>
        <xhtml:link
          rel="alternate"
          hreflang="en"
          href="https://namba.ngo{{ page.url }}" />
        <xhtml:link
          rel="alternate"
          hreflang="ja"
          href="https://namba.ngo/ja{{ page.url }}" />
      </url>
    {% endif -%}
  {%- endfor -%}

  {% for page in site.posts -%}

    {%- assign index = false -%}

    {%- if page.lang == "en" -%}
      {% if page.layout == "job" %}
        {% assign index = page.isOpen %}
      {% elsif page.layout == "event" %}
        {% unless page.draft %}
          {% assign index = true %}
        {% endunless %}
      {% elsif page.layout == "competition" %}
        {% assign index = true %}
      {% endif %}
    {%- endif -%}

    {%- if index %}
      <url>
        <loc>https://namba.ngo{{ page.url }}</loc>
        <xhtml:link
          rel="alternate"
          hreflang="en"
          href="https://namba.ngo{{ page.url }}" />
        <xhtml:link
          rel="alternate"
          hreflang="ja"
          href="https://namba.ngo/ja{{ page.url }}" />
      </url>
    {% endif -%}
  {%- endfor %}
</urlset>
