{% set lang = 'ja' %}
{% set title = '個人情報にかかる保護方針' %}
{% set pathSegments = ['privacy'] %}

{% extends "layout.njk" %}

{% block content %}
		<div class="module-title-wrap">
				<div class="sub-heading">
						<span>私どもニセコエリアマウンテンバイク協会は、当ウェブサイトの閲覧者様のプライバシー保護の確保に取り組んでいます。この方針は、皆様の個人情報をどのようにお取り扱いするかについて定めるものです。</span>
				</div>
		</div>

		<p>当ウェブサイトでは、Cookie（クッキー）を使用しています。当ウェブサイトをご利用いただき、当方針に同意頂くことにより、私どもが当方針の諸条件に従いCookieを利用することにご同意頂いたものとさせて頂きます。</p>

		<h3>1. 当サイトで収集する情報について</h3>

		<p>以下のような個人情報を収集、保存および利用させて頂くことがございます:</p>

		<ol>
				<li>皆様のコンピュータについて、および当ウェブサイトの閲覧・ご利用についての情報（IPアドレス、地理的情報、ブラウザの種類やヴァージョン、OS、照会元、閲覧時間、ページビュー（アクセス）数およびウェブサイトのナビゲーション状況を含む）</li>
				<li>当ウェブサイトにてまたは当サイトに関連して皆様との間で履行するお取引に関する情報（私どもの物件またはサービスを皆様にご購入頂く場合の関連情報を含む）</li>
				<li>ご登録いただくに当たってご提供いただく情報</li>
				<li>当ウェブサイトの各種サービス、電子メール通知もしくはニュースレターに登録する目的でご提供いただく情報</li>
				<li>皆様から私どもへお寄せいただく、その他の情報</li>
		</ol>

		<h3>2. Cookie（クッキー）について</h3>

		<p>Cookieとは、ウェブサーバーからウェブブラウザに送信されブラウザによって保存される、識別子（文字と数字で構成される文字列）を持ったファイルです。識別子はその後、ブラウザがサーバーにページを要求する度にサーバーに送り戻されます。これによって、ウェブサーバーはウェブブラウザを識別して追跡管理することができます。<p>

						<p>当ウェブサイトでは、「一時的（セッション）」Cookieと「持続性（パーシスタント）」Cookie、両タイプのCookieを使用することがあります。一時的Cookieは、皆様がブラウザを閉じる時点で皆様のコンピューターから削除されます。持続性Cookieは、削除されるまで、または指定された有効期限になるまで、皆様のコンピューターに保存されたままとなります。</p>

						<p>皆様が当ウェブサイト内でナビゲーション操作をおこなっている間は、一時的Cookieを用いて追跡致します。買物かごの中身を追跡し、詐欺を防止してウェブサイトの安全性を高めます。また、持続性Cookieを使用することで、閲覧者様が当サイトにアクセスされたときに認識し、サイトのご利用に関して皆様の嗜好を把握することができます。</p>

						<p>当ウェブサイトではさらに、サイトの利用状況を分析するためにGoogleアナリティクスを利用しています。 Googleアナリティクスは、ご利用者のコンピューターに保存されたCookieを使用して、ウェブサイト利用状況に関する統計などの情報を生成します。当ウェブサイトに関して生成された情報は、当サイトの利用状況に関するレポート作成に利用されます。この情報はGoogleが保存します。Googleの個人情報保護方針につきましてはGoogleの<a href="http://policies.google.com/privacy?hl=ja" target="blank">個人情報保護方針</a>をご覧ください。</p>

						<p>大半のブラウザでは全てのCookieを受け取り拒否することが可能ですが、ブラウザによってはサードパーティのCookieしか受け取り拒否ができません。例えば、インターネット・エクスプローラ（ヴァージョン9）では、[ツール]→[インターネットオプション]→[プライバシー]とクリックし、スライダーを使用して[すべてのCookieをブロックする]を選択すれば、全てのCookieの受け取りを拒否することが可能です。但し、すべてのCookieをブロックすると、利便性に悪影響を及ぼし、当サイトを含め多くのウェブサイトは使い難くなります。</p>

						<h3>3. 閲覧者の皆様の個人情報の利用について</h3>

						<p>当ウェブサイトで私どもに送信された個人情報は、この個人情報保護方針または当サイト内の関連部分で規定された目的に利用させて頂きます。</p>

						<p>皆様の個人情報は、以下の目的で利用させて頂くことがあります:</p>

						<ol>
								<li>ウェブサイトを管理するため</li>
								<li>ウェブサイトをパーソナル化によりカスタマイズして、皆様の閲覧の利便を図るため</li>
								<li>ウェブサイトの各種サービスをご利用頂けるようにするため</li>
								<li>ウェブサイトでご購入されたサービスをご提供するため</li>
								<li>明細書および請求書をご送付し、お支払いを徴収するため</li>
								<li>一般的な（営業的内容でない）商用通信を送信するため</li>
								<li>特にご要望があった電子メール通知を送信するため</li>
								<li>ニュースレターおよびその他、皆様それぞれにご関心やご興味をお持ちいただけそうな業務内容に関する営業・販促通信を郵送、あるいは特にご同意いただいた場合は電子メールなどの送信方法で送付するため（但し、営業・販促通信はご案内不要となった場合は、その旨ご通知いただければ、いつでも送付を停止させて頂きます）。</li>
								<li>ご利用者に関する統計情報をサードパーティに提供するため（但し、当該情報は各ご利用者個人を特定するために利用することは致しません）。</li>
								<li>当ウェブサイトに関して閲覧者の皆様から、または皆様に関して寄せられたお問い合わせ及び苦情に対応させて頂くため。</li>
								<li>当ウェブサイトのセキュリティ維持及び詐欺防止のため</li>
								<li>当ウェブサイトのご利用を定める諸条件の遵守の確認のため[(当ウェブサイトのプライベート・メッセージング・サービスにより送信されたプライベート・メッセージの監視を含む)];</li>
						</ol>

						<p>閲覧者の皆様の個人情報は、皆様より明示された同意のない限り、ダイレクトマーケティングの目的で第三者に提供することは致しません。</p>

						<p>当ウェブサイトの金銭的取引は全て、私どもの決済代行業者であるStripeを通じて処理されています。Stripeの<a href="https://stripe.com/privacy" target="blank">個人情報保護方針</a>をご覧ください。同社との情報の共同利用は、当ウェブサイトからの皆様によるお支払いの処理、当該支払いの払戻し、かかる支払いや払い戻しに関する苦情や問い合わせに対する対応という目的のために必要な範囲に限っておこないます。</p>

						<h3>
								4. 情報開示</h3>

						<p>私どもは、この個人情報保護方針において明記された目的のために合理的に必要な限りにおいて、皆様の個人情報を私どもの従業員、役員、代理店、供給業者または下請業者に開示することがあります。</p>

						<p>さらに、私どもは以下の場合に、皆様の個人情報を開示することがあります:</p>

						<ol>
								<li>法律により開示するよう要求された範囲において</li>
								<li>現在進行中または将来予想される訴訟手続に関連した場合</li>
								<li>私どもの法律上の権利を確立、行使するかまたは守るため（詐欺防止および信用リスク軽減のために他人に情報を提供することを含む）</li>
								<li>私どもが販売中の（または販売を検討している）事業または資産のご購入者（または将来ご購入者となる方）に対して開示する場合</li>
								<li>私どもの合理的な意見において裁判所や官庁が当該個人情報の開示を当然命ずると考えられる場合に、かかる個人情報の開示に関して裁判所またはその他の所轄官庁に申請する可能性があると当然考えられる人に対して開示する場合</li>
						</ol>

						<p>この個人情報保護方針に規定する場合を除いては、私どもが皆様の情報を第三者に提供することはありません。</p>

						<h3>5. 海外へのデータ転送</h3>

						<p>私どもが収集した情報は、この個人情報保護方針にもとづき情報を活用することができるように、私どもが営業をおこなっている各国内で保存および処理され、また各国間で転送することがあります。</p>

						<p>閲覧者の皆様には、かかる個人情報の転送に明示的にご同意いただいているものとします。</p>

						<h3>6. 皆様の個人情報の安全性</h3>

						<p>私どもは、皆様の個人情報の紛失、悪用および改ざんを防止するために、技術面および組織面において合理的な予防措置を講じます。</p>

						<p>寄付金及びその他購入時に必要とする個人情報はEcwidにより安全に保管されます。Ecwidの<a href="https://www.ecwid.com/privacy-policy" target="blank">個人情報保護方針</a>をご覧ください。</p>

						<p>当ウェブサイトを通じて行なわれる電子取引はすべて、暗号化技術によって保護されます。</p>

						<p>ただし、インターネットを経由した情報の伝送は本質的にセキュリティが完全ではないため、私どもはインターネット経由で送信されるデータのセキュリティを保証することはできませんのでご了承ください。</p>

						<p>皆様のパスワード[およびその他のログインに必要な情報]の機密保持は皆様の自己責任で管理してください。 私どもから皆様にパスワードをお聞きすることはありません（皆様が当ウェブサイトにログインされる時のみです）。</p>

						<h3>7. 個人情報保護方針の変更</h3>

						<p>私どもはこの個人情報保護方針を随時更新する可能性があり、その場合は本サイトに新しい個人情報保護方針を掲載させていただきます。 変更があった場合に常にご確認いただけますよう、時々このページをご覧いただけますようお願い致します。</p>

						<p>また、私どもの個人情報保護方針の変更につきましては、私どもから電子メールでもお知らせをすることがあります。</p>

						<h3>8. 皆様の権利</h3>

						<p>私どもは、皆様より提供された個人情報に関しての利用停止または削除のご請求があった場合には、必要な範囲において対応いたします。</p>

						<p>当社におけるマーケティング目的でのお客様の情報の共有を停止するご請求があった場合は、個人情報を当社データベースより無効化いたします。
						</p>

						<h3>9. 第三者機関のウェブサイトについて</h3>

						<p>当ウェブサイトには、他ウェブサイトのリンクが含まれています。第三者のウェブサイトの個人情報保護方針および慣行には、私どもは責任を負わないものとします。</p>

						<h3>10. 情報の更新</h3>

						<p>私どもが保持している皆様に関する個人情報を訂正または更新する必要がございましたら、お知らせ下さい。</p>

						<h3>11. ご連絡先</h3>

						<p>この個人情報保護方針または私どもによる貴個人情報の取り扱いについてご質問などございましたら、電子メールにてinfo@namtba.com にご連絡下さい。または、特定非営利活動法人Ｎｉｓｅｋｏ Ａｒｅａ Ｍｏｕｎｔａｉｎ Ｂｉｋｅ Ａｓｓｏｃｉａｔｉｏｎ にご郵送下さい（宛先： 〒044-0001北海道虻田郡倶知安町北一条東 １丁目４番地木村食堂）。</p>

						<h3>12. データの管理責任者</h3>

						<p>当ウェブサイトに関して収集する情報についてのデータ管理責任者は、特定非営利活動法人 Ｎｉｓｅｋｏ Ａｒｅａ Ｍｏｕｎｔａｉｎ Ｂｉｋｅ Ａｓｓｏｃｉａｔｉｏｎです。</p>
				{% endblock %}
