---
title: イベント
# subtitle: Come ride some bikes
# description: Something something
baseCss: view-category
---
<div
  class="blog style-1 project-view"
  itemscope=""
  itemtype="https://schema.org/Blog">

  {% assign posts = site.categories.events | where: "lang", "ja" | where: "draft", "false" %}
  {% for post in posts %}

    {% assign indexModulo3 = forloop.index0 | modulo: 3 %}
    {% if indexModulo3 == 0 %}
      <div class="items-row cols-3 row-{{- forloop.index0 | divided_by: 3 }} row equal-height equal-height-child">
      {% endif %}


      <div class="col-md-4 col">
        <div
          class="item column-1"
          itemprop="blogPost"
          itemscope=""
          itemtype="https://schema.org/BlogPosting"
          style="min-height: 529px;">


          <!-- Article -->
          <article class="view-project">
            <div class="image-wrap" style="margin-top:10px;">
              <div class="pull-left item-image">
                <a href="{{ post.url }}"><img
                    src="{{ post.thumbnail }}?d={{ site.time | date: '%s' }}"
                    alt=""
                    itemprop="thumbnailUrl"></a>
              </div>
            </div>

            <div class="intro-wrap">

              <header class="article-header clearfix">
                <h2 class="article-title" itemprop="headline">
                  <a
                    href="{{ post.url }}"
                    itemprop="url"
                    title="{{ post.title }}">
                    <span class="ja">{{ post.titleHtml | default: post.title }}</span></a>
                </h2>

              </header>
              <span class="project-type"><i class="fa-regular fa-calendar"></i> {{ post.startDate | date: "%Y年%m月%d日" }}</span>
              <br />
              {% comment %} <span class="project-type">{{ post.excerpt | strip_html | slice: 0, 100 }} ...</span> {% endcomment %}


            <!-- Aside -->
              <!-- //Aside -->


              <!-- footer -->
              <!-- //footer -->


            </div>
            {% assign days = post.days | times: 24 | times: 60 | times: 60 %}
            {% assign endDate = post.startDate | date: "%s" | plus: days | date: "%F" %}
            {% assign today = "today" | date: "%F" %}
            {% if endDate > today %}
              {% if post.cancelled %}
              <div class="ribbon ribbon-top-left cancelled" name="cancelled" data-end-date="{{- endDate -}}"><span>キャンセル</span></div>
              {% endif %}
            <div class="ribbon ribbon-top-left" style="display:none;" name="ended" data-end-date="{{- endDate -}}">
              <span>終了</span></div>
            {% else %}
            <div class="ribbon ribbon-top-left"><span>終了</span></div>
            {% endif %}
          </article>
          <!-- //Article -->



        </div>
        <!-- end item -->
      </div>

      {% if indexModulo3 == 2 or forloop.last %}
      </div>
      <!-- end row -->
    {% endif %}

  {% endfor %}

</div>

<script type="text/javascript">
  (function ($) {
    // Add ended ribbon
    $('div[name="ended"]').each(function () {
      var endDate = new Date($(this).data("end-date"));
      var now = new Date();
      if (endDate.getTime() < now.getTime()) {
        $(this).show();
      }
    });
    $('div[name="cancelled"]').each(function () {
      var endDate = new Date($(this).data("end-date"));
      var now = new Date();
      if (endDate.getTime() < now.getTime()) {
        $(this).hide();
      }
    });
  })(jQuery);
</script>
