{% set lang = 'ja' %}
{% set title = '協賛のご案内' %}
{% set pathSegments = ['get-involved', 'partner'] %}

{% extends "layout.njk" %}

{% block content %}
		<style>
				.benefits .col {
						width: 100%;
				}
				.benefits .col .features-item {
						padding: 72px 54px;
				}
				@media (min-width: 992px) {
						.benefits .col {
								width: 20%;
						}
						.benefits .col .features-item {
								padding: 62px 35px;
						}
						.benefits .col .features-item .font-icon span:before {
								font-size: 96px;
						}
						.benefits .col .features-item h4 {
								min-height: 115px;
						}
				}
				@media (min-width: 768px) {
						.benefits .col {
								padding-right: 8px;
								padding-left: 8px;
						}
						.benefits .col .features-item {
								padding: 62px 25px;
						}
						.benefits .col .features-item .font-icon span:before {
								font-size: 76px;
						}
						.benefits .col .features-item h4 {
								font-size: 18px;
						}
				}

				table.levels {
						margin-left: auto;
						margin-right: auto;
				}
				table.levels td,
				table.levels th {
						border: 4px solid #000;
						vertical-align: middle;
				}
				table.levels th {
						color: #ffd97b;
						font-size: 12px;
						font-family: "Metropolis",Helvetica,Arial,sans-serif;
						font-weight: 700;
						text-transform: uppercase;
						letter-spacing: 0;
						padding: 12px 10px 12px 0;
				}
				table.levels th.fst {
						text-align: right;
						display: none;
				}
				table.levels th.row {
						text-align: center;
				}
				table.levels td {
						background-color: #0e0e0e;
						text-align: center;
						padding: 10px 15px;
						font-weight: 700;
				}
				table.levels td .font-icon span:before {
						font-size: 36px;
						color: #fd7d57;
						background: linear-gradient(135deg,#fd7d57,#f55d59);
						background-clip: text;
						display: inline-block;
						-webkit-background-clip: text;
						text-fill-color: transparent;
						-webkit-text-fill-color: transparent;
						font-weight: 400;
						text-indent: 1px;
				}
				table.levels td.hd {
						background-color: #000;
				}
				table.levels td h4 {
						font-weight: 500;
				}
				table.levels td strong {
						font-weight: 900;
				}
				table.levels td.none {
						background-color: #0e0e0e;
				}
				table.levels td.none:before {
						content: "✖︎";
				}

				@media (min-width: 600px) {
						table.levels td {
								padding: 10px 15px;
						}
						table.levels th.fst {
								display: block;
						}
						table.levels th.row {
								display: none;
						}
						table.levels td.none {
								background-color: #000;
						}
						table.levels td.none:before {
								content: "";
						}
				}

				@media (min-width: 768px) {
						table.levels td {
								padding: 10px 30px;
						}
						table.levels td .font-icon span:before {
								font-size: 46px;
						}
				}

				@media (min-width: 992px) {
						table.levels td {
								padding: 10px 50px;
						}
						table.levels td .font-icon span:before {
								font-size: 56px;
						}
				}

				.gold {
						color: #ffd97b;
						font-size: 12px !important;
						font-family: "Metropolis",Helvetica,Arial,sans-serif;
						font-weight: 700;
						text-transform: uppercase;
						letter-spacing: 0;
						margin-top: 30px;
				}
		</style>

		<div class="t3-section-wrap">

				<div class="section">

						<div class="module-title-wrap">
								<h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="200">私たちの一員として活動しませんか</h3>
						</div>
						<div class="module-title-wrap" style="max-width:900px;">
								<div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="400">
										<div style="font-size:150%;">
												<span>NAMTBAは、助成金、寄付金、そしてパートナーシップにより支えられており、大袈裟に聞こえるかもしれませんが、公共への無料開放を目指すの双子山バイクパークのようなトレイルやその他バイクパークは、資金サポート無くして実現は困難です。</span>
										</div>
								</div>
						</div>
						<div class="module-title-wrap" style="max-width:900px;">
								<div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="600">
										<div style="font-size:150%;">
												<span>NAMTBAをサポートしていただくことで、個人ブランドやビジネスがマウンテンバイク振興に貢献し、発展途上地方、国、地域の市場で身近なスポーツとして認知度を拡大できます。これにより皆様のビジネスは、日本、中国、シンガポール、またマレーシアなどの市場への扉であるニセコと繋がりができ、NAMTBAと日本のマウンテンバイクの沿革の一部となるでしょう。</span>
										</div>
								</div>
						</div>
						<div class="module-title-wrap" style="max-width:900px;">
								<div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="800">
										<div style="font-size:150%;">
												<span>コミュニティと皆様のビジネスのために行動を：コア市場を成長させ、新市場の開拓や獲得を目指しましょう。そして立ち上がったばかりの私たちをサポートいただき皆様のブランドストーリーに役立てて下さい。</span>
										</div>
								</div>
						</div>
				</div>

				<div class="t3-section acm-features style-2">
						<div class="module-title-wrap">
								<h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="200">パートナーシップ ベネフィット</h3>
						</div>
						<div class="row equal-height equal-height-child benefits">
								<div class="col col-sm-12">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-0" style="min-height: 696px;">
												<div class="font-icon">
														<span class="icon ion-ios-camera"></span></div>
												<h4>認定</h4>
												<p style="margin-top:10px;">NAMTBAのサポーターとして認定されます。</p>
										</div>
								</div>
								<div class="col col-sm-12">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-0" style="min-height: 696px;">
												<div class="font-icon">
														<span class="icon ion-ios-bicycle"></span></div>
												<h4>今後のインフラ整備</h4>
												<p style="margin-top:10px;">トレイル、スキルパーク、ビューイングステーション、ウォーキングトレイル、ランニングトレイル、看板、スノーシュートレイルなどのインフラを提供する予定です。</p>
										</div>
								</div>
								<div class="col col-sm-12">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-1" style="min-height: 696px;">
												<div class="font-icon">
														<span class="icon ion-ios-leaf"></span></div>
												<h4>有形固定資産</h4>
												<p style="margin-top:10px;">あなたの寄付は、将来にわたって使用される、公共の財産のために使われることとなります。その財産は成長、進化、改善を繰り返し次の世代へと引き継がれる公共の財産となります。</p>
										</div>
								</div>
								<div class="col col-sm-12">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-2" style="min-height: 696px;">
												<div class="font-icon">
														<span class="icon ion-ios-chatbubbles"></span></div>
												<h4>活動への参加</h4>
												<p style="margin-top:10px;">会員の皆様には、トレイル造成工事への参加方法、貢献方法などの情報をお届けします。</p>
										</div>
								</div>
								<div class="col col-sm-12">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-3" style="min-height: 696px;">
												<div class="font-icon">
														<span class="icon ion-ios-trending-up"></span></div>
												<h4>閑散期の観光客の増加に寄与</h4>
												<p style="margin-top:10px;">トレイルは、雪解け後から晩秋の雪が降るまで使用することができます。</p>
												<p></p>
										</div>
								</div>
						</div>
				</div>

				<div class="t3-section acm-features style-2">
						<div class="module-title-wrap">
								<h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="200">パートナーシップ レベル</h3>
						</div>
						<div class="ja-animate" data-animation="move-from-bottom" data-delay="800">
								<table class="levels">
										<tbody>
												<tr>
														<th class="fst">
																<h4>&nbsp;</h4>
														</th>
														<td class="hd">
																<div class="font-icon">
																		<img style="width:150px;" alt="狸" src="/images/ico/tanuki.500.png"/>
																</div>
																<h4>狸</h4>
														</td>
														<td class="hd">
																<div class="font-icon">
																		<img style="width:150px;" alt="鹿" src="/images/ico/shika.500.png"/>
																</div>
																<h4>鹿</h4>
														</td>
														<td class="hd">
																<div class="font-icon">
																		<img style="width:150px;" alt="羆" src="/images/ico/higuma.500.png"/>
																</div>
																<h4>羆</h4>
														</td>
												</tr>
												<tr>
														<th class="row" colspan="4">空き状況</th>
												</tr>
												<tr>
														<th class="fst">空き状況</th>
														<td>受付数に制限はありません</td>
														<td>受付数に制限はありません</td>
														<td>
																<strong>10</strong>
														</td>
												</tr>
												<tr>
														<th class="row" colspan="4">年間コスト情報開示</th>
												</tr>
												<tr>
														<th class="fst">年間コスト情報開示</th>
														<td>5万円</td>
														<td>25万円</td>
														<td>¥50万円+</td>
												</tr>
												<tr>
														<th class="row" colspan="4">マウンテンバイクトレイルの使用</th>
												</tr>
												<tr>
														<th class="fst">マウンテンバイクトレイルの使用</th>
														<td>✔︎</td>
														<td>✔︎</td>
														<td>✔︎</td>
												</tr>
												<tr>
														<th class="row" colspan="4">ホームページへのロゴ掲載</th>
												</tr>
												<tr>
														<th class="fst">ホームページへのロゴ掲載</th>
														<td>✔︎</td>
														<td>✔︎</td>
														<td>✔︎</td>
												</tr>
												<tr>
														<th class="row" colspan="4">NAMTBAのマーケティング資料へのロゴ掲載</th>
												</tr>
												<tr>
														<th class="fst">NAMTBAのマーケティング資料へのロゴ掲載</th>
														<td class="none"></td>
														<td>
																<strong>S</strong>
														</td>
														<td>
																<strong>L</strong>
														</td>
												</tr>
												<tr>
														<th class="row" colspan="4">ニュースレターにて協賛企業の明記、紹介</th>
												</tr>
												<tr>
														<th class="fst">ニュースレターにて協賛企業の明記、紹介</th>
														<td class="none"></td>
														<td>✔︎</td>
														<td>✔︎</td>
												</tr>
												<tr>
														<th class="row" colspan="4">ソーシャルメディアへの投稿</th>
												</tr>
												<tr>
														<th class="fst">ソーシャルメディアへの投稿</th>
														<td class="none"></td>
														<td>
																<strong>1</strong>
														</td>
														<td>
																<strong>2</strong>
														</td>
												</tr>
												<tr>
														<th class="row" colspan="4">ウェブサイトバナーへのロゴ掲載</th>
												</tr>
												<tr>
														<th class="fst">ウェブサイトバナーへのロゴ掲載</th>
														<td class="none"></td>
														<td class="none"></td>
														<td>✔︎</td>
												</tr>
												<tr>
														<th class="row" colspan="4">トレイルヘッドの看板や地図にロゴを掲載</th>
												</tr>
												<tr>
														<th class="fst">トレイルヘッドの看板や地図にロゴを掲載</th>
														<td class="none"></td>
														<td class="none"></td>
														<td>✔︎</td>
												</tr>
												<tr>
														<th class="row" colspan="4">各企業５枠のNAMTBAメンバーシップ</th>
												</tr>
												<tr>
														<th class="fst">各企業５枠のNAMTBAメンバーシップ</th>
														<td class="none"></td>
														<td class="none"></td>
														<td>✔︎</td>
												</tr>
												<tr>
														<th class="row" colspan="4">限定版シードファンダーTシャツ5枚とステッカーパック</th>
												</tr>
												<tr>
														<th class="fst">限定版シードファンダーTシャツ5枚とステッカーパック</th>
														<td class="none"></td>
														<td class="none"></td>
														<td>✔︎</td>
												</tr>
										</tbody>
								</table>
						</div>
				</div>

				<div class="t3-section acm-features style-2">
						<div class="row equal-height equal-height-child">
								<div class="col col-sm-12 col-md-6">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-0" style="min-height: 696px;">
												<div class="font-icon">
														<span class="icon ion-ios-map"></span></div>
												<h4>トレイルのスポンサーになる</h4>
												<p style="margin-top:10px;">特定トレイルの建設工事とその<br/>維持にかかる5年間の費用援助
												</p>
												<p class="gold">トレイルに命名できる*</p>
												<p class="gold">トレイル進入表示版にスポンサーの名表記 例：<br/>”人生１度きり” by スポンサー 企業名</p>
												<p class="gold">羆パートナーシップの全特典を提供</p>
										</div>
								</div>
								<div class="col col-sm-12 col-md-6">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-1" style="min-height: 696px;">
												<div class="font-icon">
														<span class="icon ion-ios-analytics"></span></div>
												<h4>トレイル構成要素(個々)のスポンサーになる</h4>
												<p style="margin-top:10px;">例：トレイル、ループ、集合場所、障害物、<br/>また特徴あるトレイルの一部</p>
												<p class="gold">構成要素に命名できる*</p>
												<p class="gold">トレイル進入表示版にスポンサーの名表記 例：
														<br/>”遠すぎる橋” by スポンサー 企業名</p>
												<p class="gold">鹿パートナーシップの全特典を提供</p>
										</div>
								</div>
						</div>
						<p class="ja-animate" data-animation="move-from-bottom" data-delay="1600" style="text-align: center; font-size:90%;">*トレイル名は、マウンテンバイクの精神に沿ったものであり、またNAMTBAディレクターの承認が必要です。</p>
				</div>

				<div class="t3-section">
						<div class="module-title-wrap" style="max-width:900px;">
								<div class="features-desc ja-animate" data-animation="move-from-right" data-delay="400">
										<div style="font-size:150%;">
												<span>詳細情報、その他のご質問 （トレイル名、商品やサービスの提供など）は<br >下の”問合せる”からご連絡ください。お返事をさせていただきます。</span>
										</div>
								</div>
						</div>
						<div class="module-title-wrap">
								<div class="sub-heading ja-animate" data-animation="move-from-right" data-delay="600">
										<span>その他については、お気軽にお問い合わせください</span>
								</div>
								<div class="t3-section action ja-animate" data-animation="move-from-right" data-delay="1000">
										<a class="btn btn-primary" href="mailto:ashley.nicholls@namtba.com">問合せる</a>
								</div>
						</div>
				</div>
		</div>
{% endblock %}
