<!-- HERO -->
<div class="wrap t3-hero ">
  <div class="t3-module module " id="Mod98">
    <div class="acm-features style-1" style="background-image: url('/assets/images/bg/bg-hero.jpg');">
      <div class="container">
        <div class="features-item">
          <h1
            class="ja-animate"
            data-animation="move-from-bottom"
            data-delay="200">
            {% if page.lang == "en" %}Niseko Area Mountain Bike Association
            {% else %}
              <span class="ja">ニセコ<wbr>エリア<wbr>マウンテンバイク<wbr>協会</span>
            {% endif %}
          </h1>

          <p
            class="lead ja-animate"
            data-animation="move-from-bottom"
            data-delay="600"><img
              class="metal"
              src="/assets/images/logos/favicon.png"
              title="🤘" /></p>

          <p
            class="lead ja-animate"
            style="margin-top: 30px;"
            data-animation="move-from-bottom"
            data-delay="800">
            {% if page.lang == "en" %}Building trails and community.
            {% else %}
              <span class="ja">トレイルと<wbr>コミュニティーの<wbr>構築</span>
            {% endif %}
          </p>

          {% if page.lang == "en" %}
            <div
              class="btn-action ja-animate"
              data-animation="move-from-bottom"
              data-delay="1200">
              <a class="btn btn-primary" href="/raffle/">
                <span style="font-size:1.5em;">Click here to win a</span><br/>
                <img
                  src="/assets/images/company/other/specialized-wordmark-white.svg"
                  style='height:3em;'
                  alt='Specialized' /><br/>
                Soil Searching Stumpjumper Evo Expert!
              </a>
            </div>
          {% else %}
            <div
              class="btn-action ja-animate"
              data-animation="move-from-bottom"
              data-delay="1200">
              <a class="btn btn-primary" href="/ja/raffle/">
                <span class="ja" style="font-size:1.5em;">ここを<wbr>クリックして<wbr>応募</span><br/>
                <img
                  src="/assets/images/company/other/specialized-wordmark-white.svg"
                  style='height:3em;'
                  alt='スペシャライズド' /><br/>
                Soil Searching Stumpjumper Evo Expertを当てよう!
              </a>
            </div>
          {% endif %}
        </div>
      </div>

      <!-- Arrow -->
      <span
        id="next-section"
        class="icon-bottom ja-animate"
        data-animation="move-from-bottom"
        data-delay="1600"></span>
    </div>

    <div style="float: left; margin-left: 20px; margin-top: -9px; opacity: 0.2;">
      <small>📷
        <a href="https://www.rhythmjapan.com">@rhythm</a>
      </small>
    </div>

    <script>
      (function($) {
        $posNext = $('#next-section').offset().top + 72;

        $('#next-section').on('click', function() {
          $("html, body").animate({
            scrollTop: $posNext
          }, 900);
          return false;
        });
      })(jQuery);
    </script>
    <!-- BACK TO TOP BUTTON -->
  </div>
</div>
<!-- //SLIDESHOW -->
