<!-- MASTHEAD -->
<div class="wrap t3-masthead">
  <div class="ja-masthead" style="background-image: url('{{ page.masthead.img | default: '/assets/images/bg/bg-header.jpg' }}')">
    <div class="ja-masthead-detail">
      <h3 class="ja-masthead-title">{{ page.titleHtml | default: page.title }}</h3>
      {% if page.subtitle %}
        <div class="ja-masthead-description">{{ page.subtitle }}</div>
      {% endif %}
    </div>
    {% if page.masthead.credit %}
      <a
        class="ja-masthead-credit"
        href="{{ page.masthead.credit.url }}"
        target="_blank">
        📸 {{ page.masthead.credit.name }}</a>
    {% endif %}
  </div>
</div>
<!-- //MASTHEAD -->
