{% assign path = page.path | remove: "ja/" | remove: "index.html" %}
{% assign pathSegments = path | split: "/" %}
{% assign path0 = pathSegments.first | default: '' %}
{% assign path1 = pathSegments[1] %}

{% if page.lang == 'en' %}
  {% assign langPrefix = '/' %}
{% else %}
  {% assign langPrefix = '/' | append: page.lang | append: '/' %}
{% endif %}

<!-- LOGO -->
<div class="logo logo-image" style="position:relative;">
  <a
    href="{{ langPrefix }}"
    title="{% if page.lang == 'en' %}{{ site.data.nav.first.en }}{% else %}{{ site.data.nav.first.ja }}{% endif %}"
    style="">
    <img src="/assets/images/logos/logo.svg" />
  </a>
  <!--div style="position:absolute; width: 125px; right:0; bottom: -27px; text-align: right; font-size:10px; color:#ececec;">
  <img style="width:75px;" src="/assets/images/company/trek.png" />
  <small style="display:block; font-size:7px; float: left; margin-top: 4px; margin-right:1px;">supported by</small>
  </div--></div>
<!-- // LOGO -->

<!-- MAIN NAVIGATION -->
<nav id="t3-mainnav" class="wrap navbar navbar-default t3-mainnav">
  <div class="t3-navbar navbar-collapse collapse">
    <div
      class="t3-megamenu animate elastic"
      data-duration="500"
      data-responsive="true">
      <ul
        itemscope="itemscope"
        itemtype="http://www.schema.org/SiteNavigationElement"
        class="nav navbar-nav level0">

        {% for nav in site.data.nav %}
          {% assign navId = forloop.index %}
            <li
            itemprop='name'
            class="{% if path0 == nav.path %}current active {% endif %}{% if nav.sub %}dropdown {% endif %}mega{% if nav.isAction %} action{% endif %}"
            data-id="{{ navId }}0"
            data-level="1">
            {% comment %} <a itemprop='url' class="dropdown-toggle" href="{{ langPrefix }}projects" data-target="#" data-toggle="dropdown">Projects <em class="caret"></em></a>{% endcomment %}
            {% if nav.sub %}
              <span
                class=" dropdown-toggle separator"
                data-target="#"
                data-toggle="dropdown">
                {% if page.lang == 'en' %}
                  {{- nav.en -}}
                {% else %}
                  {{- nav.ja -}}{% endif %}
                <em class="caret"></em>
              </span>

              <div class="nav-child dropdown-menu mega-dropdown-menu">
                <div class="mega-dropdown-inner">
                  <div class="row">
                    <div class="col-xs-12 mega-col-nav" data-width="12">
                      <div class="mega-inner">
                        <ul
                          itemscope="itemscope"
                          itemtype="http://www.schema.org/SiteNavigationElement"
                          class="mega-nav level1">
                          {% for subNav in nav.sub %}
                            <li
                              itemprop='name'
                              class="{% if path1 == subNav.path %}current active{% endif %}{% if subNav.isAction %} action{% endif %}"
                              data-id="{{ navId }}{{ forloop.index }}"
                              data-level="2">
                              <a
                                itemprop='url'
                                class=""
                                {% if subNav.url %}
                                href="{{ subNav.url }}"
                                target="_blank"
                                {% else %}
                                href="{{ langPrefix | append: nav.path | append: '/' | append: subNav.path }}"
                                {% endif %}
                                data-target="#">
                                {% if page.lang == 'en' %}
                                  {{- subNav.en -}}
                                {% else %}
                                  {{- subNav.ja -}}{% endif %}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <a
                itemprop='url'
                class=""
                {% if nav.url %}
                href="{{ nav.url }}"
                target="_blank"
                {% else %}
                href="{{ langPrefix | append: nav.path }}"
                {% endif %}
                data-target="#">
                {% if page.lang == 'en' %}
                  {{- nav.en -}}
                {% else %}
                  {{- nav.ja -}}{% endif %}
              </a>
            {% endif %}
          </li>
        {% endfor %}
        {% comment %}<li itemprop='name' data-id="150" data-level="1"> <a itemprop='url' class="{% if path0 == 'contact-us' %}current active {% endif %} href="{{ langPrefix }}contact-us" data-target="#">{% if page.lang == 'en' %}Contact Us{% else %}Contact Us{% endif %}</a> </li>{% endcomment %}
      </ul>
    </div>

  </div>
</nav>
<!-- //MAIN NAVIGATION -->

<!-- HEADRIGHT -->
<div class="headright">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">

    <button
      class="btn btn-primary off-canvas-toggle  hidden-lg hidden-md"
      type="button"
      data-pos="right"
      data-nav="#t3-off-canvas"
      data-effect="off-canvas-effect-4">
      <span class="bar-first"></span>
      <span class="bar-mid"></span>
      <span class="bar-last"></span>
    </button>

    <!-- OFF-CANVAS SIDEBAR -->
    <div id="t3-off-canvas" class="t3-off-canvas  hidden-lg hidden-md">

      <div class="t3-off-canvas-header">
        <h2 class="t3-off-canvas-header-title"></h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true">&times;</button>
      </div>

      <div class="t3-off-canvas-body">
        <div class="t3-module module " id="Mod109">
          <div class="module-inner">
            <div class="module-ct">
              <ul class="nav nav-pills nav-stacked menu">
                {% for nav in site.data.nav %}
                  {% assign navId = forloop.index %}
                  <li class="{% if path0 == nav.path %}current active {% endif %}item-{{ navId }}0{% if nav.sub %} dropdown-submenu parent{% endif %}">
                    {% if nav.sub %}
                      <span class="nav-header ">
                        {% if page.lang == 'en' %}
                          {{- nav.en -}}
                        {% else %}
                          {{- nav.ja -}}{% endif %}
                      </span>
                      <ul class="dropdown-menu">
                        {% for subNav in nav.sub %}
                          <li class="{% if path1 == subNav.path %}current active {% endif %}item-{{ navId }}{{ forloop.index }}">
                            <a href="{{ langPrefix | append: nav.path | append: '/' | append: subNav.path }}" class="">
                              {% if page.lang == 'en' %}
                                {{- subNav.en -}}
                              {% else %}
                                {{- subNav.ja -}}
                              {% endif %}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <a href="{{ langPrefix | append: nav.path }}" class="">
                        {% if page.lang == 'en' %}
                          {{- nav.en -}}
                        {% else %}
                          {{- nav.ja -}}
                        {% endif %}
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- //OFF-CANVAS SIDEBAR -->

  </div>

  <div class="languageswitcherload">
    <script>
      function changeLang(e, lang) {
        e.preventDefault();
        const d = new Date();
        const exdays = 365;
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        document.cookie = "lang=" + lang + "; expires=" + d.toUTCString() + "; path=/";
        window.location = "/  {%- if page.lang == 'en' -%} ja/{%- endif -%}{{ path }}";
      }

      function getNavigatorLang() {
        if (/^en\b/.test(navigator.language)) 
          return 'en';
         else if (/^ja\b/.test(navigator.language)) 
          return 'ja';
         else 
          return '{{ page.lang }}';
        



      }

      function getLang() {
        const value = `; ${
          document.cookie
        }`;
        const parts = value.split(`; lang=`);
        if (parts.length === 2) 
          return parts.pop().split(';').shift();
         else 
          return getNavigatorLang();
        



      }

      const lang = getLang();
      if (lang != "{{ page.lang }}") {
        const langPrefix = lang === 'en'
          ? '/'
          : `/${lang}/`;
        window.location = langPrefix + "{{ path }}";
      }
    </script>
    <a
      style="margin-right:34px;"
      href="/{% if page.lang == 'en' %}ja/{% endif %}{{ path }}"
      onclick="changeLang(event, `{% if page.lang == 'en' %}ja{% else %}en{% endif %}`)">
      {% if page.lang == 'en' %}日本語{% else %}English{% endif %}
    </a>
  </div>
</div>
