<div id="pdf" style="width:100%;"></div>
<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
<script>
  document.addEventListener("adobe_dc_view_sdk.ready", function() {
    var adobeDCView = new AdobeDC.View({clientId: "ab7e5c25bccc4fd78e4fbfd1577bb162", divId: "pdf", backgroundColor: "#000000"});
    adobeDCView.previewFile({
      content: {
        location: {
          url: "{{ include.path }}"
        }
      },
      metaData: {
        fileName: "{{ include.name }}"
      }
    }, {
      embedMode: "IN_LINE",
      showPrintPDF: false
    });
  });
</script>
