---
title: 抽選会
subtitle: これまでで<wbr>最大の<wbr>抽選会です！
description: 日本のマウンテンバイク事業を支援し、Specialized(スペシャライズド)の最高にかっこいい限定版でフルカスタム塗装されたソイル サーチング エディション スタンプジャンパー エボ エキスパート を抽選で1名様にプレゼント！今すぐご応募ください！
masthead:
  img: /assets/images/og/ss-stumpjumper.jpg
og:
  image: /assets/images/og/ss-stumpjumper.jpg
storeProductId: 688070324
otherPrizes:
  - row:
    - title: スミス・オプティクス メガコンボ1
      desc: この<wbr>プレミアムスミスバンドルで<wbr>完全に<wbr>装備しましょう。<wbr>最高レベルの<wbr>保護、<wbr>多用途に<wbr>対応する<wbr>アイカバレッジ、<wbr>そして<wbr>努力なく<wbr>表現できる<wbr>スタイルを<wbr>兼ね備えた<wbr>この<wbr>コンボは、<wbr>ギアを<wbr>レベルアップしたい<wbr>本格的な<wbr>ライダーに<wbr>とって<wbr>究極の<wbr>選択です。
      inclusions:
        - フォアフロント2 マットブラック ヘルメット
        - シフト XL MAG™ ブラック（CP-レッドミラー＆クリアレンズ付き）
        - エッセンシャル ブラックTシャツ
      images:
        - /assets/images/prizes/2024/smith-01.jpg
        - /assets/images/prizes/2024/smith-02.jpg
      sponsors:
        - name: Smith
          img: /assets/images/company/smith.png
          url: https://smithjapan.co.jp/
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。

    - title: スミス・オプティクス メガコンボ2
      desc: この<wbr>プレミアムスミスバンドルで<wbr>完全に<wbr>装備しましょう。<wbr>最高レベルの<wbr>保護、<wbr>多用途に<wbr>対応する<wbr>アイカバレッジ、<wbr>そして<wbr>努力なく<wbr>表現できる<wbr>スタイルを<wbr>兼ね備えた<wbr>この<wbr>コンボは、<wbr>ギアを<wbr>レベルアップしたい<wbr>本格的な<wbr>ライダーに<wbr>とって<wbr>究極の<wbr>選択です。
      inclusions:
        - フォアフロント2 マットクラウドグレーヘルメット
        - ワイルドキャット ブラック（CP-レッドミラー＆クリアレンズ付き）
        - エッセンシャル アーミーグリーンTシャツ
      images:
        - /assets/images/prizes/2024/smith-03.jpg
        - /assets/images/prizes/2024/smith-04.jpg
      sponsors:
        - name: Smith
          img: /assets/images/company/smith.png
          url: https://smithjapan.co.jp/
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。

    - title: スミス エッセンシャル コンボ
      desc: この<wbr>必須の<wbr>スミス コンボで<wbr>自分を<wbr>保護し、<wbr>スタイルを<wbr>身に<wbr>つけましょう。<wbr>最高級の<wbr>保護を<wbr>提供する<wbr>高品質の<wbr>ヘルメットと<wbr>快適で<wbr>スタイリッシュな<wbr>Tシャツを<wbr>含んで<wbr>おり、<wbr>どんな<wbr>ライダーにも<wbr>ぴったりの<wbr>ペアリングです。
      inclusions:
        - フォアフロント2 マット アーカイブ ワイルドチャイルド ヘルメット
        - エッセンシャル ブラックTシャツ
      images:
        - /assets/images/prizes/2024/smith-05.jpg
        - /assets/images/prizes/2024/smith-06.jpg
      sponsors:
        - name: Smith
          img: /assets/images/company/smith.png
          url: https://smithjapan.co.jp/
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。

  - row:
    - title: パークハイアットでの<wbr>豪華な<wbr>マウンテンバイクゲッタウェイ<wbr>（2名様用）
      desc: この<wbr>豪華な<wbr>1泊の<wbr>滞在は、<wbr>パークハイアットニセコホテルで<wbr>提供され、<wbr>楽しい<wbr>ビュッフェ式朝食が<wbr>含まれています。<wbr>これに<wbr>より、<wbr>あなたとあなたの<wbr>大切な<wbr>人、<wbr>または<wbr>お気に入りの<wbr>ライディングバディと<wbr>一緒に、<wbr>一日の<wbr>マウンテンバイクアドベンチャーを<wbr>活力を<wbr>持ってスタートする<wbr>ことができます。
      inclusions:
        - パークハイアットニセコの<wbr>ビューキングルームで<wbr>2名様1泊
        - 2名様分の<wbr>パークハイアット朝食
        - リズム平府からの<wbr>マウンテンバイクレンタル2台分
      images:
        - /assets/images/prizes/2024/hyatt-01.jpg
        - /assets/images/prizes/2024/rhythm-01.jpg
      sponsors:
        - name: Park Hyatt
          img: /assets/images/company/higuma/park-hyatt.png
          url: https://www.hyatt.com/en-US/hotel/japan/park-hyatt-niseko-hanazono/ctsph
        - name: Rhythm Hirafu
          img: /assets/images/company/special/rhythm.png
          url: https://www.rhythmjapan.com
      note: 2025年夏に<wbr>有効。<wbr>ブラックアウト日が<wbr>適用されます。

    - title: リズム平府アクティビティハブシーズンパス
      desc: リズム平府での<wbr>アクション満載の<wbr>シーズンに<wbr>無制限で<wbr>アクセスできます。<wbr>多くの<wbr>アクティビティが<wbr>含まれている<wbr>ため、<wbr>この<wbr>パスは<wbr>すべての<wbr>アドベンチャーを<wbr>最大限に<wbr>楽しみたい<wbr>スリルシーカーに<wbr>最適です。
      inclusions:
        - ルターボード<wbr>＆<wbr>ボルダリングウォール
        - ポンプトラック<wbr>＆<wbr>スケートパーク<wbr>＆<wbr>屋内ミニランプ
        - トランポリン<wbr>＆<wbr>スラックライン
      images:
        - /assets/images/prizes/2024/rhythm-02.jpg
        - /assets/images/prizes/2024/rhythm-03.jpg
      sponsors:
        - name: Rhythm Hirafu
          img: /assets/images/company/special/rhythm.png
          url: https://www.rhythmjapan.com
      note: 2025年夏に<wbr>有効。

  - row:
    - title: マウンテンバイク<wbr>レンタル
      hidePrizeNumber: true
      quantity: 1
      desc: 最高品質の<wbr>マウンテンバイクレンタルで、<wbr>壮大な<wbr>ライドに<wbr>備えましょう。<wbr>ツインピークスや<wbr>グランドヒラフの<wbr>トレイルを<wbr>走る<wbr>場合でも、<wbr>リズム平府では、<wbr>あら<wbr>ゆる<wbr>ライダーに<wbr>合った<wbr>バイクを<wbr>取り揃えています。
      images:
      - /assets/images/prizes/2024/rhythm-01.jpg
      - /assets/images/prizes/2024/rhythm-04.jpg
      sponsors:
        - name: Rhythm Hirafu
          img: /assets/images/company/special/rhythm.png
          url: https://www.rhythmjapan.com
      note: 2025年夏に<wbr>有効。

    - title: Fox Float Rhythm 29インチ フォーク
      hidePrizeNumber: true
      quantity: 2
      desc: この<wbr>高性能サスペンションフォークで<wbr>ライドを<wbr>向上させましょう。<wbr>どんな<wbr>トレイルでも<wbr>滑らかで<wbr>信頼性が<wbr>高く、<wbr>正確な<wbr>ハンドリングを<wbr>実現する<wbr>ために<wbr>設計されており、<wbr>マウンテンバイク体験を<wbr>向上させるのに<wbr>最適です。
      images:
        - /assets/images/prizes/2024/forks-01.jpg
        - /assets/images/prizes/2024/forks-02.jpg
      sponsors:
        - name: Fox
          img: /assets/images/company/fox.png
          url: https://ridefox.com
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。

    - title: Race Face バーとステムのセット
      hidePrizeNumber: true
      quantity: 5
      desc: この<wbr>頑丈で<wbr>スタイリッシュな<wbr>バーと<wbr>ステムの<wbr>コンボで、<wbr>あなたの<wbr>コックピットを<wbr>アップグレードしましょう。<wbr>強度と<wbr>制御の<wbr>ために<wbr>設計されており、<wbr>どんな<wbr>トレイルにも<wbr>自信を<wbr>持って<wbr>挑むための<wbr>完璧な<wbr>セットアップです。
      images:
        - /assets/images/prizes/2024/bar-01.jpg
        - /assets/images/prizes/2024/bar-02.jpg
      sponsors:
        - name: Race Face
          img: /assets/images/company/raceface.svg
          url: https://www.raceface.com
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。

  - row:
    - title: Race Face Chester ペダル
      hidePrizeNumber: true
      quantity: 5
      desc: 軽量でありながら<wbr>耐久性に<wbr>優れた<wbr>これらの<wbr>ペダルは、<wbr>優れた<wbr>グリップと<wbr>パフォーマンスを<wbr>提供します。<wbr>あら<wbr>ゆる<wbr>地形で<wbr>信頼できる<wbr>トラクションと<wbr>自信を<wbr>持って<wbr>ライドしたい<wbr>ライダーに<wbr>最適です。
      images:
        - /assets/images/prizes/2024/pedals.jpg
      sponsors:
        - name: Race Face
          img: /assets/images/company/raceface.svg
          url: https://www.raceface.com
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。

    - title: Race Face「Getta Grip」グリップ
      hidePrizeNumber: true
      quantity: 5
      desc: これらの<wbr>人間工学に<wbr>基づいた<wbr>グリップで<wbr>快適さと<wbr>コントロールを<wbr>実感してください。<wbr>確実な<wbr>ホールドを<wbr>目的と<wbr>して<wbr>設計されており、<wbr>どの<wbr>トレイルでも<wbr>快適で<wbr>自信に<wbr>満ちた<wbr>ライドを<wbr>保証します。
      images:
        - /assets/images/prizes/2024/grips.jpg
      sponsors:
        - name: Race Face
          img: /assets/images/company/raceface.svg
          url: https://www.raceface.com
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。

    - title: Fox トラッカーベースボールキャップ
      hidePrizeNumber: true
      quantity: 12
      desc: これらの<wbr>クラシックな<wbr>トラッカーキャップで、<wbr>クールで<wbr>スタイリッシュに<wbr>過ごしましょう。<wbr>どんな<wbr>冒険にも<wbr>最適で、<wbr>トレイルの<wbr>上でも<wbr>下でも、<wbr>通気性の<wbr>良い<wbr>快適さと<wbr>多用途に<wbr>使える<wbr>ルックスを<wbr>提供します。
      images:
        - /assets/images/prizes/2024/baseball-01.jpg
      sponsors:
        - name: Fox
          img: /assets/images/company/fox.png
          url: https://ridefox.com
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。

  - row:
    - title: スミス・<wbr>オプティクス エッセンシャルTシャツ
      hidePrizeNumber: true
      quantity: 2
      desc: れらの<wbr>高品質スミスTシャツで<wbr>シンプルかつスタイリッシュに。<wbr>快適さと<wbr>耐久性を<wbr>考慮して<wbr>設計されており、<wbr>どんな<wbr>カジュアルな<wbr>場面にも<wbr>ぴったりの<wbr>アイテムです。
      images:
        - /assets/images/prizes/2024/smith-07.jpg
      sponsors:
        - name: Smith
          img: /assets/images/company/smith.png
          url: https://smithjapan.co.jp/
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。

    - title: スペシャライズド Tシャツ
      hidePrizeNumber: true
      quantity: 1
      desc: れらの<wbr>高品質で<wbr>快適な<wbr>Tシャツで、<wbr>ライディングへの<wbr>情熱を<wbr>アピールしましょう。<wbr>自転車に<wbr>乗っている<wbr>時も、<wbr>ただ<wbr>リラックスしている<wbr>時も、<wbr>日常着と<wbr>して<wbr>完璧です。
      images:
        - /assets/images/prizes/2024/tshits-01.jpg
      sponsors:
        - name: Specialized
          img: /assets/images/company/special/specialized.png
          url: http://specialized-onlinestore.jp/
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。

    - title: B3コーヒー 5,000円分の<wbr>バウチャーブック
      hidePrizeNumber: true
      quantity: 2
      desc: この<wbr>5,000円分の<wbr>バウチャーブックを<wbr>使って、<wbr>小樽の<wbr>B3コーヒーで<wbr>プレミアムコーヒーと<wbr>美味しい<wbr>スイーツを<wbr>お楽しみください。<wbr>冒険の<wbr>前後に<wbr>エネルギーを<wbr>補給するのに<wbr>最適です。
      images:
        - /assets/images/prizes/2024/b3.jpg
      sponsors:
        - name: B3 Coffee Otaru
          img: /assets/images/company/b3.png
          url: https://www.instagram.com/b3.coffee.otaru/
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。<wbr>この<wbr>バウチャーは<wbr>抽選日から<wbr>1年間有効で、<wbr>購入ごとに<wbr>1枚のみ使用可能です。

  - row:
    - title: Fox ボトルオープナー
      hidePrizeNumber: true
      quantity: 3
      desc: リアショックの<wbr>形を<wbr>した<wbr>これらの<wbr>ユニークな<wbr>ボトルオープナーで<wbr>冷たい<wbr>飲み物を<wbr>開けましょう。<wbr>磁石式の<wbr>デザインに<wbr>より、<wbr>冷蔵庫に<wbr>くっつき、<wbr>機能性と<wbr>クールな<wbr>バイクインスパイアードの<wbr>ルックスが<wbr>融合しています。
      images:
        - /assets/images/prizes/2024/bottle-opener.jpg
      sponsors:
        - name: Fox
          img: /assets/images/company/fox.png
          url: https://ridefox.com
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。

    - title: Fox キーリング
      hidePrizeNumber: true
      quantity: 6
      desc: 便利で<wbr>スタイリッシュな<wbr>これらの<wbr>キーリングは、<wbr>ボトルオープナーと<wbr>しても<wbr>機能し、<wbr>どんな<wbr>バイカーにも<wbr>ぴったりの<wbr>アクセサリーです。<wbr>外出先でも<wbr>いつでも<wbr>ボトルを<wbr>開ける<wbr>準備が<wbr>できています。
      images:
        - /assets/images/prizes/2024/key-ring.jpg
      sponsors:
        - name: Fox
          img: /assets/images/company/fox.png
          url: https://ridefox.com
      note: 商品は<wbr>抽選会当夜に<wbr>受け取っていただく<wbr>必要が<wbr>あります。<wbr>ご本人または<wbr>代理人が<wbr>出席できない<wbr>場合、<wbr>賞品は<wbr>再抽選と<wbr>なります。
---
<style>
  .carousel .hero {
    border: 1px #ccc solid;
    border radius: 5px;
  }

  .carousel .thumbs {
    display: flex;
    flex-flow: row wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 5px;
  }

  .carousel .thumbwrap {
    width: 20%;
  }

  @media(max-width: 1199px) {
    .carousel .thumbwrap {
      width: 33.333333333%;
    }
  }

  @media(max-width: 992px) {
    .carousel .thumbwrap {
      width: 25%;
    }
  }

  @media(max-width: 480px) {
    .carousel .thumbwrap {
      width: 33.333333333%;
    }
  }

  .carousel .thumb {
    margin: 5px;
    cursor: pointer;
    border: 1px #ccc solid;
    border radius: 5px;
  }

  .carousel .thumb:hover {
    opacity: 0.8;
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .prizes .num {
    color: #0e0e0e;
    font-size: 200%;
    position: absolute;
    margin-left: -47px;
    font-weight: bold;
    margin-top: 7px;
  }

  .prizes .features-item:not(.no-hover):hover .num {
    color: #fd7d57;
  }

  .prizes .features-item a.action:hover {
    background-color: #fd7d57;
    background: linear-gradient(135deg, #fd7d57, #f55d59);
    border-color: #fd7d57;
  }

  .gold {
    color: #ffd97b;
    font-size: 12px !important;
    font-family: "Metropolis"
    , Helvetica
    , Arial
    , sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-top: 30px;
  }

  .prizes .features-item {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .features-item .sponsors {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .features-item .sponsors a {
    margin: 0 5px;
  }

  .features-item .sponsors img {
    margin-bottom: 10px;
    max-height: 50px;
    max-width: 150px;
  }

  .features-item .products {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  @media(max-width: 480px) {
    .features-item .products .prodwrap {
      width: 100%;
    }
  }

  .features-item .products .prodwrap.full {
    width: 100%;
  }

  @media(max-width: 991px) {
    .features-item .products .prodwrap.full {
      width: auto;
    }
  }

  .features-item .products .prod {
    margin: 0 5px 10px;
    border: 1px #ccc solid;
    border radius: 5px;
  }

  .features-item .small > div {
    position: relative;
  }

  .features-item .action {
    font-size: 125%;
    border: 1px #ffffff solid;
    display: inline-block !important;
  }

  .features-item .small {
    font-style: italic;
    font-size: 75%;
    margin-top: 30px;
  }

  .owl-carousel {
    margin-top: 15px;
  }

  .owl-nav button span {
    opacity: 0.5;
  }

  .owl-nav button span:before {
    color: #fd7d57;
    font-size: 35px;
    background: linear-gradient(135deg, #fd7d57, #f55d59);
    background-clip: text;
    display: inline-block;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    text-indent: 1px;
  }

  .owl-nav button span:hover {
    opacity: 0.8;
  }

  .owl-nav {
    text-align: center;
    margin-top: 15px;
  }

  .owl-nav .owl-next {
    margin-left: 15px;
    /*float: right;*/
  }

  .ec-grid {
    display: block !important;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .details-gallery__images-spacer {
    margin-top: 35px;
  }

  .product-details__navigation {
    display: none !important;
  }

  #ProductBrowser-1 {
    min-height: auto !important;
  }

  .form-control {
    text-align: center !important;
    text-align: -moz-center !important;
    text-align: -webkit-center !important;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice {
    background-color: #fd7d57;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice::before {
    color: #fd7d57;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice::after {
    color: #fd7d57;
  }

  .ec-form__row--continue .form-control--done {
    text-align: left !important;
  }

  .form-control button.form-control__button {
    color: #ffffff !important;
    background-color: #fd7d57 !important;
    border-color: transparent !important;
    background: linear-gradient(135deg, #fd7d57, #f55d59) !important;

    border: 0 !important;
    border-radius: 30px !important;
    font-weight: 500 !important;
    padding-left: 36px !important;
    padding-right: 36px !important;

    width: auto !important;
    font-size: 14px !important;
  }

  .form-control button.form-control__button:hover {
    background: #fd7d57 !important;
    background: linear-gradient(155deg, #fd7d57, #fd7d57) !important;
  }

  img.ecwid-PaymentMethodsBlockSvg {
    background: #fff !important;
  }

  html#ecwid_html body#ecwid_body .ec-cart__button .paypal-button {
    width: 200px;
    margin: 0 auto;
  }

  .ec-cart__button--apple-pay {
    text-align: center !important;
    text-align: -moz-center !important;
    text-align: -webkit-center !important;
  }

  .ec-cart__button--apple-pay .form-control--button {
    border: 1px #fff solid !important;
    padding-left: 36px !important;
    padding-right: 36px !important;
    border-radius: 30px !important;
    width: 170px !important;
    margin: 0 auto !important;
    position: relative !important;
  }

  a.breadcrumbs__link--last {
    font-size: 0 !important;
  }

  a.breadcrumbs__link--last:after {
    content: '✕';
    font-size: 20px;
    font-weight: bold;
    float: right;
  }

  html#ecwid_html body#ecwid_body #raffle-store .ec-size .ec-store .details-gallery__images-spacer {
    margin-top: 0;
  }

  #raffle-store a.breadcrumbs__link--last {
    display: none;
  }

  html#ecwid_html body#ecwid_body #raffle-store .ec-confirmation__continue {
    display: none;
  }
</style>

<script
  id="ecwid-script"
  data-cfasync="false"
  type="text/javascript"
  src="https://app.ecwid.com/script.js?71386768&lang=ja-JP&data_platform=code&data_date=2022-08-27"
  charset="utf-8"></script>
<div>

  <div class="t3-section-wrap">

    <div class="module-title-wrap" style="margin-top:0px; margin-bottom:30px">
      <p
        class="ja-animate"
        data-animation="move-from-bottom"
        data-delay="800">
        <span class="ja">応募期間は<wbr>2024年8月13日から<wbr>2024年9月14日午後6時00分まで。</span>
      </p>
    </div>

    <div class="section acm-features style-2 prizes">
      <div
        class="row"
        data-animation="move-from-bottom"
        data-delay="1800">
        <div class="col col-sm-12 col-md-12">
          <div
            class="features-item no-hover ja-animate"
            data-animation="move-from-bottom"
            data-delay="item-0">

            <div class="row">
              <div class="col col-sm-12 col-md-4">
                <div class="font-icon">
                  <span class="icon ion-ios-trophy">
                    <span class="num">1</span>
                  </span>
                </div>
                <h4>
                  <span class="ja">Stumpjumper の Evo Expert Soil Searching</span>
                </h4>
                <div class="sponsors">
                  <a href="https://www.specialized-onlinestore.jp/" target="_blank">
                    <img src="/assets/images/company/special/specialized.png" alt="スペシャライズド" />
                  </a>
                </div>
                <p style="font-size:125%;">
                  <strong>非売品</strong>
                </p>
                <p class="gold" style="margin-top:30px;">
                  <span class="ja">フルカスタムの<wbr>限定塗装</span>
                </p>
                <p class="gold">ロックショックス ライリックフォーク</p>
                <p class="gold">スーパーデラックスショック</p>
                <p class="gold">ローバル・トラバース29インチホイール</p>
                <p class="gold">スペシャライズド・Soil Searching・タイヤ</p>
                <p class="gold">スラム イーグル ドライブトレイン</p>
                <p class="gold">スラム コードブレーキ</p>
                <p class="gold">カーボンフレーム</p>
                <p class="gold">S3サイズ</p>
                <a class="btn action to-raffle" href="#raffle-store">
                  <span>
                    <span class="ja">応募は<wbr>こちらから</span>
                  </span>
                </a>
                <p class="small">
                  <span class="ja">バイクは<wbr>ニセコでの<wbr>即時受け取り、<wbr>または<wbr>日本国内への<wbr>郵送が<wbr>可能です。<wbr>当選者が<wbr>すぐに<wbr>自転車を<wbr>引き取れない<wbr>場合は、<wbr>ニセコで<wbr>最長6ヶ月の<wbr>保管が<wbr>可能です。</span>
                </p>
              </div>
              <div class="col col-sm-12 col-md-8">

                <div class="carousel">
                  <div class="hero">
                    <img id="carousel-hero" src="/assets/images/prizes/2024/stumpjumper-0.jpeg" />
                  </div>
                  <div class="thumbs">
                    {% for i in (0..9) -%}
                      <div class="thumbwrap">
                        <div class="thumb {% if i == 0 %}active{% endif %}" onclick="changeHero(this, '/assets/images/prizes/2024/stumpjumper-{{ i }}.jpeg');">
                          <img src="/assets/images/prizes/2024/stumpjumper-{{ i }}.jpeg" />
                        </div>
                      </div>
                    {%- endfor %}
                  </div>
                </div>

                <p style="margin-top:15px; margin-bottom:15px;">
                  <strong style="color:#fff;">超限定！</strong>
                  <span class="ja">スペシャライズド Stumpjumper Evo Expert の<wbr>超限定モデルが<wbr>抽選で<wbr>当たります。<wbr>この<wbr>限定モデルは、<wbr>カスタム、<wbr>Soil Searching ブランドの<wbr>ハンドペイントの<wbr>カラーリング、<wbr>Soil Searching エディションの<wbr>パーツリストが<wbr>特徴です。<wbr>その<wbr>希少性はと<wbr>いうと、<wbr>世界でも<wbr>入手困難な<wbr>バイクの<wbr>１つです。</span>
                </p>
                <p style="margin-bottom:15px;">
                  <strong style="color:#fff;">非売品！</strong>
                  <span class="ja">スペシャライズド Soil Searching エディションバイクは<wbr>非売品です。<wbr>まさに<wbr>唯一無二の<wbr>希少な<wbr>バイクを<wbr>所有する<wbr>またとない<wbr>チャンスです。</span>
                </p>
                <p style="margin-bottom:15px;">
                  <strong style="color:#fff;">
                    <span class="ja">抽選券は<wbr>なんと<wbr>1,000円！</span>
                  </strong>
                  <span class="ja">1枚購入する<wbr>ごとに、<wbr>この<wbr>豪華すぎる<wbr>バイクや<wbr>その<wbr>他の<wbr>賞品が<wbr>当たる<wbr>チャンスが<wbr>さらに<wbr>巡ってきます。<wbr>また、<wbr>この<wbr>抽選券は<wbr>大義を<wbr>支援する<wbr>ものでも<wbr>あり、<wbr>収益金は<wbr>すべて<wbr>無料の<wbr>公共マウンテンバイク・トレイルの<wbr>造成と<wbr>整備に<wbr>使われます。</span>
                </p>

                <p class="gold">山守人</p>
                <p class="ja">フルカスタムの<wbr>限定塗装。<wbr>非売品</p>
                {% include carousel.html images=site.data.prizes.levo.paint.images items=2 autoplay = 'false' id=2 %}

                <p class="gold ja" style="margin-bottom:15px;">
                  スペシャライズド Soil Searching に<wbr>ついて
                </p>
                <p class="ja" style="margin-bottom:15px;">
                  スペシャライズド Soil Searching は、<wbr>私たちの<wbr>スポーツ(マウンテンバイク)の<wbr>発展に<wbr>貢献する<wbr>トレイルビルダー達の<wbr>認知度を<wbr>上げるべく、<wbr>称え、<wbr>支援する<wbr>運動です。
                </p>
                <p class="ja" style="margin-bottom:15px;">
                  スペシャライズドの<wbr>Soil Searching プログラムを<wbr>通じて、<wbr>NAMBAの<wbr>トレイルビルドチームの<wbr>スポンサーと<wbr>なり、<wbr>この<wbr>限定版Stumpjumperを<wbr>抽選会の<wbr>賞品と<wbr>して<wbr>案内できることに<wbr>当協会一同感謝しています。
                </p>

                <a class="btn action to-raffle" href="#raffle-store">
                  <span>
                    <span class="ja">応募は<wbr>こちらから</span>
                  </span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="section acm-features style-2 prizes">

      {% assign prizeNumber = 1 %}
      {% for prizeRow in page.otherPrizes %}
        <div
          class="row equal-height equal-height-child"
          data-animation="move-from-bottom"
          data-delay="200">

          {% assign prizeRowSize = prizeRow.row | size %}
          {% for prize in prizeRow.row %}
            {% assign prizeNumber = prizeNumber | plus: 1 %}
            <div class="col col-sm-12 {% if prizeRowSize == 2 %}col-md-6{% elsif prizeRowSize == 3 %}col-md-4{% elsif prizeRowSize == 4 %}col-md-3{% endif %}">
              <div
                class="features-item no-hover ja-animate"
                data-animation="move-from-bottom"
                data-delay="item-{{ prizeNumber }}">
                <div class="font-icon">
                  <span class="icon ion-ios-trophy">
                    {% if hidePrizeNumber %}
                      <span class="num">{{ prizeNumber }}</span>
                    {% endif %}
                  </span>
                </div>
                <h4 class="ja">{{ prize.title }}</h4>
                <div class="products">
                  {% for image in prize.images %}
                    <div
                      class="prodwrap"
                      {% if prizeRowSize < 3 %}
                      style="width:50%"
                      {% endif %}>
                      <div class="prod">
                        <img src="{{ image }}" />
                      </div>
                    </div>
                  {% endfor %}
                </div>
                {% if prize.quantity %}
                  <div>
                    <strong class="ja gold" style="font-size:125%;">
                      利用可能な<wbr>賞品は<wbr><span style="font-size:200%;">{{ prize.quantity }}個</span>です。
                    </strong>
                  </div>
                {% endif %}
                {% if prize.value %}
                  <p class="ja" style="font-size:125%;">
                    <strong>{{ prize.value }}</strong>相当
                  </p>
                {% endif %}
                {% if prize.subtitle %}
                  <p class="gold ja" style="margin-top:30px; margin-bottom:15px;">{{ prize.subtitle }}</p>
                {% endif %}
                {% if prize.desc %}
                  <p class="ja" style="margin-bottom:15px;">{{ prize.desc }}</p>
                {% endif %}
                <a class="btn action to-raffle" href="#raffle-store">
                  <span class="ja">応募は<wbr>こちらから</span>
                </a>
                <div class="sponsors">
                  {% for sponsor in prize.sponsors %}
                    <a href="{{ sponsor.url }}" target="_blank">
                      <img src="{{ sponsor.img }}" alt="{{ sponsor.name }}">
                    </a>
                  {% endfor %}
                </div>
                {% if prize.note %}
                  <p class="small ja">{{ prize.note }}</p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

    </div>

    <div class="t3-section">
      <h2
        class="ja"
        style="text-align: center;"
        data-animation="move-from-bottom"
        data-delay="400">もっと<wbr>多くの<wbr>賞品が<wbr>近日中に<wbr>追加されますので、<wbr>更新を<wbr>チェックし続けてください！</h2>
    </div>

    <div class="t3-section">

      <div class="module-title-wrap"></div>

      <div id="raffle-store"></div>

    </div>
  </div>


</div>
<script>
  window.ec = window.ec || Object();
  window.ec.config = window.ec.config || Object();
  window.ec.config.custom_redirect_after_purchase = 'https://www.namba.ngo/get-involved/thanks';
  window.ec.config.navigation_scrolling = "DISABLED";
  window.ec.storefront = window.ec.storefront || Object();
  window.ec.storefront.product_details_show_share_buttons = false;
  window.ec.storefront.product_details_show_qty = true;
  window.ec.storefront.product_details_show_in_stock_label = true;
  window.ec.storefront.show_breadcrumbs = true;
  window.ec.storefront.product_details_show_breadcrumbs = true;
  window.ec.storefront.product_details_position_breadcrumbs = 25;
  window.ec.storefront.breadcrumbs_separator = "";

  xProductBrowser("defaultProductId={{page.storeProductId}}", "categoriesPerRow=3", "views=grid(20,3) list(60) table(60)", "categoryView=grid", "searchView=list", "id=raffle-store");

  window.ecwid_script_defer = true;
  window.ecwid_dynamic_widgets = true;

  function changeHero(source, img) {
    document.getElementById('carousel-hero').src = img;

    const thumbs = document.getElementsByClassName("thumb");
    for (i = 0; i < thumbs.length; i++) {
      thumbs[i].className = thumbs[i].className.replace(" active", "");
    }

    source.className += " active"

  }
</script>
