{% set lang = 'ja' %}
{% set title = 'ニセコエリアマウンテンバイク 協会' %}
{% set pathSegments = [''] %}

{% extends "layout.njk" %}

{% block header %}
  <!-- HERO -->
  <div class="wrap t3-hero ">
    <div class="t3-module module " id="Mod98">
      <div class="acm-features style-1" style="background-image: url('/images/bg/bg-hero.jpg');">
        <div class="container">
          <div class="features-item">
            <h1 class="ja-animate" data-animation="move-from-bottom" data-delay="200">ニセコエリア
              <br/>マウンテンバイク 協会</h1>

            <p class="lead ja-animate" data-animation="move-from-bottom" data-delay="800"><img class="metal" src="/images/logos/favicon.png" title="🤘"/></p>

            <p class="lead ja-animate" style="margin-top: 30px;" data-animation="move-from-bottom" data-delay="800">トレイルとコミュニティーの構築</p>

            <!-- <div class="btn-action ja-animate" data-animation="move-from-bottom" data-delay="1200"> <a class="btn btn-primary" href="#">Find out more </a> </div> -->
          </div>
        </div>

        <!-- Arrow -->
        <span id="next-section" class="icon-bottom ja-animate" data-animation="move-from-bottom" data-delay="1600"></span>
      </div>

      <div style="float: left; margin-left: 20px; margin-top: -9px; opacity: 0.2;">
        <small>📷
          <a href="https://www.rhythmjapan.com">@rhythm</a>
        </small>
      </div>

      <script type="text/javascript">
        (function ($) {
          $posNext = $('#next-section')
            .offset()
            .top + 72;

          $('#next-section').on('click', function () {
            $("html, body").animate({
              scrollTop: $posNext
            }, 900);
            return false;
          });
        })(jQuery);
      </script>
      <!-- BACK TO TOP BUTTON -->
    </div>
  </div>
  <!-- //SLIDESHOW -->
{% endblock %}

{% block content %}
  <style>

    .vision .module-title {
      color: #ffffff;

    }

    .vision .features-desc {
      font-size: 150%;
      font-weight: 500;
    }

    .leaders {
      margin-bottom: 72px;
      font-size: 120%;
    }

    .leaders .member {
      float: left;
      width: 100%;
    }

    .team .member {
      float: left;
      width: 50%;
    }

    .team {
      margin-bottom: 72px;
    }

    .member .inner {
      background: #0e0e0e;
      border-radius: 3px;
      margin-right: 9px;
      margin-bottom: 9px;
      padding: 15px;
      position: relative;
      min-height: 135px;
    }

    .member .inner:hover {
      background: #151515;
    }

    .leaders .member .inner {
      padding: 30px;
      margin-right: 0;
      margin-bottom: 18px;
    }

    @media (min-width: 480px) {
      .fund-progress .outer {
        width: 50%;
      }

      .fund-progress .labels {
        width: 50%;
      }
    }

    .member .img {
      border: 2px #eeeeee solid;
      border-radius: 3px;
      width: 80px;
      margin: 0;
      position: absolute;
      top: 15px;
      left: 15px;
    }

    .leaders .member .img {
      width: 170px;
      top: 35px;
      left: 25px;
    }

    .member img {
      border: 4px #000000 solid;
      border-radius: 3px;
    }

    .leaders .member .desc {
      margin-left: 185px;
    }

    .team .member .desc {
      margin-left: 90px;
    }

    @media (max-width: 480px) {
      .leaders .member .img {
        width: 170px;
        top: 25px;
        left: 25px;
      }

      .leaders .member .desc {
        margin-left: 0;
        margin-top: 185px;
      }
    }

    .member .desc p {
      margin: 0 0 3px;
    }

    .member .desc p:first-child {
      color: #aaaaaa;
      font-weight: bold;
    }

    .leaders .member .desc p:first-child span {
      font-size: 150%;
      line-height: 30px;
    }

    .leaders .member .desc .title {
      font-size: 80%;
      margin-bottom: 10px;
    }

    .leaders .member .desc em {
      font-weight: 500;
      color: #aeaeae;
    }

    .leaders:after {
      content: "";
      display: table;
      clear: both;
    }

    .team:after {
      content: "";
      display: table;
      clear: both;
    }

    @media (max-width: 1199px) {
      .team .member {
        width: 100%;
      }

      .team .member .inner {
        margin-right: 0;
        min-height: 111px;
      }
    }

    .insta {
      overflow: hidden;
      margin-top: 30px;
    }

    .insta div {
      margin-top: -110px;
    }

    @media (max-width: 990px) {
      .insta div {
        margin-top: -150px;
      }
    }

    @media (max-width: 1199px) {
      .insta div {
        margin-top: -180px;
      }
    }

    .insta .feed-powered-by-es {
      display: none;
    }

    .es-poweredby {
      display: none !important;
    }
  </style>

  <div class="t3-section-wrap" style="margin-top:-50px;">

    <div class="section">

      <div class="ja-masthead" style="background: none;">
        <div class="ja-masthead-detail ja-animate" data-animation="move-from-bottom" data-delay="200" ">
          <h3 class="ja-masthead-title">
            <span style="font-size:80%;">団体概要</span></h3>
        </div>
      </div>

      <div class="module-title-wrap" style="max-width:900px;">
        <h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="600">ミッション</h3>
        <div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="600">
          <div style="font-size:150%;">
            <p>ニセコと周辺地域に自然環境を維持しながらマウンテンバイカーにとってより良い場所をつくる。共通の目標に向けてマウンテンバイクを愛するより多くの方々とニセコマウンテンバイクのコミュニティをサポートし発展させ成長しつづける活動をします。</p>
            <p>ニセコをアジア有数のマウンテンバイクを楽しめる場所として発展させ、より大きなコミュニティと北海道の自然環境との調和を追求する為にニセコマウンテンバイク協会は貢献します。</p>
          </div>
        </div>
      </div>

    </div>

    <div class="section">

      <div class="wrap t3-masthead vision">
        <div class="ja-masthead ja-animate" data-animation="fadeIn" data-delay="600" style="background-image: url('/images/bg/bg-distance.jpg');">
          <div class="ja-masthead-detail">
            <h3 class="module-title">ビジョン</h3>
            <div class="features-desc">マウンテンバイク協会を存続し続け、常に世界中のマウンテンバイカーに注目される環境作りや、新しいトレイルを提供し続けるという共通目標を持ちニセコエリアのコミュニティ一丸となり活動する。</div>
          </div>
        </div>
      </div>

    </div>

    <div class="section">

      <div class="module-title-wrap">
        <h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="600">目標</h3>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6" style="margin-bottom:0;">
          <div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="item-0" style="font-size:130%;">
            <ul style="list-style-image: url('/images/logos/bullet.png'); margin-bottom:0;">
              <li>全てのレベルと年齢層に合ったトレイルを構築します。</li>
              <li>イベントやレース、グループライドを通じて、ニセコ周辺の地域の多くの方々にマウンテンバイクに興味を持ち、理解してもらい、毎年マウンテンバイクコミュニティを広げて行く。</li>
              <li>全てのメンバーの経験や能力、考え方を認めて生かされるように促進します。</li>
              <li>マウンテンバイク活動の行動や判断の基準をメンバーに周知して推進します。</li>
              <li>協会の活動をサポートする為の資金調達に積極的に取り組みます。</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-6" style="margin-bottom:36px;">
          <div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="item-0" style="font-size:130%;">
            <ul style="list-style-image: url('/images/logos/bullet.png');">
              <li>ニセコや周辺地域に、世界クラスの様々なレベルのマウンテンバイクトレイルネットワークを作る。</li>
              <li>トレイルの置かれた環境をより魅力あるものにする為に、常に管理、維持し続けます。</li>
              <li>協会の財政管理に責任を持って管理し、メンバー、コミュニティに常に明確にします。</li>
              <li>より良いトレイルを開発する為に、国、地方自治体、公益事業者、リゾート所有者、土地所有者、地域林業会社その他の利害関係機関との協力関係を構築します。</li>
              <li>協会への支援提供者に対して、定期的に明確な利益を提供します。</li>
            </ul>
          </div>
        </div>

      </div>

    </div>

    <div class="section">

      <div class="module-title-wrap" style="max-width:900px;">
        <h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="200">代表者からのメッセージ</h3>
      </div>

      <div class="leaders">

        <div class="member ja-animate" data-animation="move-from-right" data-delay="400">
          <div class="inner">
            <div class="img">
              <img src="/images/team/colin.jpg"/>
            </div>
            <div class="desc">
              <p>
                <span>ハックワース・コリン</span>、NAMTBA会長</p>
              <p class="title">日本ハーモニーリゾート 代表取締役社長</p>
              <em>「「NAMTBA」はニセコエリアにとって、本当にエキサイティングな展開をもたらす存在となるでしょう。世界中のリゾート地は、マウンテンバイクが地域社会や地元企業にもたらす成功を認識しています。私は「NAMTBA」がビジョンを実現し、ニセコエリアが年間を通じて楽しめる世界と肩を並べる観光地に発展することを楽しみにしています。」</em>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="600">
          <div class="inner">
            <div class="img">
              <img src="/images/team/shunichi.jpg"/>
            </div>
            <div class="desc">
              <p>
                <span>木村 俊一</span>、副会長</p>
              <p class="title">お食事バー木村 オーナー & 羊蹄ニセコ自転車走行協議会 副会長</p>
              <em>「夏のアキティビティーとしてロードバイクの環境は、少しずつよくなってきています。eMTBの登場でMTBが更に楽しくなり冬のバックカントリーの様に知らない世界が広がると思います。その為の一歩として誰もが楽しめる二子山MTBコースが必要です。街とも近くスキー場を結ぶ中心となりより皆様を楽しませる事ができるでしょう。」</em>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="800">
          <div class="inner">
            <div class="img">
              <img src="/images/team/ross.jpg"/>
            </div>
            <div class="desc">
              <p>
                <span>カーティー・ロス</span>、副会長</p>
              <p class="title">NOASC 創業者／オーナー & ニセコの外資系企業のパイオニア</p>
              <em>「私は30年以上前にニセコに来訪し、ニセコが静かな農村から世界有数のウィンターリゾートへと成長するのをみてきました。マウンテンバイクは、この地域の新しいフロンティアです。このスポーツの潜在能力は計り知れないくらい大きく、スノースポーツが冬にもたらしてきたことを夏に実現する力を持っています。」</em>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="section">

      <div class="module-title-wrap" style="max-width:900px;">
        <h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="200">チームの紹介</h3>
      </div>

      <div class="team">

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-0">
          <div class="inner">
            <div class="img">
              <img src="/images/team/andy.jpg"/>
            </div>
            <div class="desc">
              <p>メドーズ・アンディー</p>
              <p>リズムジャパン オペレーション部門長</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-1">
          <div class="inner">
            <div class="img">
              <img src="/images/team/tom.jpg"/>
            </div>
            <div class="desc">
              <p>モーティーボーイ・トーマス</p>
              <p>ソフトウエアエンジニア</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-2">
          <div class="inner">
            <div class="img">
              <img src="/images/team/miles.jpg"/>
            </div>
            <div class="desc">
              <p>ゼオリン・マイルズ</p>
              <p>株式会社ニセコリアルエステート・営業部</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-3">
          <div class="inner">
            <div class="img">
              <img src="/images/team/ashley.jpg"/>
            </div>
            <div class="desc">
              <p>ニコルズ・アシュリー</p>
              <p>ホリデーニセコ株式会社 常務取締役・オーナー</p>
              <p>ニセコツーリズム理事</p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-4">
          <div class="inner">
            <div class="img">
              <img src="/images/team/chie.jpg"/>
            </div>
            <div class="desc">
              <p>清野 千絵 (事務局長)</p>
              <p>樺ニセコ プロパティーマネージャー</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-5">
          <div class="inner">
            <div class="img">
              <img src="/images/team/angharad.jpg"/>
            </div>
            <div class="desc">
              <p>モーティーボーイ・アンバラード</p>
              <p>栄養とライフスタイルのコーチ</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-6">
          <div class="inner">
            <div class="img">
              <img src="/images/team/mayumi.jpg"/>
            </div>
            <div class="desc">
              <p>本多 真弓</p>
              <p>ニセコブラック ジェネラルマネージャー</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-7">
          <div class="inner">
            <div class="img">
              <img src="/images/team/sachi.jpg"/>
            </div>
            <div class="desc">
              <p>イェル 紗知</p>
              <p>EZObase / ezobike 代表</p>
              <p></p>
            </div>

          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-8">
          <div class="inner">
            <div class="img">
              <img src="/images/team/masaya.jpg"/>
            </div>
            <div class="desc">
              <p>吉村 政哉</p>
              <p>ニセコモイワスキーリゾート総支配人</p>
              <p></p>
            </div>

          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-9">
          <div class="inner">
            <div class="img">
              <img src="/images/team/yukihiro.jpg"/>
            </div>
            <div class="desc">
              <p>栃木 幸広</p>
              <p>千歳林業㈱ 代表取締役社長</p>
              <p>北海道の大規模森林所有者</p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-10">
          <div class="inner">
            <div class="img">
              <img src="/images/team/chika.jpg"/>
            </div>
            <div class="desc">
              <p>ランド 千佳</p>
              <p>ニセコパウダーライフマガジン ディレクター</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-11">
          <div class="inner">
            <div class="img">
              <img src="/images/team/paul.jpg"/>
            </div>
            <div class="desc">
              <p>ブトゥビッチ・ポール</p>
              <p>H2グループ 不動産部門ディレクター</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-12">
          <div class="inner">
            <div class="img">
              <img src="/images/team/ben.jpg"/>
            </div>
            <div class="desc">
              <p>ベン・カー</p>
              <p>倶知安町及びニセコ町観光協会理事</p>
              <p>ニセコリアルエステート 創業者／オーナー</p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-13">
          <div class="inner">
            <div class="img">
              <img src="/images/team/yui.jpg"/>
            </div>
            <div class="desc">
              <p>スプラグ 結</p>
              <p>ライジングサンガイド 総務</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-14">
          <div class="inner">
            <div class="img">
              <img src="/images/team/namikata.jpg"/>
            </div>
            <div class="desc">
              <p>波方 誠</p>
              <p>倶知安町議会議員</p>
              <p>ノーススレッドスノーモービル オーナー</p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-15">
          <div class="inner">
            <div class="img">
              <img src="/images/team/kazue.jpg"/>
            </div>
            <div class="desc">
              <p>飯島 和恵</p>
              <p>会計士</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-16">
          <div class="inner">
            <div class="img">
              <img src="/images/team/mizuno.jpg"/>
            </div>
            <div class="desc">
              <p>水野 学</p>
              <p>水野自転車店 オーナー</p>
              <p></p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-17">
          <div class="inner">
            <div class="img">
              <img src="/images/team/yoshihito.jpg"/>
            </div>
            <div class="desc">
              <p>田中 義人</p>
              <p>倶知安町議会議員. 倶知安町観光協会理事</p>
              <p>ニセコリゾートサービス 創業者／オーナー</p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-18">
          <div class="inner">
            <div class="img">
              <img src="/images/team/shinji.jpg"/>
            </div>
            <div class="desc">
              <p>古谷 真司</p>
              <p>倶知安町議会議員</p>
              <p>ニセコ環境㈱ 管理室長</p>
            </div>
          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-19">
          <div class="inner">
            <div class="img">
              <img src="/images/team/riccardo.jpg"/>
            </div>
            <div class="desc">
              <p>トッサーニ・リカルド</p>
              <p>リカルド・トッサーニ建築事務所 創業者／オーナー</p>
              <p></p>
            </div>

          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-20">
          <div class="inner">
            <div class="img">
              <img src="/images/team/hiroshi.jpg"/>
            </div>
            <div class="desc">
              <p>山田 洋</p>
              <p>倶知安町観光協会副会長</p>
              <p>North Design 株式会社 創業者／オーナー</p>
            </div>

          </div>
        </div>

        <div class="member ja-animate" data-animation="move-from-right" data-delay="item-21">
          <div class="inner">
            <div class="img">
              <img src="/images/team/satoshi.jpg"/>
            </div>
            <div class="desc">
              <p>吉田 聡 (監事)</p>
              <p>倶知安町観光協会会長</p>
              <p>司法書士法人ミナカムイ 創業者／オーナー</p>
            </div>

          </div>
        </div>

      </div>

    </div>

    <div class="section">

      <div class="module-title-wrap" style="max-width:900px;">
        <h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="200">Our Latest Updates</h3>
      </div>

      <div class="insta ja-animate" data-animation="fadeIn" data-delay="800">
        <div class="embedsocial-hashtag" data-ref="143df9a3684cb1f855462a3bcaba24ba00a4308a"></div>
        <script>
          (function (d, s, id) {
            var js;
            if (d.getElementById(id)) {
              return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://embedsocial.com/cdn/ht.js";
            d
              .getElementsByTagName("head")[0]
              .appendChild(js);
          }(document, "script", "EmbedSocialHashtagScript"));
        </script>
      </div>
    </div>
  </div>
{% endblock %}

{% block bottom %}
  <div class="module-title-wrap">
    <h3 class="module-title" style="color: #cccccc;">羆スポンサー</h3>
    <div class="features-desc">
      <img style="width:50px;" alt="Higuma" src="/images/ico/higuma.500.png"/>
    </div>
  </div>

  {% import 'macros/logos.njk' as logos %}
  {{logos.logos([
			['/images/company/higuma/coinmetro.png', 'https://coinmetro.com'],
			['/images/company/higuma/h2.png', 'https://www.h2group.com/jp/'],
			['/images/company/higuma/hbc.png', 'https://www.hokkaidobackcountryclub.com/ja/homepage-2/'],
			['/images/company/higuma/holiday-niseko.png', 'https://holidayniseko.jp'],
			['/images/company/higuma/nre.png', 'https://nisekorealestate.com/ja/'],
      ['/images/company/higuma/sc-global.png', 'https://www.scglobal.com.sg'],
			['/images/company/higuma/zekkei.png', 'https://www.zekkeicollection.com/']
		], width=7, class="higuma")}}

  <div class="module-title-wrap"></div>

  <div class="module-title-wrap">
    <h3 class="module-title" style="color: #cccccc;">鹿スポンサー</h3>
    <div class="features-desc">
      <img style="width:50px;" alt="Shika" src="/images/ico/shika.500.png"/>
    </div>
  </div>

  {{logos.logos([
			['/images/company/shika/niseko-central.png', 'https://www.nisekocentral.com/ja/'],
			['/images/company/shika/niseko-wow.png', 'https://www.niseko-wow.com'],
			['/images/company/shika/noasc.png', 'https://noasc.com/ja/'],
			['/images/company/shika/oyuki.png', 'https://oyuki.com'],
			['/images/company/shika/rhythm.png', 'https://www.rhythmjapan.com/ja/'],
			['/images/company/shika/suiboku.png', 'https://www.suibokuhirafu.com/ja/']
		], width=9, class="shika")}}

  <div class="module-title-wrap"></div>

  <div class="module-title-wrap">
    <h3 class="module-title" style="color: #cccccc;">狸スポンサー</h3>
    <div class="features-desc">
      <img style="width:50px;" alt="Tanuki" src="/images/ico/tanuki.500.png"/>
    </div>
  </div>

  {{logos.logos([
      ['/images/company/tanuki/mnk.png', 'https://www.mnkniseko.com/ja'],
			['/images/company/tanuki/peak-car-rentals.png', 'https://www.nisekocarrental.com']
		], width=12, class="tanuki")}}

  <div class="module-title-wrap"></div>

  <div class="module-title-wrap"></div>
{% endblock %}
