---
title: Raffle
subtitle: Our biggest raffle to date!
description: Support mountain biking in Japan and win an awesome limited edition, fully custom painted Specialized Soil Searching Stumpjumper Evo Expert! Enter to win today!
masthead:
  img: /assets/images/og/ss-stumpjumper.jpg
og:
  image: /assets/images/og/ss-stumpjumper.jpg
storeProductId: 688070324
otherPrizes:
  - row:
    - title: Park Hyatt luxury mountain biking getaway for 2
      desc: This luxurious one-night stay at The Park Hyatt Niseko hotel includes a delightful buffet breakfast meaning you and your loved one, or your favourite riding buddy, can fuel up and kickstart your day of mountain biking adventures.
      inclusions:
        - 1 night stay for 2 at Park Hyatt Niseko in View King
        - Park Hyatt breakfast for 2
        - Mountain bike rental for 2 from Rhythm Hirafu
      images:
        - /assets/images/prizes/2024/hyatt-01.jpg
        - /assets/images/prizes/2024/rhythm-01.jpg
      sponsors:
        - name: Park Hyatt
          img: /assets/images/company/higuma/park-hyatt.png
          url: https://www.hyatt.com/en-US/hotel/japan/park-hyatt-niseko-hanazono/ctsph
        - name: Rhythm Hirafu
          img: /assets/images/company/special/rhythm.png
          url: https://www.rhythmjapan.com
      note: Valid for summer 2025. Blackout dates apply.

    - title: Rhythm Hirafu activity hub season pass
      desc: Enjoy unlimited access to an action-packed season at Rhythm Hirafu. With many activities included, this pass is perfect for thrill-seekers looking to make the most of every adventure.
      inclusions:
        - Kilter board & Bouldering wall
        - Pump track & Skate park & Indoor mini ramp
        - Trampoline & slackline
      images:
        - /assets/images/prizes/2024/rhythm-02.jpg
        - /assets/images/prizes/2024/rhythm-03.jpg
      sponsors:
        - name: Rhythm Hirafu
          img: /assets/images/company/special/rhythm.png
          url: https://www.rhythmjapan.com
      note: Valid for summer 2025.

  - row:
    - title: Mountain bike rental
      hidePrizeNumber: true
      quantity: 1
      desc: Gear up for an epic ride with top-quality mountain bike rentals. Whether you're hitting the trails at Twin Peaks or Grand Hirafu, Rhythm Hirafu has you covered with a range of bikes to suit every rider.
      images:
      - /assets/images/prizes/2024/rhythm-01.jpg
      - /assets/images/prizes/2024/rhythm-04.jpg
      sponsors:
        - name: Rhythm Hirafu
          img: /assets/images/company/special/rhythm.png
          url: https://www.rhythmjapan.com
      note: Valid for summer 2025.

    - title: Fox Float Rhythm 29" Forks
      hidePrizeNumber: true
      quantity: 4
      desc: Boost your ride with these high-performance suspension forks. Designed for smooth, reliable, and precise handling on any trail, perfect for enhancing your mountain biking experience.
      images:
        - /assets/images/prizes/2024/forks-01.jpg
        - /assets/images/prizes/2024/forks-02.jpg
      sponsors:
        - name: Fox
          img: /assets/images/company/fox.png
          url: https://ridefox.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Race Face bar and stem set
      hidePrizeNumber: true
      quantity: 5
      desc: Upgrade your cockpit with this robust and stylish bar and stem combo. Engineered for strength and control, it's the perfect setup for tackling any trail with confidence.
      images:
        - /assets/images/prizes/2024/bar-01.jpg
        - /assets/images/prizes/2024/bar-02.jpg
      sponsors:
        - name: Race Face
          img: /assets/images/company/raceface.svg
          url: https://www.raceface.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  - row:
    - title: Race Face Chester pedals
      hidePrizeNumber: true
      quantity: 5
      desc: Lightweight yet durable, these pedals offer superior grip and performance. Perfect for riders looking for reliable traction and a confident ride on any terrain.
      images:
        - /assets/images/prizes/2024/pedals.jpg
      sponsors:
        - name: Race Face
          img: /assets/images/company/raceface.svg
          url: https://www.raceface.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Race Face "Getta grip" grips
      hidePrizeNumber: true
      quantity: 5
      desc: Experience comfort and control with these ergonomic grips. Designed for a secure hold, they ensure a comfortable and confident ride on every trail.
      images:
        - /assets/images/prizes/2024/grips.jpg
      sponsors:
        - name: Race Face
          img: /assets/images/company/raceface.svg
          url: https://www.raceface.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Fox trucker baseball caps
      hidePrizeNumber: true
      quantity: 12
      desc: Stay cool and stylish with these classic trucker caps. Perfect for any adventure, they offer breathable comfort and a versatile look, on or off the trail.
      images:
        - /assets/images/prizes/2024/baseball-01.jpg
      sponsors:
        - name: Fox
          img: /assets/images/company/fox.png
          url: https://ridefox.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

  - row:
    - title: Specialized t-shirts
      hidePrizeNumber: true
      quantity: 5
      desc: Show off your passion for riding with these high-quality, comfortable t-shirts. Perfect for everyday wear, whether you're on the bike or just hanging out.
      images:
        - /assets/images/prizes/2024/tshits-01.jpg
      sponsors:
        - name: Specialized
          img: /assets/images/company/special/specialized.png
          url: http://specialized-onlinestore.jp/
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: ¥5,000 voucher book to spent at B3 Coffee Otaru
      hidePrizeNumber: true
      quantity: 2
      desc: Enjoy premium coffee and delicious treats at B3 Coffee Otaru with this ¥5,000 voucher book. Perfect for fueling up before or after your adventures.
      images:
        - /assets/images/prizes/2024/b3.jpg
      sponsors:
        - name: B3 Coffee Otaru
          img: /assets/images/company/b3.png
          url: https://www.instagram.com/b3.coffee.otaru/
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn. Vouchers valid for 1 year from raffle draw date, and only one voucher can be used at a time.

  - row:
    - title: Fox bottle openers
      hidePrizeNumber: true
      quantity: 3
      desc: Crack open a cold one with these unique bottle openers, shaped like rear shocks. Magnetic design ensures they stick to your fridge, blending functionality with a cool, bike-inspired look.
      images:
        - /assets/images/prizes/2024/bottle-opener.jpg
      sponsors:
        - name: Fox
          img: /assets/images/company/fox.png
          url: https://ridefox.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.

    - title: Fox key ring
      hidePrizeNumber: true
      quantity: 6
      desc: Convenient and stylish, these key rings double as bottle openers, making them the perfect accessory for any biker. Always ready to pop a bottle on the go.
      images:
        - /assets/images/prizes/2024/key-ring.jpg
      sponsors:
        - name: Fox
          img: /assets/images/company/fox.png
          url: https://ridefox.com
      note: Product must be collected on raffle draw night. If you cannot attend in person or have a representative present, the prize will be re-drawn.
---
<style>
  .carousel .hero {
    border: 1px #cccccc solid;
    border-radius: 5px;
  }

  .carousel .thumbs {
    display: flex;
    flex-flow: row wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 5px;
  }

  .carousel .thumbwrap {
    width: 20%;
  }

  @media(max-width: 1199px) {
    .carousel .thumbwrap {
      width: 33.333333333%;
    }
  }

  @media(max-width: 992px) {
    .carousel .thumbwrap {
      width: 25%;
    }
  }

  @media(max-width: 480px) {
    .carousel .thumbwrap {
      width: 33.333333333%;
    }
  }

  .carousel .thumb {
    margin: 5px;
    cursor: pointer;
    border: 1px #ccc solid;
    border radius: 5px;
  }

  .carousel .thumb:hover {
    opacity: 0.8;
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .prizes .num {
    color: #0e0e0e;
    font-size: 200%;
    position: absolute;
    margin-left: -47px;
    font-weight: bold;
    margin-top: 7px;
  }

  .prizes .features-item:not(.no-hover):hover .num {
    color: #fd7d57;
  }

  .prizes .features-item a.action:hover {
    background-color: #fd7d57;
    background: linear-gradient(135deg, #fd7d57, #f55d59);
    border-color: #fd7d57;
  }

  .gold {
    color: #ffd97b;
    font-size: 12px !important;
    font-family: "Metropolis"
    , Helvetica
    , Arial
    , sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-top: 30px;
  }

  .prizes .features-item {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .features-item .sponsors {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .features-item .sponsors a {
    margin: 0 5px;
  }

  .features-item .sponsors img {
    margin-bottom: 10px;
    max-height: 50px;
    max-width: 150px;
  }

  .features-item .products {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  @media(max-width: 480px) {
    .features-item .products .prodwrap {
      width: 100%;
    }
  }

  .features-item .products .prodwrap.full {
    width: 100%;
  }

  @media(max-width: 991px) {
    .features-item .products .prodwrap.full {
      width: auto;
    }
  }

  .features-item .products .prod {
    margin: 0 5px 10px;
    border: 1px #ccc solid;
    border radius: 5px;
  }

  .features-item .small > div {
    position: relative;
  }

  .features-item .action {
    font-size: 125%;
    border: 1px #ffffff solid;
    display: inline-block !important;
  }

  .features-item .small {
    font-style: italic;
    font-size: 75%;
    margin-top: 30px;
  }

  .owl-carousel {
    margin-top: 15px;
  }

  .owl-nav button span {
    opacity: 0.5;
  }

  .owl-nav button span:before {
    color: #fd7d57;
    font-size: 35px;
    background: linear-gradient(135deg, #fd7d57, #f55d59);
    background-clip: text;
    display: inline-block;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    text-indent: 1px;
  }

  .owl-nav button span:hover {
    opacity: 0.8;
  }

  .owl-nav {
    text-align: center;
    margin-top: 15px;
  }

  .owl-nav .owl-next {
    margin-left: 15px;
    /*float: right;*/
  }

  .ec-grid {
    display: block !important;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .details-gallery__images-spacer {
    margin-top: 35px;
  }

  .product-details__navigation {
    display: none !important;
  }

  #ProductBrowser-1 {
    min-height: auto !important;
  }

  .form-control {
    text-align: center !important;
    text-align: -moz-center !important;
    text-align: -webkit-center !important;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice {
    background-color: #fd7d57;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice::before {
    color: #fd7d57;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice::after {
    color: #fd7d57;
  }

  .ec-form__row--continue .form-control--done {
    text-align: left !important;
  }

  .form-control button.form-control__button {
    color: #ffffff !important;
    background-color: #fd7d57 !important;
    border-color: transparent !important;
    background: linear-gradient(135deg, #fd7d57, #f55d59) !important;

    border: 0 !important;
    border-radius: 30px !important;
    font-weight: 500 !important;
    padding-left: 36px !important;
    padding-right: 36px !important;

    width: auto !important;
    font-size: 14px !important;
  }

  .form-control button.form-control__button:hover {
    background: #fd7d57 !important;
    background: linear-gradient(155deg, #fd7d57, #fd7d57) !important;
  }

  img.ecwid-PaymentMethodsBlockSvg {
    background: #fff !important;
  }

  html#ecwid_html body#ecwid_body .ec-cart__button .paypal-button {
    width: 200px;
    margin: 0 auto;
  }

  .ec-cart__button--apple-pay {
    text-align: center !important;
    text-align: -moz-center !important;
    text-align: -webkit-center !important;
  }

  .ec-cart__button--apple-pay .form-control--button {
    border: 1px #fff solid !important;
    padding-left: 36px !important;
    padding-right: 36px !important;
    border-radius: 30px !important;
    width: 170px !important;
    margin: 0 auto !important;
    position: relative !important;
  }

  a.breadcrumbs__link--last {
    font-size: 0 !important;
  }

  a.breadcrumbs__link--last:after {
    content: '✕';
    font-size: 20px;
    font-weight: bold;
    float: right;
  }

  html#ecwid_html body#ecwid_body #raffle-store .ec-size .ec-store .details-gallery__images-spacer {
    margin-top: 0;
  }

  #raffle-store a.breadcrumbs__link--last {
    display: none;
  }

  html#ecwid_html body#ecwid_body #raffle-store .ec-confirmation__continue {
    display: none;
  }
</style>

<script
  id="ecwid-script"
  data-cfasync="false"
  type="text/javascript"
  src="https://app.ecwid.com/script.js?71386768&lang=en-GB&data_platform=code&data_date=2022-08-27"
  charset="utf-8"></script>
<div>

  <div class="t3-section-wrap">

    <div class="module-title-wrap" style="margin-top:0px; margin-bottom:30px">
      <p
        class="ja-animate"
        data-animation="move-from-bottom"
        data-delay="800">Entry is open from 13th August 2024 until 6:00pm 14th September 2024.
      </p>
    </div>

    <div class="section acm-features style-2 prizes">
      <div
        class="row"
        data-animation="move-from-bottom"
        data-delay="1800">
        <div class="col col-sm-12 col-md-12">
          <div
            class="features-item no-hover ja-animate"
            data-animation="move-from-bottom"
            data-delay="item-0">

            <div class="row">
              <div class="col col-sm-12 col-md-4">
                <div class="font-icon">
                  <span class="icon ion-ios-trophy">
                    <span class="num">1</span>
                  </span>
                </div>
                <h4>Soil Searching Stumpjumper Evo Expert</h4>
                <div class="sponsors">
                  <a href="https://www.specialized-onlinestore.jp/" target="_blank">
                    <img src="/assets/images/company/special/specialized.png" alt="Specialized Bicycles" />
                  </a>
                </div>
                <p style="font-size:125%;">
                  <strong>NEVER FOR SALE</strong>
                </p>
                <p class="gold" style="margin-top:30px;">Fully custom limited edition paint job</p>
                <p class="gold">Rockshox Lyrik fork</p>
                <p class="gold">Super Deluxe shock</p>
                <p class="gold">Roval Traverse 29" wheels</p>
                <p class="gold">Specialized Soil Searching tires</p>
                <p class="gold">SRAM Eagle drive train</p>
                <p class="gold">SRAM Code brakes</p>
                <p class="gold">Carbon frame</p>
                <p class="gold">S3 size</p>
                <a class="btn action to-raffle" href="#raffle-store">
                  <span>Enter to win here</span>
                </a>
                <p class="small">The bike is available for immediate collection in Niseko, or for postage within Japan. Should a winner be unable to collect the bicycle immediately, storage for up to 6 months is available in Niseko.</p>
              </div>
              <div class="col col-sm-12 col-md-8">

                <div class="carousel">
                  <div class="hero">
                    <img id="carousel-hero" src="/assets/images/prizes/2024/stumpjumper-0.jpeg" />
                  </div>
                  <div class="thumbs">
                    {% for i in (0..9) -%}
                      <div class="thumbwrap">
                        <div class="thumb {% if i == 0 %}active{% endif %}" onclick="changeHero(this, '/assets/images/prizes/2024/stumpjumper-{{ i }}.jpeg');">
                          <img src="/assets/images/prizes/2024/stumpjumper-{{ i }}.jpeg" />
                        </div>
                      </div>
                    {%- endfor %}
                  </div>
                </div>

                <p style="margin-top:15px; margin-bottom:15px;">
                  <strong style="color:#fff;">ULTRA LIMITED.</strong>
                  Up for raffle is an ultra limited edition Specialized Stumpjumper Evo Expert. This limited edition build sports a custom, a hand painted Soil Searching branded livery and a special Soil Searching edition parts list. How rare is it? Extremely: it is one of a handful of these bikes available world-wide.
                </p>
                <p style="margin-bottom:15px;">
                  <strong style="color:#fff;">NEVER FOR SALE.</strong>
                  Specialized's Soil Searching edition bikes are never for sale - they cannot be purchased or custom ordered. This presents an exceptional opportunity to own a truly one-of-a-kind and rare bicycle.
                </p>
                <p style="margin-bottom:15px;">
                  <strong style="color:#fff;">YOURS TO WIN.</strong>
                  Each raffle ticket you buy secures you another chance to win this epic bike, and the other prizes on offer. It also supports a good cause: all proceeds go towards building free and public mountain biking trails.</p>

                <p class="gold" style="margin-bottom:15px;">The Mountain Guardian; 山守人</p>
                <p>Fully custom limited edition paint job. Never for sale.</p>
                {% include carousel.html images=site.data.prizes.levo.paint.images items=2 autoplay='false' id=2 %}

                <p class="gold" style="margin-bottom:15px;">About Specialized Soil Searching</p>
                <p style="margin-bottom:15px;">Specialized Soil Searching is a movement to recognize, celebrate, and support the trail builders who help shape our sport and our stoke.</p>
                <p style="margin-bottom:15px;">NAMBA is thankful to have our association's trail building team sponsored by Specialized through their Soil Searching Program, and to be raffling off this limited edition Stumpjumper.
                </p>
                <a class="btn action to-raffle" href="#raffle-store">
                  <span>Enter to win here</span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="section acm-features style-2 prizes">

      {% assign prizeNumber = 1 %}
      {% for prizeRow in page.otherPrizes %}
        <div
          class="row equal-height equal-height-child"
          data-animation="move-from-bottom"
          data-delay="0">

          {% assign prizeRowSize = prizeRow.row | size %}
          {% for prize in prizeRow.row %}
            {% assign prizeNumber = prizeNumber | plus: 1 %}
            <div class="col col-sm-12 {% if prizeRowSize == 2 %}col-md-6{% elsif prizeRowSize == 3 %}col-md-4{% elsif prizeRowSize == 4 %}col-md-3{% endif %}">
              <div
                class="features-item no-hover ja-animate"
                data-animation="move-from-bottom"
                data-delay="item-{{ prizeNumber }}">
                <div class="font-icon">
                  <span class="icon ion-ios-trophy">
                    {% unless prize.hidePrizeNumber %}
                      <span class="num">{{ prizeNumber }}</span>
                    {% endunless %}
                  </span>
                </div>
                <h4>{{ prize.title }}</h4>
                <div class="products">
                  {% for image in prize.images %}
                    <div
                      class="prodwrap"
                      {% if prizeRowSize < 3 %}
                      style="width:50%"
                      {% endif %}>
                      <div class="prod">
                        <img src="{{ image }}" />
                      </div>
                    </div>
                  {% endfor %}
                </div>
                {% if prize.quantity %}
                  <div>
                    <strong class="gold" style="font-size:125%;">
                      <span style="font-size:200%;">{{ prize.quantity }}</span>
                      {% if prize.quantity == 1 %}prize available{% else %}prizes available{% endif %}
                    </strong>
                  </div>
                {% endif %}
                {% if prize.value %}
                  <p style="font-size:125%;">A value of
                    <strong>{{ prize.value }}</strong>
                  </p>
                {% endif %}
                {% if prize.subtitle %}
                  <p class="gold" style="margin-top:30px; margin-bottom:15px;">{{ prize.subtitle }}</p>
                {% endif %}
                {% if prize.desc %}
                  <p style="margin-bottom:15px;">{{ prize.desc }}</p>
                {% endif %}
                {% for inclusion in prize.inclusions %}
                  <p
                    class="gold"
                    {% if forloop.index0 == 0 %}
                    style="margin-top:30px"
                    {% endif %}>{{ inclusion }}</p>
                {% endfor %}
                <a class="btn action to-raffle" href="#raffle-store">
                  <span>Enter to win here</span>
                </a>
                <div class="sponsors">
                  {% for sponsor in prize.sponsors %}
                    <a href="{{ sponsor.url }}" target="_blank">
                      <img src="{{ sponsor.img }}" alt="{{ sponsor.name }}">
                    </a>
                  {% endfor %}
                </div>
                {% if prize.note %}
                  <p class="small">{{ prize.note }}</p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

    </div>

    <div class="t3-section">
      <h2
        style="text-align: center;"
        data-animation="move-from-bottom"
        data-delay="400">More prizes coming soon, so check back for updates!</h2>
    </div>

    <div class="t3-section">

      <div class="module-title-wrap"></div>

      <div id="raffle-store"></div>

    </div>
  </div>


</div>
<script>
  window.ec = window.ec || Object();
  window.ec.config = window.ec.config || Object();
  window.ec.config.custom_redirect_after_purchase = 'https://www.namba.ngo/get-involved/thanks';
  window.ec.config.navigation_scrolling = "DISABLED";
  window.ec.storefront = window.ec.storefront || Object();
  window.ec.storefront.product_details_show_share_buttons = false;
  window.ec.storefront.product_details_show_qty = true;
  window.ec.storefront.product_details_show_in_stock_label = true;
  window.ec.storefront.show_breadcrumbs = true;
  window.ec.storefront.product_details_show_breadcrumbs = true;
  window.ec.storefront.product_details_position_breadcrumbs = 25;
  window.ec.storefront.breadcrumbs_separator = "";

  xProductBrowser("defaultProductId={{page.storeProductId}}", "categoriesPerRow=3", "views=grid(20,3) list(60) table(60)", "categoryView=grid", "searchView=list", "id=raffle-store");

  window.ecwid_script_defer = true;
  window.ecwid_dynamic_widgets = true;

  function changeHero(source, img) {
    document.getElementById('carousel-hero').src = img;

    const thumbs = document.getElementsByClassName("thumb");
    for (i = 0; i < thumbs.length; i++) {
      thumbs[i].className = thumbs[i].className.replace(" active", "");
    }

    source.className += " active"

  }
</script>
