---
title: Join our team
baseCss: view-category
---

<div class="t3-section-wrap">

  <div class="section">

    <div class="module-title-wrap">
      <div class="features-desc" data-animation="move-from-bottom" data-delay="600">
        <div style="font-size:130%;">
          <p>Join the NAMBA team!</p>
          <p>Our volunteer subcommittee positions, and paid summer seasonal positions, are shaping trails and
          shaping the future of our community.</p>
          <p>Have skills you can bring to the table, or to the trails? Awesome, learn more about our opportunities below!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog style-1 project-view" itemscope="" itemtype="https://schema.org/Blog">

  {% assign posts = site.categories.jobs | where: "lang", "en" | where: "draft", "false" %}
  {% for post in posts %}

  {% assign indexModulo3 = forloop.index0 | modulo: 3 %}
  {% if indexModulo3 == 0 %}
  <div class="items-row cols-3 row-{{- forloop.index0 | divided_by: 3 }} row equal-height equal-height-child">
    {% endif %}


    <div class="col-md-4 col">
      <div class="item column-1" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting"
        style="min-height: 529px;">

        <!-- Article -->
        <article class="view-project">
          <div class="image-wrap" style="margin-top:10px;">
            <div class="pull-left item-image">
              <a href="{{ post.url }}"><img src="{{ post.thumbnail }}?d={{ site.time | date: '%s' }}" alt=""
                  itemprop="thumbnailUrl"></a>
            </div>
          </div>

          <div class="intro-wrap">

            <header class="article-header clearfix">
              <h2 class="article-title" itemprop="headline">
                <a href="{{ post.url }}" itemprop="url" title="{{ post.title }}">
                  {{ post.title }}</a>
              </h2>

            </header>
            <span class="project-type">{{ post.job_type }}</span>
            <br />
            <span class="project-type">{{ post.excerpt | strip_html | slice: 0, 100 }}</span>


            <!-- Aside -->
            <!-- //Aside -->


            <!-- footer -->
            <!-- //footer -->


          </div>
          {% if post.filled %}
            <div class="ribbon ribbon-top-left"><span>Filled</span></div>
          {% endif %}
        </article>
        <!-- //Article -->



      </div>
      <!-- end item -->
    </div>

    {% if indexModulo3 == 2 or forloop.last %}
  </div>
  <!-- end row -->
  {% endif %}

  {% endfor %}

</div>


{% comment %} ---
title: We're hiring!
description: NAMBA Trail Builder Job Description
---
<div class="ja-inview">
  <div class="module-title-wrap">
    <div class="action">
      <a class="btn btn-primary" target="_blank" href="https://forms.gle/hb2MTckmQVUgD8DM9">Apply here</a>
    </div>
  </div>
</div>
{% include pdf.html path = "/assets/pdfs/NAMBA.2023.TrailBuilder-Job-Description.en.pdf" name =
"NAMBA.2023.TrailBuilder.Job.Description.pdf" %}
<div class="ja-inview">
  <div class="module-title-wrap">
    <div class="action">
      <a class="btn btn-primary" target="_blank" href="https://forms.gle/hb2MTckmQVUgD8DM9">Apply here</a>
    </div>
  </div>
</div> {% endcomment %}
