---
title: Twin Peaks Crowdfunding
description: Support mountain biking in Japan and win awesome prizes! Every ¥5,000 spent on NAMBA's fundraiser page builds 2 meters of world class mountain biking trails in Niseko, Japan. Epic prizes on offer like a Trek Rail 5 e-mountain bike, heli skiing vacation packages, overnight cat skiing trips, 5 day summer vacation packages and much, much more! Enter to win today!
noindex: true
masthead:
  img: /assets/images/bg/bg-header-twinpeaks.jpg
og:
  image: /assets/images/og/twinpeaks.jpg
---
<style>
  div.ja-masthead {
    padding-bottom: 50px !important;
  }

  @media(max-width: 767px) {
    .t3-mainbody {
      padding-top: 0 !important;
    }
  }

  .fund-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .fund-progress .outer {
    margin-top: 20px;
    width: 60%;
    height: 1rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px #4dad2a;
  }

  .fund-progress .inner {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4dad2a;
    top: 0;
    bottom: 0;
    left: -45%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: right;
  }

  .fund-progress .labels {
    width: 60%;
    margin-top: 10px;
    position: relative;
  }

  .fund-progress .labels .left {
    position: absolute;
    left: 0;
  }

  .fund-progress .labels .right {
    position: absolute;
    right: 0;
  }

  @media(min-width: 480px) {
    .fund-progress .outer {
      width: 50%;
    }

    .fund-progress .labels {
      width: 50%;
    }
  }

  @media(min-width: 768px) {
    .fund-progress .outer {
      width: 30%;
    }

    .fund-progress .labels {
      width: 30%;
    }
  }

  h3.module-title {
    font-size: 130%;
  }

  .fixed-tabs {
    position: fixed;
    left: 0;
    top: 15px;
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
  }

  .fixed-tabs .tabs {
    margin: auto;
    position: relative;
    z-index: 1;
    max-width: 720px;
  }

  @media(min-width: 992px) {
    .fixed-tabs .tabs {
      max-width: 724px;
    }
  }

  @media(min-width: 1200px) {
    .fixed-tabs .tabs {
      max-width: 900px;
    }
  }

  .tabs {
    border: 1px #8e8e8e solid;
    border-radius: 15px;
    margin-top: inherit !important;
    margin-bottom: inherit !important;
    max-width: 900px;
    background-color: #000000;
  }

  .tabs .col {
    padding: 10px !important;
    float: left;
    width: 33.3333333333%;
  }

  @media(max-width: 359px) {
    .tabs .col {
      width: 100%;
    }

    .tabs .col:nth-child(1) {
      padding-bottom: 0 !important;
    }

    .tabs .col:nth-child(2) {
      padding-bottom: 0 !important;
    }
  }

  .tabs .tab {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #0e0e0e;
  }

  .tabs {
    cursor: pointer;
  }

  .tabs .tab h3 {
    margin: 0;
    font-weight: bold;
    font-size: 120%;
    color: #eeeeee;
  }

  @media(max-width: 767px) {
    .tabs .tab h3 {
      font-size: 100%;
    }
  }

  @media(max-width: 402px) {
    .tabs .tab h3 {
      font-size: 90%;
    }
  }

  @media(max-width: 375px) {
    .tabs .tab h3 {
      font-size: 80%;
    }
  }

  .tabs .active {
    background-color: #fd7d57 !important;
  }

  .tabs .active h3 {
    color: #ffffff;
  }

  .tabs .tab:hover {
    background-color: #2e2e2e !important;
  }
  .tabs .tab.active:hover {
    background-color: #fd7d57 !important;
    cursor: auto;
  }

  .tab-content {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
  }

  .carousel .hero {
    border: 1px #ccc solid;
    border radius: 5px;
  }

  .carousel .thumbs {
    display: flex;
    flex-flow: row wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 5px;
  }

  .carousel .thumbwrap {
    width: 20%;
  }

  @media(max-width: 1199px) {
    .carousel .thumbwrap {
      width: 33.333333333%;
    }
  }

  @media(max-width: 992px) {
    .carousel .thumbwrap {
      width: 25%;
    }
  }

  @media(max-width: 480px) {
    .carousel .thumbwrap {
      width: 33.333333333%;
    }
  }

  .carousel .thumb {
    margin: 5px;
    cursor: pointer;
    border: 1px #ccc solid;
    border radius: 5px;
  }

  .carousel .thumb:hover {
    opacity: 0.8;
  }

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .prizes .num {
    color: #0e0e0e;
    font-size: 200%;
    position: absolute;
    margin-left: -47px;
    font-weight: bold;
    margin-top: 7px;
  }

  .prizes .features-item:hover .num {
    color: #fd7d57;
  }

  .gold {
    color: #ffd97b;
    font-size: 12px !important;
    font-family: "Metropolis"
    , Helvetica
    , Arial
    , sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-top: 30px;
  }

  .prizes .features-item {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .features-item .sponsors {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .features-item .sponsors a {
    margin: 0 5px;
  }

  .features-item .sponsors img {
    margin-bottom: 10px;
    height: 50px;
  }

  .features-item .products {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .features-item .products .prodwrap {
    width: 50%;
  }

  @media(max-width: 480px) {
    .features-item .products .prodwrap {
      width: 100%;
    }
  }

  .features-item .products .prodwrap.full {
    width: 100%;
  }

  @media(max-width: 991px) {
    .features-item .products .prodwrap.full {
      width: auto;
    }
  }

  .features-item .products .prod {
    margin: 0 5px 10px;
    border: 1px #ccc solid;
    border radius: 5px;
  }

  .features-item .small > div {
    position: relative;
  }

  .features-item .action {
    font-size: 125%;
    border: 1px #ffffff solid;
    display: inline-block !important;
  }

  .features-item .small {
    font-style: italic;
    font-size: 75%;
    margin-top: 30px;
  }

  .ec-grid {
    display: block !important;
  }

  html#ecwid_html body#ecwid_body .ec-size .ec-store .details-gallery__images-spacer {
    margin-top: 35px;
  }

  .product-details__navigation {
    display: none !important;
  }

  .product-details__sidebar {
  ;


  /*
   text-align: center !important;
   text-align: -moz-center !important;
   text-align: -webkit-center !important;
*/
}

#ProductBrowser-1 {
  min-height: auto !important;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice .label__text {
;
/*color: #000;*/
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice {
  /*background-color: #ffd97b;*/
  background-color: #fd7d57;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice::before {
  color: #fd7d57;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .label--notice::after {
  color: #fd7d57;
}

.form-control {
;


/*
   text-align: center !important;
   text-align: -moz-center !important;
   text-align: -webkit-center !important;
*/
}

.ec-form__row--continue .form-control--done {
  text-align: left !important;
}

.form-control button.form-control__button {
  color: #ffffff !important;
  background-color: #fd7d57 !important;
  border-color: transparent !important;
  background: linear-gradient(135deg, #fd7d57, #f55d59) !important;

  border: 0 !important;
  border-radius: 30px !important;
  font-weight: 500 !important;
  padding-left: 36px !important;
  padding-right: 36px !important;

  width: auto !important;
  font-size: 14px !important;
}

.form-control button.form-control__button:hover {
  background: #fd7d57 !important;
  background: linear-gradient(155deg, #fd7d57, #fd7d57) !important;
}

img.ecwid-PaymentMethodsBlockSvg {
  background: #fff !important;
}

.ec-cart__button--apple-pay {
  text-align: center !important;
  text-align: -moz-center !important;
  text-align: -webkit-center !important;
}

.ec-cart__button--apple-pay .form-control--button {
  border: 1px #fff solid !important;
  padding-left: 36px !important;
  padding-right: 36px !important;
  border-radius: 30px !important;
  width: 170px !important;
  margin: 0 auto !important;
  position: relative !important;
}

a.breadcrumbs__link--last {
  font-size: 0 !important;
}

a.breadcrumbs__link--last:after {
  content: '✕';
  font-size: 20px;
  font-weight: bold;
  float: right;
  /*margin-top: -15px;*/
}

html#ecwid_html body#ecwid_body #raffle-store .ec-size .ec-store .details-gallery__images-spacer {
  margin-top: 0;
}

#raffle-store a.breadcrumbs__link--last {
  display: none;
}

html#ecwid_html body#ecwid_body #raffle-store .ec-size .ec-store .ec-cart--empty .ec-cart__button {
;
/*display: none;*/
}
</style>

<script
  id="ecwid-script"
  data-cfasync="false"
  type="text/javascript"
  src="https://app.ecwid.com/script.js?71386768&lang=en-GB&data_platform=code&data_date=2022-08-27"
  charset="utf-8"></script>
<script>
  var currentTab = 'purchases';
  function scrollTo(selector) {
    const elem = document.querySelector(selector);
    const bodyRect = document.body.getBoundingClientRect();
    const elemRect = elem.getBoundingClientRect();
    const offset = elemRect.top - bodyRect.top;

    (function($) {
      $('html, body').animate({
        scrollTop: offset
      }, 500);
    })(jQuery);

    return false;
  }

  function loadStore(store, args) {
    if (typeof Ecwid != 'undefined' && Ecwid.destroy != undefined)
      Ecwid.destroy();




    window._xnext_initialization_scripts = [{
        widgetType: 'ProductBrowser',
        id: store,
        arg: ["id=productBrowser"].concat(args)
      }];

    ecwid_onBodyDone();
  }

  function openTab(tab, pushState = true) {
    currentTab = tab;

    if (pushState) {
      history.pushState({
        tab: tab
      }, "", `?t=${tab}`)
    }

    var i;

  // Get all elements with class="tabcontent" and hide them
    const tabcontent = document.getElementsByClassName("tab-content");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

  // Get all elements with class="tab" and remove the class "active"
    const tabs = document.getElementsByClassName("tab");
    for (i = 0; i < tabs.length; i++) {
      tabs[i].className = tabs[i].className.replace(" active", "");
    }

  // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tab).style.display = "block";

    document.getElementById(tab + '-tab').className += " active";

  // if (tab == 'purchases') {
  // loadStore('purchases-store', ['defaultCategoryId=137728300', 'views=grid(20,3) list(60) table(60)'])
  // }

    scrollTo('#tabs-top');

  }

  var lastScroll = 0;
  function checkTabsPosition(offset) {
    if (jQuery(window).scrollTop() > lastScroll && jQuery(window).scrollTop() > offset) {
      jQuery('.tabs-container').addClass('fixed-tabs');
    } else if (jQuery(window).scrollTop() < lastScroll && jQuery(window).scrollTop() < offset) {
      jQuery('.tabs-container').removeClass('fixed-tabs');
    }
  }

  function changeHero(source, img) {
    document.getElementById('carousel-hero').src = img;

    const thumbs = document.getElementsByClassName("thumb");
    for (i = 0; i < thumbs.length; i ++) {
      thumbs[i].className = thumbs[i].className.replace(" active", "");
    }

    source.className += " active"

  }
</script>

<a id="tabs-top"></a>

<div class="t3-section-wrap" style="position:relative; z-index:9999; min-height:65px;">

  <div class="section" style="padding-top:0;">
    <div class="tabs-container">
      <div class="row tabs module-title-wrap">
        <div class="col">
          <div
            id="purchases-tab"
            class="tab active"
            onclick="openTab('purchases');">
            <h3>Fundraiser store</h3>
          </div>
        </div>
        <div class="col">
          <div
            id="raffle-tab"
            class="tab"
            onclick="openTab('raffle');">
            <h3>Big prize raffle</h3>
          </div>
        </div>
        <div class="col">
          <div
            id="story-tab"
            class="tab"
            onclick="openTab('story');">
            <h3>Twin Peak's story</h3>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div style="min-height: 1000px;">

  <div class="t3-section-wrap tab-content" id="purchases">

    <div class="section">

      <div class="module-title-wrap" style="margin-top:30px; margin-bottom:30px;">
        <p
          style="margin-bottom:0; font-size:100%;"
          class="ja-animate"
          data-animation="move-from-bottom"
          data-delay="800">Your purchases build trails!</p>
      </div>

      <div>
        <div id="purchases-store"></div>
      </div>

    </div>

  </div>

  <div
    class="t3-section-wrap tab-content"
    id="raffle"
    style="display:none;">

    <div class="section acm-features style-2 prizes">
      <div style="max-width:750px; margin: 0 auto;">

        <div class="module-title-wrap" style="margin-top:40px; margin-bottom:30px;">
          {% comment %}
            <p
            style="font-size:130%;"
            class="ja-animate"
            data-animation="move-from-left"
            data-delay="400">
            Thanks everyone who bought raffle tickets. We will draw the raffle at the end of October, and announce the winning names soon after, contacting each winner by email. Good luck everyone and thanks for helping build trails in Niseko!
            </p>
          {% endcomment %}
          <h3
            class="module-title ja-animate"
            data-animation="move-from-bottom"
            data-delay="200">Winners</h3>

          <p
            style="font-size:130%;"
            class="ja-animate"
            data-animation="move-from-left"
            data-delay="item-0">1st Prize - 岡田英光</p>
          <p
            style="font-size:130%;"
            class="ja-animate"
            data-animation="move-from-left"
            data-delay="item-0">2nd Prize - メドーズ芹奈</p>
          <p
            style="font-size:130%;"
            class="ja-animate"
            data-animation="move-from-left"
            data-delay="item-0">3rd Prize - Troy Daniel</p>
          <p
            style="font-size:130%;"
            class="ja-animate"
            data-animation="move-from-left"
            data-delay="item-0">4th Prize - John Bianchi Simon</p>
          <p
            style="font-size:130%;"
            class="ja-animate"
            data-animation="move-from-left"
            data-delay="item-0">5th Prize - Joe Mortiboy</p>
          <p
            style="font-size:130%;"
            class="ja-animate"
            data-animation="move-from-left"
            data-delay="item-0">6th Prize - Evan Griffin</p>
        </div>
      </div>

      {% comment %}
        <div style="max-width:750px; margin: 0 auto;">
        <div class="col col-sm-12 col-md-8">
        <div class="module-title-wrap" style="margin-top:40px; margin-bottom:30px;">
        <p
        style="font-size:100%;"
        class="ja-animate"
        data-animation="move-from-left"
        data-delay="400">
        Every ticket pays for 2 meters of trail and a chance to win the below prizes. Everyone is a winner since we all get kilometres of world class trails to ride for
        <strong>FREE</strong>!</p>
        </div>
        </div>
        <div class="col col-sm-12 col-md-4">
        <div class="module-title-wrap" style="margin-top:50px; margin-bottom:30px;">

        <div
        class="action ja-animate"
        data-animation="move-from-right"
        data-delay="600">
        <a href="#raffle-store" class="btn btn-primary to-raffle">Enter here</a>
        </div>
        </div>
        </div>
        </div>
      {% endcomment %}

      <div
        class="row"
        data-animation="move-from-bottom"
        data-delay="1800">
        <div class="col col-sm-12 col-md-12">
          <div
            class="features-item ja-animate"
            data-animation="move-from-bottom"
            data-delay="item-0">

            <div class="row">
              <div class="col col-sm-12 col-md-4">
                <div class="font-icon">
                  <span class="icon ion-ios-trophy">
                    <span class="num">1</span>
                  </span>
                </div>
                <h4>Trek Rail 5 Full Suspension Electric Mountain Bike</h4>
                <div class="sponsors">
                  <a href="https://www.trekbikes.com" target="_blank">
                    <img
                      src="/assets/images/company/trek.png"
                      alt="Trek Bikes"
                      style="width: 200px; height: auto;" />
                  </a>
                </div>
                <p style="font-size:125%;">A value of over
                  <strong>¥740,000</strong>
                </p>
                <p class="gold" style="margin-top:30px;">RockShox 35 Gold RL 160mm Fork</p>
                <p class="gold">RockShox Deluxe Select+ 230mm Shock</p>
                <p class="gold">Shimano Deore M6100 Drivetrain</p>
                <p class="gold">Bosch Performance CX Motor</p>
                <p class="gold">Bosch PowerTube 625 Battery</p>
                {% comment %}
                  <a class="btn action to-raffle" href="#raffle-store">
                  <span>Enter here</span>
                  </a>
                {% endcomment %}
                <p class="small">Exact model, specs and colour may differ. Available for pickup in Niseko, postage in Japan, or storage until your next visit. We will try to supply the most appropriate size possible to the lucky winner.</p>
              </div>
              <div class="col col-sm-12 col-md-8">
                <div class="carousel">
                  <div class="hero">
                    <img id="carousel-hero" src="/assets/images/prizes/rail-0.jpeg" />
                  </div>
                  <div class="thumbs">
                    {% for i in (0..9) -%}
                      <div class="thumbwrap">
                        <div class="thumb {% if i == 0 %}active{% endif %}" onclick="changeHero(this, '/assets/images/prizes/rail-{{ i }}.jpeg');">
                          <img src="/assets/images/prizes/rail-{{ i }}.jpeg" />
                        </div>
                      </div>
                    {%- endfor %}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="section acm-features style-2 prizes">

      <div
        class="row equal-height equal-height-child"
        data-animation="move-from-bottom"
        data-delay="200">
        <div class="col col-sm-12 col-md-6">
          <div
            class="features-item ja-animate"
            data-animation="move-from-bottom"
            data-delay="item-0">
            <div class="font-icon">
              <span class="icon ion-ios-trophy">
                <span class="num">2</span>
              </span>
            </div>
            <h4>Niseko Spring getaway</h4>
            <div class="products">
              <div class="prodwrap">
                <div class="prod">
                  <img src="/assets/images/prizes/heli.jpg" alt="Heli ski day" />
                </div>
              </div>
              <div class="prodwrap">
                <div class="prod">
                  <img src="/assets/images/prizes/suiboku.jpg" alt="Suiboku 2 bedroom apartment" />
                </div>
              </div>
            </div>
            <p style="font-size:125%;">A combined value of
              <strong>¥530,000</strong>
            </p>
            <p class="gold" style="margin-top:30px;">Heli ski day for two with Hokkaido Backcountry</p>
            <p class="gold">3 night stay in Suiboku 2 bedroom apartment by Niseko Wow</p>
            <p class="gold">3 day 4WD van rental from Holiday Niseko</p>
            <p class="gold">Dinner for two at Temporada</p>
            {% comment %}
              <a class="btn action to-raffle" href="#raffle-store">
              <span>Enter here</span>
              </a>
            {% endcomment %}
            <div class="sponsors">
              <a href="https://hokkaidobackcountryclub.com" target="_blank">
                <img src="/assets/images/company/higuma/hbc.png" alt="Hokkaido Backcountry Club">
              </a>
              <a href="https://holidayniseko.com" target="_blank">
                <img src="/assets/images/company/higuma/holiday-niseko.2.png" alt="Holiday Niseko">
              </a>
              <a href="https://niseko-wow.com" target="_blank">
                <img src="/assets/images/company/higuma/niseko-wow.png" alt="Niseko Wow">
              </a>
              <a href="https://www.temporada-niseko.com" target="_blank">
                <img src="/assets/images/company/temporada.png" alt="Temporada">
              </a>
            </div>
            <p class="small">Valid from March 1 to March 20 2023 or 2024. If unable to fly due to weather conditions you will be provided credit for a heli-day for the next year.</p>
          </div>
        </div>
        <div class="col col-sm-12 col-md-6">
          <div
            class="features-item ja-animate"
            data-animation="move-from-bottom"
            data-delay="item-1">
            <div class="font-icon">
              <span class="icon ion-ios-trophy">
                <span class="num">3</span>
              </span>
            </div>
            <h4>Summer 5 day extravaganza</h4>
            <div class="products">
              <div class="prodwrap">
                <div class="prod">
                  <img src="/assets/images/prizes/kabayama.jpg" alt="Kabayama townhouse" />
                </div>
              </div>
              <div class="prodwrap">
                <div class="prod">
                  <img src="/assets/images/prizes/emtb-tour.jpg" alt="e-mountainbike rental and half day guided tour" />
                </div>
              </div>
            </div>
            <p style="font-size:125%;">A combined value of
              <strong>¥250,000</strong>
            </p>
            <p class="gold" style="margin-top:30px;">5 night stay at Kabayama townhouses by Holiday Niseko
            </p>
            <p class="gold">3 days e-mountainbike rental for two from NOASC</p>
            <p class="gold">Half day guided e-mountainbike tour for two from NOASC</p>
            <p class="gold">1 day rafting/Ducky trip for two by NOASC</p>
            {% comment %}
              <a class="btn action to-raffle" href="#raffle-store">
              <span>Enter here</span>
              </a>
            {% endcomment %}
            <div class="sponsors">
              <a href="https://holidayniseko.com" target="_blank">
                <img src="/assets/images/company/higuma/holiday-niseko.2.png" alt="Holiday Niseko" />
              </a>
              <a href="https://noasc.com" target="_blank">
                <img src="/assets/images/company/shika/noasc.png" alt="NOASC" />
              </a>
            </div>
            <p class="small">Valid from July 1 to September 30 2023 or 2024</p>
          </div>
        </div>
      </div>

    </div>

    <div class="section acm-features style-2 prizes">
      <div
        class="row equal-height equal-height-child"
        data-animation="move-from-bottom"
        data-delay="200">

        <div class="col col-sm-12 col-md-4">
          <div
            class="features-item ja-animate"
            data-animation="move-from-bottom"
            data-delay="item-0">
            <div class="font-icon">
              <span class="icon ion-ios-trophy">
                <span class="num">4</span>
              </span>
            </div>
            <h4>2 day cat skiing at Shimamaki by Hokkaido Backcountry</h4>
            <div class="products">
              <div class="prodwrap full">
                <div class="prod">
                  <img src="/assets/images/prizes/cat-ski.jpg" alt="Cat skiing" />
                </div>
              </div>
            </div>
            <p style="font-size:125%;">A value of
              <strong>¥193,000</strong>
            </p>
            {% comment %}
              <a class="btn action to-raffle" href="#raffle-store">
              <span>Enter here</span>
              </a>
            {% endcomment %}
            <div class="sponsors">
              <a href="https://hokkaidobackcountryclub.com" target="_blank">
                <img src="/assets/images/company/higuma/hbc.png" alt="Hokkaido Backcountry Club" />
              </a>
            </div>
            <p class="small" style="margin-top:30px;">Valid from January to March 2023 or 2024.</p>
          </div>
        </div>

        <div class="col col-sm-12 col-md-4">
          <div
            class="features-item ja-animate"
            data-animation="move-from-bottom"
            data-delay="item-1">
            <div class="font-icon">
              <span class="icon ion-ios-trophy">
                <span class="num">5</span>
              </span>
            </div>
            <h4>Heli ski day for 1 with Hokkaido Backcountry</h4>
            <div class="products">
              <div class="prodwrap full">
                <div class="prod">
                  <img src="/assets/images/prizes/heli.jpg" alt="Heli ski day" />
                </div>
              </div>
            </div>
            <p style="font-size:125%;">A value of
              <strong>¥160,000</strong>
            </p>
            {% comment %}
              <a class="btn action to-raffle" href="#raffle-store">
              <span>Enter here</span>
              </a>
            {% endcomment %}
            <div class="sponsors">
              <a href="https://hokkaidobackcountryclub.com" target="_blank">
                <img src="/assets/images/company/higuma/hbc.png" alt="Hokkaido Backcountry Club" />
              </a>
            </div>
            <p class="small" style="margin-top:30px;">Valid from January to March 2023 or 2024.</p>
          </div>
        </div>

        <div class="col col-sm-12 col-md-4">
          <div
            class="features-item ja-animate"
            data-animation="move-from-bottom"
            data-delay="item-2">
            <div class="font-icon">
              <span class="icon ion-ios-trophy">
                <span class="num">6</span>
              </span>
            </div>
            <h4>Men's Burton Free Thinker Camber Snowboard</h4>
            <div class="products">
              <div class="prodwrap full">
                <div class="prod">
                  <img src="/assets/images/prizes/freethinker.jpg" alt="Burton Freethinker" />
                </div>
              </div>
            </div>
            <p style="font-size:125%;">A value of
              <strong>¥92,400</strong>
            </p>
            {% comment %}
              <a class="btn action to-raffle" href="#raffle-store">
              <span>Enter here</span>
              </a>
            {% endcomment %}
            <div class="sponsors">
              <a href="https://www.burton.com/" target="_blank">
                <img src="/assets/images/company/tanuki/burton.png" alt="Burton" />
              </a>
            </div>
            <p class="small" style="margin-top:30px;">154cm 2022 model. Available for pickup in Niseko, postage in Japan, or storage until your next visit.</p>
          </div>
        </div>

      </div>

    </div>

  {% comment %}
    <div class="t3-section">

    <div class="module-title-wrap">
    <p style="font-size:130%;" class="ja-animate" data-animation="move-from-bottom" data-delay="400">
    Plus more prizes to come!</p>
    </div>

    <div class="module-title-wrap"></div>

    <div id="raffle-store"></div>

    </div>
  {% endcomment %}
  </div>

  <div
    class="t3-section-wrap  tab-content"
    id="story"
    style="display:none;">
    <div class="section">

      <div class="module-title-wrap" style="margin-top:70px;">
        <h3
          class="module-title ja-animate"
          data-animation="move-from-bottom"
          data-delay="200">Twin Peaks Bike Park overview:</h3>
      </div>

      <div class="module-title-wrap">

        <div class="features-desc">
          <ul style="font-size:130%; text-align:left; list-style-image: url('/assets/images/logos/bullet.png');">
            <li
              class="ja-animate"
              data-animation="move-from-right"
              data-delay="item-0">Completely
              <strong>free to use</strong>
              and
              <strong>open to the public</strong>
            </li>
            <li
              class="ja-animate"
              data-animation="move-from-right"
              data-delay="item-1">
              <strong>21+ kilometers</strong>
              across
              <strong>6 distinct trails</strong>
            </li>
            <li
              class="ja-animate"
              data-animation="move-from-right"
              data-delay="item-2">Downhill trails with over
              <strong>200m of descent</strong>
            </li>
            <li
              class="ja-animate"
              data-animation="move-from-right"
              data-delay="item-3">Dedicated and protected
              <strong>childrens' balance bike zone</strong>
              at the mountain base</li>
            <li
              class="ja-animate"
              data-animation="move-from-right"
              data-delay="item-4">
              <strong>Skills park</strong>
              to build confidence and improve technique at the mountain base</li>
            <li
              class="ja-animate"
              data-animation="move-from-right"
              data-delay="item-5">Flow trails, jump trails, downhill trails -
              <strong>trails for all riders and skill levels</strong>
            </li>
            <li
              class="ja-animate"
              data-animation="move-from-right"
              data-delay="item-6">Located
              <strong>in the heart of the Niseko area</strong>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="section">

      <div class="module-title-wrap" style="max-width:900px;">
        <p
          style="font-size:130%;"
          class="ja-animate"
          data-animation="move-from-bottom"
          data-delay="400">
          The Twin Peaks Bike Park will be a
          <strong>completely free to use</strong>
          public bike park located in the resort town of Niseko, Japan. The park, designed in collaboration with world renowned trail building and design company Allegra, is built with every rider in mind –
          <strong>it will be a world class trail destination</strong>
          for locals, domestic travelers and international travelers alike.
        </p>
        <p
          style="font-size:130%;"
          class="ja-animate"
          data-animation="move-from-bottom"
          data-delay="600">
          The park needs your help!
          <strong>NAMBA is a nonprofit organization</strong>
          consisting of volunteers and every
          <a href="?t=raffle#raffle-store">raffle ticket</a>
          purchased, every bit of
          <a href="?t=purchases#!/Twin-Peaks-trail-park-seed-funder-t-shirt/p/492433159">Twin Peaks merch</a>
          ordered, every discount pack sold in our
          <a href="?t=purchases">fundraiser store</a>
          all
          <strong>help fund the building of this FREE bike park!</strong>
        </p>
      </div>

      <div class="module-title-wrap">
        <p>
          <a
            class="btn btn-primary ja-animate"
            data-animation="move-from-bottom"
            data-delay="800"
            href="?t=raffle#raffle-store">Click here to enter the raffle!</a>
        </p>
      </div>

    </div>
    <div class="section">

      <div class="module-title-wrap" style="max-width:900px;">
        <p
          style="font-size:130%;"
          class="ja-animate"
          data-animation="move-from-bottom"
          data-delay="200">
          We are also accepting donations and actively seeking sponsorship to fund this project and the Niseko Area Mountain Bike Association.
        </p>
        <p
          style="font-size:130%;"
          class="ja-animate"
          data-animation="move-from-bottom"
          data-delay="400">
          Please check the “Get Involved” section of our website to learn more.
        </p>
      </div>

      <div class="module-title-wrap">
        <p>
          <a
            class="btn ja-animate"
            style="font-size:130%;"
            data-animation="move-from-bottom"
            data-delay="600"
            href="/projects/twin-peaks">Click to read more about Twin Peaks</a>
        </p>
      </div>
    </div>

  </div>

</div>
<script>
  window.ec = window.ec || Object();
  window.ec.config = window.ec.config || Object();
  window.ec.config.custom_redirect_after_purchase = 'https://www.namba.ngo/get-involved/thanks';
  window.ec.config.navigation_scrolling = "DISABLED";
  window.ec.storefront = window.ec.storefront || Object();
  window.ec.storefront.product_details_show_share_buttons = false;
  window.ec.storefront.product_details_show_qty = true;
  window.ec.storefront.product_details_show_in_stock_label = true;
  window.ec.storefront.show_breadcrumbs = true;
  window.ec.storefront.product_details_show_breadcrumbs = true;
  window.ec.storefront.product_details_position_breadcrumbs = 25;
  window.ec.storefront.breadcrumbs_separator = "";

  let params = new URLSearchParams(document.location.search);
  currentTab = (params.get("t") === null)
    ? currentTab
    : params.get("t");
  xProductBrowser("defaultCategoryId=137728300", "categoriesPerRow=3", "views=grid(20,3) list(60) table(60)", "categoryView=grid", "searchView=list", "id=purchases-store");

  window.ecwid_script_defer = true;
  window.ecwid_dynamic_widgets = true;

  $(document).ready(function() {

    if (currentTab !== "purchases") {
      openTab(currentTab, false);
    }

    let offset = (jQuery('.tabs-container').offset().top + jQuery('.tabs-container').height() - 85);

    $(window).scroll(() => {
      checkTabsPosition(offset);
      lastScroll = jQuery(window).scrollTop();
    });

    $(window).resize(() => {
      offset = (jQuery('.tabs-container').offset().top + jQuery('.tabs-container').height() - 85);
    });
  });
</script>
