{% set lang = 'en' %}
{% set title = 'Niseko Area Mountain Bike Association' %}
{% set pathSegments = [''] %}

{% extends "layout.njk" %}

{% block header %}
		<!-- HERO -->
		<div class="wrap t3-hero ">
				<div class="t3-module module " id="Mod98">
						<div class="acm-features style-1" style="background-image: url('/images/bg/bg-hero.jpg');">
								<div class="container">
										<div class="features-item">
												<h1 class="ja-animate" data-animation="move-from-bottom" data-delay="200">Niseko Area Mountain Bike Association</h1>

												<p class="lead ja-animate" data-animation="move-from-bottom" data-delay="600"><img class="metal" src="/images/logos/favicon.png" title="🤘"/></p>

												<p class="lead ja-animate" style="margin-top: 30px;" data-animation="move-from-bottom" data-delay="800">Building trails and community.</p>

												{# <p class="lead ja-animate" style="margin-top: 80px;" data-animation="move-from-bottom" data-delay="1000">
														Proudly supported by<br/><img src="/images/company/trek.png" style="width: 200px;"/>
												</p> #}

												<!-- <div class="btn-action ja-animate" data-animation="move-from-bottom" data-delay="1200"> <a class="btn btn-primary" href="#">Find out more </a> </div> -->
										</div>
								</div>

								<!-- Arrow -->
								<span id="next-section" class="icon-bottom ja-animate" data-animation="move-from-bottom" data-delay="1600"></span>
						</div>

						<div style="float: left; margin-left: 20px; margin-top: -9px; opacity: 0.2;">
								<small>📷
										<a href="https://www.rhythmjapan.com">@rhythm</a>
								</small>
						</div>

						<script type="text/javascript">
								(function ($) {
										$posNext = $('#next-section')
												.offset()
												.top + 72;

										$('#next-section').on('click', function () {
												$("html, body").animate({
														scrollTop: $posNext
												}, 900);
												return false;
										});
								})(jQuery);
						</script>
						<!-- BACK TO TOP BUTTON -->
				</div>
		</div>
		<!-- //SLIDESHOW -->
{% endblock %}

{% block content %}
		<style>

				.vision .module-title {
						color: #ffffff;

				}

				.vision .features-desc {
						font-size: 150%;
						font-weight: 500;
				}

				.leaders {
						margin-bottom: 72px;
						font-size: 120%;
				}

				.leaders .member {
						float: left;
						width: 100%;
				}

				.team .member {
						float: left;
						width: 50%;
				}

				.team {
						margin-bottom: 72px;
				}

				.member .inner {
						background: #0e0e0e;
						border-radius: 3px;
						margin-right: 9px;
						margin-bottom: 9px;
						padding: 15px;
						position: relative;
						min-height: 135px;
				}

				.member .inner:hover {
						background: #151515;
				}

				.leaders .member .inner {
						padding: 30px;
						margin-right: 0;
						margin-bottom: 18px;
				}

				@media (min-width: 480px) {
						.fund-progress .outer {
								width: 50%;
						}

						.fund-progress .labels {
								width: 50%;
						}
				}

				.member .img {
						border: 2px #eeeeee solid;
						border-radius: 3px;
						width: 80px;
						margin: 0;
						position: absolute;
						top: 15px;
						left: 15px;
				}

				.leaders .member .img {
						width: 170px;
						top: 35px;
						left: 25px;
				}

				.member img {
						border: 4px #000000 solid;
						border-radius: 3px;
				}

				.leaders .member .desc {
						margin-left: 185px;
				}

				.team .member .desc {
						margin-left: 90px;
				}

				@media (max-width: 480px) {
						.leaders .member .img {
								width: 170px;
								top: 25px;
								left: 25px;
						}

						.leaders .member .desc {
								margin-left: 0;
								margin-top: 185px;
						}
				}

				.member .desc p {
						margin: 0 0 3px;
				}

				.member .desc p:first-child {
						color: #aaaaaa;
						font-weight: bold;
				}

				.leaders .member .desc p:first-child span {
						font-size: 150%;
						line-height: 30px;
				}

				.leaders .member .desc .title {
						font-size: 80%;
						margin-bottom: 10px;
				}

				.leaders .member .desc em {
						font-weight: 500;
						color: #aeaeae;
				}

				.leaders:after {
						content: "";
						display: table;
						clear: both;
				}

				.team:after {
						content: "";
						display: table;
						clear: both;
				}

				@media (max-width: 1199px) {
						.team .member {
								width: 100%;
						}

						.team .member .inner {
								margin-right: 0;
								min-height: 111px;
						}
				}

				.insta {
						overflow: hidden;
						margin-top: 30px;
				}

				.insta div {
						margin-top: -110px;
				}

				@media (max-width: 990px) {
						.insta div {
								margin-top: -150px;
						}
				}

				@media (max-width: 1199px) {
						.insta div {
								margin-top: -180px;
						}
				}

				.insta .feed-powered-by-es {
						display: none;
				}

				.es-poweredby {
						display: none !important;
				}
		</style>

		<div class="t3-section-wrap" style="margin-top:-50px;">

				<div class="section">

						<div class="ja-masthead" style="background: none;">
								<div class="ja-masthead-detail ja-animate" data-animation="move-from-bottom" data-delay="200">
										<h3 class="ja-masthead-title">
												<span style="font-size:80%;">Who we are</span></h3>
								</div>
						</div>

						<div class="module-title-wrap" style="max-width:900px;">
								<h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="600">Our Mission</h3>
								<div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="600">
										<div style="font-size:150%;">
												<p>To grow and unify the Niseko area mountain bike community towards the common goals of creating, enhancing, maintaining, and protecting great places to ride in Niseko and the surrounding area.</p>
												<p>To seek harmony with the greater Niseko community and with the natural environment of Hokkaido in the Niseko Area Mountain Bike Association's quest to transform Niseko into Asia's premier mountain bike destination.</p>
										</div>
								</div>
						</div>

				</div>

				<div class="section">

						<div class="wrap t3-masthead vision">
								<div class="ja-masthead ja-animate" data-animation="fadeIn" data-delay="600" style="background-image: url('/images/bg/bg-distance.jpg');">
										<div class="ja-masthead-detail">
												<h3 class="module-title">Our Vision</h3>
												<div class="features-desc">A united Niseko area with a common mission to create a world class sustainable mountain bike community, and off-road biking ecosystem.</div>
										</div>
								</div>
						</div>

				</div>

				<div class="section">

						<div class="module-title-wrap">
								<h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="600">Our Goals</h3>
						</div>

						<div class="row">
								<div class="col-xs-12 col-md-6" style="margin-bottom:0;">
										<div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="item-0" style="font-size:130%;">
												<ul style="list-style-image: url('/images/logos/bullet.png'); margin-bottom:0;">
														<li>Building trails that are accessible for all levels and all ages to enjoy.</li>
														<li>To advocate, encourage all forms of Mountain Biking within the community through various events, races, group rides, etc., for all to enjoy and have fun.</li>
														<li>Promote equality and inclusion in mountain biking.</li>
														<li>Promote a mountain biking code of conduct.</li>
														<li>To be proactive in sourcing funding to support our goals.</li>
														<li>Promote the establishment of an integrated network of world class Mountain Bike trails in Niseko and surrounding areas.</li>
												</ul>
										</div>
								</div>
								<div class="col-xs-12 col-md-6" style="margin-bottom:36px;">
										<div class="features-desc ja-animate" data-animation="move-from-bottom" data-delay="item-0" style="font-size:130%;">
												<ul style="list-style-image: url('/images/logos/bullet.png');">
														<li>Ensure that trails are sustainable and add value to the environment in which they are built.</li>
														<li>Be fiscally responsible, accountable to our members and the wider community.</li>
														<li>Work with local and regional governments, national parks, developers, resort operators, utility companies, private landowners, the community forestry services and other stakeholders to keep our trails open and accessible.</li>
														<li>To offer supporting individuals, companies, organisations, donators, clear and quantitative benefits for their support.</li>
												</ul>
										</div>
								</div>

						</div>

				</div>

				<div class="section">

						<div class="module-title-wrap" style="max-width:900px;">
								<h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="200">Our Leaders</h3>
						</div>

						<div class="leaders">

								<div class="member ja-animate" data-animation="move-from-right" data-delay="400">
										<div class="inner">
												<div class="img">
														<img src="/images/team/colin.jpg"/>
												</div>
												<div class="desc">
														<p>
																<span>Colin Hackworth</span>, NAMTBA President</p>
														<p class="title">Nihon Harmony Representative Director</p>
														<em>“NAMTBA is a truly exciting development for the Niseko area. Resort towns the world over have recognized the success mountain biking can bring to their communities and local businesses - looking forward to making the vision a reality & seeing Niseko's continued transformation into a year round destination.”</em>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="600">
										<div class="inner">
												<div class="img">
														<img src="/images/team/shunichi.jpg"/>
												</div>
												<div class="desc">
														<p>
																<span>Shunichi Kimura</span>, NAMTBA Vice President</p>
														<p class="title">Kimura restaurant Owner & Yotei Niseko Cycling Association Vice President</p>
														<em>“With the advent of e-MTBs, mountain biking is set to become even more accessible and fun for all. The development of Niseko's trail network will expand the winter backcountry culture into Niseko's lush & mild summers. Looking forward to bringing the community & our visitors trails that are close to local towns and ski resorts enabling everyone to enjoy themselves and the natural environment.”</em>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="800">
										<div class="inner">
												<div class="img">
														<img src="/images/team/ross.jpg"/>
												</div>
												<div class="desc">
														<p>
																<span>Ross Carty</span>, NAMTBA Vice President</p>
														<p class="title">NOASC Adventures Founder / Owner & Niseko's Foreign Business Pioneer</p>
														<em>“I first came to Niseko 30+ years ago and have personally witnessed Niseko's growth from a sleepy farmtown to one of the world's premier winter destinations. Mountain biking is the area's new frontier; the sport's potential here is truly untapped and has the power to do for summer what snowsports have done for winter."</em>
												</div>
										</div>
								</div>

						</div>

				</div>

				<div class="section">

						<div class="module-title-wrap" style="max-width:900px;">
								<h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="200">Our Team</h3>
						</div>

						<div class="team">

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-0">
										<div class="inner">
												<div class="img">
														<img src="/images/team/andy.jpg"/>
												</div>
												<div class="desc">
														<p>Andy Meadows</p>
														<p>Rhythm Japan Head of Operations</p>
														<p></p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-1">
										<div class="inner">
												<div class="img">
														<img src="/images/team/tom.jpg"/>
												</div>
												<div class="desc">
														<p>Tom Mortiboy</p>
														<p>Software Engineer</p>
														<p></p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-2">
										<div class="inner">
												<div class="img">
														<img src="/images/team/miles.jpg"/>
												</div>
												<div class="desc">
														<p>Miles Zeorlin</p>
														<p>Niseko Real Estate Sales Consultant</p>
														<p></p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-3">
										<div class="inner">
												<div class="img">
														<img src="/images/team/ashley.jpg"/>
												</div>
												<div class="desc">
														<p>Ashley Nicholls</p>
														<p>Holiday Niseko KK Managing Director / Owner</p>
														<p>Niseko Tourism Director</p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-4">
										<div class="inner">
												<div class="img">
														<img src="/images/team/chie.jpg"/>
												</div>
												<div class="desc">
														<p>Chie Seino (Administration Officer)</p>
														<p>Kaba Niseko Property Manager</p>
														<p></p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-5">
										<div class="inner">
												<div class="img">
														<img src="/images/team/angharad.jpg"/>
												</div>
												<div class="desc">
														<p>Angharad Mortiboy</p>
														<p>Nutritional & Lifestyle Coach</p>
														<p></p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-6">
										<div class="inner">
												<div class="img">
														<img src="/images/team/mayumi.jpg"/>
												</div>
												<div class="desc">
														<p>Mayumi Honda</p>
														<p>Niseko Black General Manager</p>
														<p></p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-7">
										<div class="inner">
												<div class="img">
														<img src="/images/team/sachi.jpg"/>
												</div>
												<div class="desc">
														<p>Sachi Yelle</p>
														<p>EZObase / ezobike Owner</p>
														<p></p>
												</div>

										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-8">
										<div class="inner">
												<div class="img">
														<img src="/images/team/masaya.jpg"/>
												</div>
												<div class="desc">
														<p>Masaya Yoshimura</p>
														<p>Niseko Moiwa Ski Resort General Manager</p>
														<p></p>
												</div>

										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-9">
										<div class="inner">
												<div class="img">
														<img src="/images/team/yukihiro.jpg"/>
												</div>
												<div class="desc">
														<p>Yukihiro Tochigi</p>
														<p>Chitose Ringyo Forestry President</p>
														<p>(Large-scale forest owners in Hokkaido)</p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-10">
										<div class="inner">
												<div class="img">
														<img src="/images/team/chika.jpg"/>
												</div>
												<div class="desc">
														<p>Chika Lund</p>
														<p>Niseko Powderlife Magazine Director</p>
														<p></p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-11">
										<div class="inner">
												<div class="img">
														<img src="/images/team/paul.jpg"/>
												</div>
												<div class="desc">
														<p>Paul Butkovich</p>
														<p>H2 Group Director of Real Estate Sales</p>
														<p></p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-12">
										<div class="inner">
												<div class="img">
														<img src="/images/team/ben.jpg"/>
												</div>
												<div class="desc">
														<p>Ben Kerr</p>
														<p>Niseko Tourism & Kutchan Tourism Association Director</p>
														<p>Niseko Real Estate Founder / Owner</p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-13">
										<div class="inner">
												<div class="img">
														<img src="/images/team/yui.jpg"/>
												</div>
												<div class="desc">
														<p>Yui Spragg</p>
														<p>Rising Sun Guides General Affairs</p>
														<p></p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-14">
										<div class="inner">
												<div class="img">
														<img src="/images/team/namikata.jpg"/>
												</div>
												<div class="desc">
														<p>Makoto Namikata</p>
														<p>Kutchan Council Member</p>
														<p>North Sled Snowmobiles Owner</p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-15">
										<div class="inner">
												<div class="img">
														<img src="/images/team/kazue.jpg"/>
												</div>
												<div class="desc">
														<p>Kazue Iijima</p>
														<p>Accountant</p>
														<p></p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-16">
										<div class="inner">
												<div class="img">
														<img src="/images/team/mizuno.jpg"/>
												</div>
												<div class="desc">
														<p>Manabu Mizuno</p>
														<p>Mizuno Bikes Owner</p>
														<p></p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-17">
										<div class="inner">
												<div class="img">
														<img src="/images/team/yoshihito.jpg"/>
												</div>
												<div class="desc">
														<p>Yoshihito Tanaka</p>
														<p>Kutchan Council Member. Kutchan Tourism Association Director</p>
														<p>Niseko Resort Service Founder</p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-18">
										<div class="inner">
												<div class="img">
														<img src="/images/team/shinji.jpg"/>
												</div>
												<div class="desc">
														<p>Shinji Furuya</p>
														<p>Kutchan Council Member</p>
														<p>Niseko Environment Management Office Manager</p>
												</div>
										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-19">
										<div class="inner">
												<div class="img">
														<img src="/images/team/riccardo.jpg"/>
												</div>
												<div class="desc">
														<p>Riccardo Tossani</p>
														<p>Riccardo Tossani Architecture Founder / Owner</p>
														<p></p>
												</div>

										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-20">
										<div class="inner">
												<div class="img">
														<img src="/images/team/hiroshi.jpg"/>
												</div>
												<div class="desc">
														<p>Hiroshi Yamada</p>
														<p>Kutchan Tourism Association Vice President</p>
														<p>North Design KK Founder / Owner</p>
												</div>

										</div>
								</div>

								<div class="member ja-animate" data-animation="move-from-right" data-delay="item-21">
										<div class="inner">
												<div class="img">
														<img src="/images/team/satoshi.jpg"/>
												</div>
												<div class="desc">
														<p>Satoshi Yoshida (Auditor)</p>
														<p>Kutchan Tourism Association President</p>
														<p>Mina-Kamuy Legal Services Founder / Owner</p>
												</div>

										</div>
								</div>

						</div>

				</div>

				<div class="section">

						<div class="module-title-wrap" style="max-width:900px;">
								<h3 class="module-title ja-animate" data-animation="move-from-bottom" data-delay="200">Our Latest Updates</h3>
						</div>

						<div class="insta ja-animate" data-animation="fadeIn" data-delay="800">
								<div class="embedsocial-hashtag" data-ref="143df9a3684cb1f855462a3bcaba24ba00a4308a"></div>
								<script>
										(function (d, s, id) {
												var js;
												if (d.getElementById(id)) {
														return;
												}
												js = d.createElement(s);
												js.id = id;
												js.src = "https://embedsocial.com/cdn/ht.js";
												d
														.getElementsByTagName("head")[0]
														.appendChild(js);
										}(document, "script", "EmbedSocialHashtagScript"));
								</script>
						</div>
				</div>
		</div>

{% endblock %}

{% block bottom %}
		<div class="module-title-wrap">
				<h3 class="module-title" style="color: #cccccc;">Our Higuma sponsors</h3>
				<div class="features-desc">
						<img style="width:50px;" alt="Higuma" src="/images/ico/higuma.500.png"/>
				</div>
		</div>

		{% import 'macros/logos.njk' as logos %}
		{{logos.logos([
			['/images/company/higuma/coinmetro.png', 'https://coinmetro.com'],
			['/images/company/higuma/h2.png', 'https://www.h2group.com'],
			['/images/company/higuma/hbc.png', 'https://www.hokkaidobackcountryclub.com/en/homepage/'],
			['/images/company/higuma/holiday-niseko.png', 'https://holidayniseko.com'],
			['/images/company/higuma/nre.png', 'https://nisekorealestate.com'],
			['/images/company/higuma/sc-global.png', 'https://www.scglobal.com.sg'],
			['/images/company/higuma/zekkei.png', 'https://www.zekkeicollection.com/en/']
		], width=7, class="higuma")}}

		<div class="module-title-wrap"></div>

		<div class="module-title-wrap">
				<h3 class="module-title" style="color: #cccccc;">Our Shika sponsors</h3>
				<div class="features-desc">
						<img style="width:50px;" alt="Shika" src="/images/ico/shika.500.png"/>
				</div>
		</div>

		{{logos.logos([
			['/images/company/shika/niseko-central.png', 'https://www.nisekocentral.com'],
			['/images/company/shika/niseko-wow.png', 'https://www.niseko-wow.com'],
			['/images/company/shika/noasc.png', 'https://noasc.com/en/'],
			['/images/company/shika/oyuki.png', 'https://oyuki.com'],
			['/images/company/shika/rhythm.png', 'https://www.rhythmjapan.com'],
			['/images/company/shika/suiboku.png', 'https://www.suibokuhirafu.com']
		], width=9, class="shika")}}

		<div class="module-title-wrap"></div>

		<div class="module-title-wrap">
				<h3 class="module-title" style="color: #cccccc;">Our Tanuki sponsors</h3>
				<div class="features-desc">
						<img style="width:50px;" alt="Tanuki" src="/images/ico/tanuki.500.png"/>
				</div>
		</div>

		{{logos.logos([
			['/images/company/tanuki/mnk.png', 'https://www.mnkniseko.com/en'],
			['/images/company/tanuki/peak-car-rentals.png', 'https://www.nisekocarrental.com']
		], width=12, class="tanuki")}}

		<div class="module-title-wrap"></div>

		<div class="module-title-wrap"></div>
{% endblock %}
