{% set lang = 'en' %}
{% set title = 'Terms & Conditions' %}
{% set pathSegments = ['terms'] %}

{% extends "layout.njk" %}

{% block content %}
		<h3>Article 1 (Purpose)</h3>

		<p>Specified non-profit organization Niseko Area Mountain Bike Association. That is, in Japanese Katakana notation is written as “Niseko area mountain bike Kyokai” (Hereinafter referred to as "this corporation") comprises of Regular members, Adult members, Child members, Kid members, Family members, Sponsor members, Gold sponsor members, Silver sponsor members, Bronze sponsor members, `and Supporting group members. This agreement is established between the member and corporation in order to operate the corporation.</p>

		<h3>Article 2 (Definition of members)</h3>

		<ol>
				<li>Regular members Individuals who joined in support of the purpose of this corporation.</li>
				<li>Adult members Individuals who have joined in support of the purpose of this corporation.</li>
				<li>Child members Individuals who have joined in support of the purpose of this corporation.</li>
				<li>Kids member Individuals who joined in support of the purpose of this corporation.</li>
				<li>Family members Parents and their families who joined in support of the purpose of this corporation.</li>
				<li>Sponsor members Individuals and groups who have joined to support the purpose of this corporation and to support the business.</li>
				<li>Gold Sponsor Member Individuals and groups who have joined to support the purpose of this corporation and to support the business.</li>
				<li>Silver sponsor members Individuals and groups who have joined to support the purpose of this corporation and to support the business.</li>
				<li>Bronze sponsor members Individuals and groups who have joined to support the purpose of this corporation and to support the business.</li>
				<li>Supporting group members Individuals and groups who have joined to support the purpose of this corporation and support the business.</li>
		</ol>

		<h3>Article 3 (Enrollment)</h3>

		<ol>
				<li>Regarding the enrolment of members, the conditions of the NAMTBA Code of Conduct will be accepted. By following the guidelines of the NAMTBA Code of Conduct, we will continue to keep trails safe, protect nature and support the maintenance of mountain biking culture. Respect the environment.</li>
				<li>Those who are going to join as a memberRepresentative Director and Deputy Representative Directors, according to the membership application form specified separately by Representative Director and Deputy Representative Director shall apply to the Representative Director and Deputy Representative Director. They must admit membership unless there is a good reason not to expect membership.</li>
				<li>If the representative director does not approve the membership of the item set forth in the preceding paragraph, he / she must promptly notify the person in writing with the reason.</li>
				<li>The annual membership fee will be paid by the prescribed method within 14 days including the application date, and the membership will be established on the day when the secretariat confirms the payment of the annual membership fee.</li>
		</ol>

		<h3>Article 4 (annual membership fee)</h3>
		<p>The annual membership fee is set as follows.</p>
		<ol>
				<li>Free admission fee for regular members, Annual membership fee 1,000 yen.</li>
				<li>Free admission fee for adult members, Annual membership fee 5,000 yen.</li>
				<li>Free admission fee for child members, Annual membership fee 2,500 yen.</li>
				<li>Kids member admission fee is free, No annual membership fee.</li>
				<li>Free admission fee for family members, Annual membership fee 9,000 yen (Per family living together up to six family members).</li>
				<li>Free admission fee for supporting group members, Annual membership fee 50,000 yen per unit 1 or more.</li>
				<li>Free admission fee for sponsor members, Annual membership fee 50,000 yen.</li>
				<li>Gold sponsor member No admission fee, Annual membership fee 500,000 yen per unit 1 to 10 units.</li>
				<li>Silver sponsor member No admission fee, Annual membership fee 250,000 yen per unit 1 or more.</li>
				<li>Bronze Sponsor Member Admission Free, Annual membership fee 50,000 yen per unit 1 or more.</li>
				<li>It will be delivered by the prescribed method every October.</li>
		</ol>

		<h3>Article 5 (Membership and validity period)</h3>
		<ol>
				<li>Regular member,Adult member,Child members, Kid members, Family members, Sponsor members, Gold sponsor members, Silver sponsor members, Bronze sponsor members, `Supporting group members, the validity period of the membership qualification is until the last day of the settlement of accounts of the corporation (October 31st every year).</li>
				<li>The validity period specified in the preceding paragraph shall be extended for one year from the day after the expiration unless requested by the member or the corporation, and the same shall apply thereafter.</li>
				<li>If a member who joins as an individual withdraws or dies, the membership of the member shall be lost and the qualification cannot be passed on to a third party.</li>
				<li>If a member who joins a group inherits the member's qualification due to a merger, etc., the group member who inherits the qualification must promptly notify the corporation in writing or by electronic means.</li>
				<li>Membership cannot be transferred, lent, sold, etc.</li>
		</ol>

		<h3>Article 6 (Right to vote)</h3>
		<p>The general meeting is composed of Regular members (Board Members) as stipulated in the articles of incorporation of this corporation, and supporting members and general members do not have voting rights.</p>

		<h3>Article 7 (Change of member information)</h3>
		<ol>
				<li>When there is a change in the contents registered by the membership application, the member must promptly notify the corporation in writing or by electronic means.</li>
				<li>The corporation shall not be liable for any disadvantages/damages/losses suffered by the members without the notification set forth in the preceding paragraph.</li>
		</ol>

		<h3>Article 8 (Disclosure of member information, etc.)</h3>
		<ol>
				<li>NAMTBA Officer Administrator can share information such as the address, phone number, and email of the company where the regular member works and the member. However, a Regular member without the permission of this corporation will not do so for any reason.</li>
				<li>In principle, our corporation will not disclose member information to the outside.</li>
				<li>If it is determined that the member's remarks, etc. will be disadvantageous to a third party, the member's private information may be notified to the police or related organizations. In addition, when a court, public prosecutor's office, police, bar association, or an organization with similar authority requests disclosure of member's private information and access log information based on the provisions of laws and regulations, information will be provided as necessary. We may disclose it.</li>
				<li>The member shall not object to this as long as the above measures of the corporation are taken in accordance with the law, and the corporation shall not be liable.</li>
		</ol>

		<h3>Article 9 (Loss of membership)</h3>
		<p>When a member falls under any of the following items, he / she loses his / her qualification.
		</p>
		<ol>
				<li>When the person submits a withdrawal notice.</li>
				<li>When the person dies or the group that is a member disappears.</li>
				<li>When the membership fee is delinquent for 2 years or more without a justifiable reason.</li>
				<li>When you violate this agreement.</li>
				<li>When you are expelled.</li>
		</ol>

		<h3>Article 10 (expulsion)</h3>
		<p>If a member falls under any of the following, the corporation may remove the member by a resolution of the general meeting. In this case, the member must be given an opportunity to make a defense before the vote.</p>
		<ol>
				<li>When the articles of incorporation of this corporation are violated. When you violate this membership agreement.</li>
				<li>Infringement of other members' honor, credit, privacy rights, copyrights, and other rights.</li>
				<li>When the honor of the corporation is damaged or the act is contrary to the purpose.</li>
				<li>In addition, when our corporation judges that it is inappropriate as a member.</li>
		</ol>

		<h3>Article 11 (withdrawal)</h3>
		<p>Members can voluntarily withdraw by submitting a withdrawal notice separately specified by the corporation.</p>

		<h3>Article 12 (Non-return of contributions)</h3>
		<p>Membership fees and other contributions that have already been paid will not be refunded.</p>

		<h3>Article 13 (Prohibited matters)</h3>
		<p>Members must not perform the following acts in the activities of this corporation.</p>
		<ol>
				<li>Acts that infringe or may infringe the property and privacy of other members, third parties or corporations.</li>
				<li>Acts that are or may be offensive to public order and morals.</li>
				<li>Acts that interfere with the operation and activities of this corporation and acts that damage the credibility.</li>
				<li>Acts for the purpose of business activities, commercial purposes, or preparations thereof. All other acts that are deemed inappropriate.</li>
		</ol>

		<h3>Article 14 (Disclaimer)</h3>
		<p>In the event that a member causes damage to another member or a third party in connection with this corporation, or if a dispute arises between a member and another member or a third party, this corporation is solely responsible. The member shall compensate for such damages at his own expense and responsibility, resolve such disputes, and shall not cause any inconvenience or damage to the corporation.</p>

		<h3>Article 15 (Compensation for Damages)</h3>
		<ol>
				<li>If a member violates this agreement and the rules based on this agreement, or if the corporation suffers damage due to similar acts, the member shall suffer the damage suffered by the corporation. Compensation will be made to the corporation.</li>
				<li>The provisions of the preceding paragraph shall continue even after the loss of membership.</li>
		</ol>

		<h3>Article 16 (Exclusion of antisocial forces)</h3>
		<p>If a member falls under any of the following items, he / she can be removed without any notification.</p>
		<ol>
				<li>When it is recognized that it belongs to a gangster, a gangster, a gangster associate member, a gangster-related company, a general assembly shop or other antisocial forces (hereinafter referred to as "gangster").</li>
				<li>When it is recognized that you are using antisocial forces.</li>
				<li>When it is recognized that they are involved in providing funds, etc., or providing convenience to antisocial forces.</li>
		</ol>

		<h3>Article 17 (Change of Membership Agreement)</h3>
		<p>The corporation may change this agreement after a resolution of the board of directors if it is deemed necessary for its operation.</p>

		<h3>Article 18 (Use of funds)</h3>
		<p>The contributor of the crowdfunding campaign entrusts NAMTBA to responsibly allocate funds received through this campaign to the construction of the Twin Peaks trail park phase 1 to be completed in 2022. If NAMTBA receives funds in excess of the required amount to complete phase 1, the excess funds will be used for phase 2 and 3 of the park to be completed in 2023.</p>
		<p>The contributor understands the Twin Peaks trail park will be built on Kutchan council land. NAMTBA leases the land from the Kutchan council under the following conditions:</p>
		<ol>
				<li>All the trails on Twin Peaks trail park will be constructed on land that is not intended for forestry purposes. However, the land will be leased on an annual basis to give the council the opportunity to forest the area if it chooses to do so. It is understood that the council will continue granting access to the area in perpetuity due to enriching the lives of the community, creating employment, and attracting more visitors to the area.</li>
				<li>To abide by National Forestry regulations trails must be no more than 1 meter wide. The contracted trail builder is aware of this restriction and will not prohibit them from building a sustainable, fun to ride trail network.</li>
				<li>Do not enter the town-owned forest area other than the permitted area.</li>
				<li>Priority must be given to forest maintenance (thinning, clear cutting, planting, and mowing) by the town in order to maintain the function of the forest as a water source irrigation security forest. (Even if there is a course within the construction area, priority will be given to the construction work, and the town will not restore the course to its current condition after construction.)</li>
				<li>When constructing the course, consideration shall be given to land conservation, water source recharge, environmental preservation, etc., and measures shall be taken to prevent earth and sand from flowing into the area concerned and surrounding areas, collapsing, and causing other disasters.</li>
				<li>Appropriate drainage to be constructed to allow for rainwater and snowmelt water generated by the undulations of the mountains and forests as a result of course development.</li>
				<li>The use of fire, such as cigarettes and bonfires, is prohibited in the area.</li>
				<li>The applicant shall dispose of fallen trees and other debris in the area.</li>
				<li>No vehicles other than bicycles and ebikes are allowed in the use area.</li>
				<li>The period of use is from beginning of May to the end of October. In principle it is prohibited to enter during the winter.</li>
				<li>Garbage disposal in the area of use is prohibited. In addition regular trash collecting should be practiced.</li>
				<li>When there is a bear sighting, the course must be closed and warnings issued. In addition, the applicant shall promptly notify the town of any information regarding the siting of bears.</li>
				<li>The use of the course must not be transferred or leased to a second party.</li>
				<li>Do not use for any purpose other than the intended purpose.</li>
		</ol>

{% endblock %}
