{% set lang = 'en' %}
{% set title = 'Twin Peaks Crowdfunding' %}
{% set pathSegments = ['get-involved', 'crowdfund'] %}

{% extends "layout.njk" %}

{% block header %}
		<!-- MASTHEAD -->
		<div class="wrap t3-masthead t3-section-wrap">
				<div class="ja-masthead" style="background-image: url('/images/bg/bg-header-twinpeaks.jpg')">
						<div class="ja-masthead-detail">
								<h3 class="ja-masthead-title">Twin Peaks Crowdfunding</h3>
								<div class="ja-masthead-description">Twin Peaks; Niseko's first world class, free-to-use, community bike park.</div>
								<div class="fund-progress">
										<div class="outer">
												<div class="inner ja-animate" data-animation="move-from-left" data-delay="200"></div>
										</div>
								</div>
								<div class="fund-progress">
										<div class="labels">
												<div class="left">
														<small>0km</small>
												</div>
												<div class="right">
														<small>20km</small>
												</div>
												<div>
														<small>10km</small>
												</div>
										</div>
								</div>
								<small>Trail kilometers funded.</small>
						</div>
				</div>
		</div>
		<!-- //MASTHEAD -->
{% endblock %}

{% block content %}
		<style>
				div.ja-masthead {
						padding-bottom: 50px !important;
				}

				.fund-progress {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
				}

				.fund-progress .outer {
						margin-top: 20px;
						width: 60%;
						height: 1rem;
						border-radius: 1rem;
						position: relative;
						overflow: hidden;
						transition: all 0.5s;
						will-change: transform;
						box-shadow: 0 0 5px #fd7d57;
				}

				.fund-progress .inner {
						position: absolute;
						height: 100%;
						width: 100%;
						background-color: #fd7d57;
						top: 0;
						bottom: 0;
						left: -55%;
						border-radius: inherit;
						display: flex;
						justify-content: center;
						align-items: center;
						color: white;
						text-align: right;
				}

				.fund-progress .labels {
						width: 60%;
						margin-top: 10px;
						position: relative;
				}

				.fund-progress .labels .left {
						position: absolute;
						left: 0;
				}

				.fund-progress .labels .right {
						position: absolute;
						right: 0;
				}

				@media (min-width: 480px) {
						.fund-progress .outer {
								width: 50%;
						}

						.fund-progress .labels {
								width: 50%;
						}
				}

				@media (min-width: 768px) {
						.fund-progress .outer {
								width: 30%;
						}

						.fund-progress .labels {
								width: 30%;
						}
				}

				h3.module-title {
						font-size: 150%;
				}

				.prizes .num {
						color: #0e0e0e;
						font-size: 200%;
						position: absolute;
						margin-left: -47px;
						font-weight: bold;
						margin-top: 7px;
				}

				.prizes .features-item:hover .num {
						color: #fd7d57;
				}

				.gold {
						color: #ffd97b;
						font-size: 12px !important;
						font-family: "Metropolis", Helvetica, Arial, sans-serif;
						font-weight: 700;
						text-transform: uppercase;
						letter-spacing: 0;
						margin-top: 30px;
				}

				.prizes .features-item {
						padding-left: 30px !important;
						padding-right: 30px !important;
				}

				.features-item .sponsors {
						margin: 30px auto;
				}

				.features-item .sponsors a {
						margin-right: 10px;
						width: 50px;
						display: inline;
				}

				.features-item .sponsors img {
						width: 50px;
						display: inline;
						border-radius: 50%;
						margin-bottom: 10px;
				}

				.features-item .small > div {
						position: relative;
				}

				.features-item .small {
						font-style: italic;
						font-size: 75%;
						margin-top: 30px;
				}

				.ec-grid {
						display: block !important;
				}

				.product-details__sidebar {
						text-align: center !important;
						text-align: -moz-center !important;
						text-align: -webkit-center !important;
				}

				#ProductBrowser-1 {
						min-height: auto !important;
				}

				.form-control {
						text-align: center !important;
						text-align: -moz-center !important;
						text-align: -webkit-center !important;
				}

				.ec-form__row--continue .form-control--done {
						text-align: left !important;
				}

				.form-control button.form-control__button {
						color: #ffffff !important;
						background-color: #fd7d57 !important;
						border-color: transparent !important;
						background: linear-gradient(135deg, #fd7d57, #f55d59) !important;

						border: 0 !important;
						border-radius: 30px !important;
						font-weight: 500 !important;
						padding-left: 36px !important;
						padding-right: 36px !important;

						width: auto !important;
						font-size: 14px !important;
				}

				.form-control button.form-control__button:hover {
						background: #fd7d57 !important;
						background: linear-gradient(155deg, #fd7d57, #fd7d57) !important;
				}

				img.ecwid-PaymentMethodsBlockSvg {
						background: #fff !important;
				}

				.ec-cart__button--apple-pay {
						text-align: center !important;
						text-align: -moz-center !important;
						text-align: -webkit-center !important;
				}

				.ec-cart__button--apple-pay .form-control--button {
						border: 1px #fff solid !important;
						padding-left: 36px !important;
						padding-right: 36px !important;
						border-radius: 30px !important;
						width: 170px !important;
						margin: 0 auto !important;
						position: relative !important;
				}

				a.breadcrumbs__link--last {
						font-size: 0 !important;
				}

				a.breadcrumbs__link--last:after {
						content: 'Back to fundraiser store';
						font-size: initial;
				}

				#raffle-store a.breadcrumbs__link--last {
						display: none;
				}

				table.funding {
						margin-left: auto;
						margin-right: auto;
				}

				table.funding th,
				table.levels td {
						border: 4px solid #000;
						vertical-align: middle;
				}

				table.funding th {
						color: #ffd97b;
						font-size: 12px;
						font-family: "Metropolis", Helvetica, Arial, sans-serif;
						font-weight: 700;
						text-transform: uppercase;
						letter-spacing: 0;
						padding: 12px 10px 12px 0;
				}

				table.funding th.fst {
						text-align: right;
						display: none;
				}

				table.funding th.row {
						text-align: center;
				}

				table.funding td {
						background-color: #0e0e0e;
						text-align: center;
						padding: 10px 15px;
						font-weight: 700;
				}

				@media (min-width: 600px) {
						table.funding td {
								padding: 10px 15px;
						}
				}

				@media (min-width: 768px) {
						table.funding td {
								padding: 10px 30px;
						}
				}

				@media (min-width: 992px) {
						table.funding td {
								padding: 10px 50px;
						}
				}
		</style>

		<div class="t3-section ja-inview acm-features style-2 prizes" style="padding-top:0;">

				<style>
						.tabs {
								border: 1px #8e8e8e solid;
								border-radius: 15px;
								margin-top: inherit !important;
								margin-bottom: inherit !important;
								max-width: 900px;
						}

						.tabs .col {
								padding: 10px !important;
						}

						.tabs .tab {
								padding: 10px;
								border-radius: 10px;
								text-align: center;
								background-color: #0e0e0e;
						}

						.tabs {
								cursor: pointer;
						}

						.tabs .tab h3 {
								margin: 0;
								font-weight: bold;
								font-size: 120%;
								color: #eeeeee;
						}

						.tabs .tab:hover h3 {
								/* color: #fd7d57; */
						}

						.tabs .active {
								background-color: #1e1e1e !important;
						}

						.tabs .active h3 {
								color: #ffffff;
						}

						.tabs .tab:hover {
								background-color: #2e2e2e !important;
						}

						.tab-content {
								animation: fadeEffect 1s;
								/* Fading effect takes 1 second */
						}

						/* Go from zero to full opacity */
						@keyframes fadeEffect {
								from {
										opacity: 0;
								}

								to {
										opacity: 1;
								}
						}
				</style>

				<div class="row tabs module-title-wrap">
						<div class="col col-sm-12 col-md-4">
								<div id="purchases-tab" class="tab active" onclick="openTab('purchases');">
										<h3>Fundraiser store</h3>
								</div>
						</div>
						<div class="col col-sm-12 col-md-4">
								<div id="raffle-tab" class="tab" onclick="openTab('raffle');">
										<h3>Big prize raffle</h3>
								</div>
						</div>
						<div class="col col-sm-12 col-md-4">
								<div id="story-tab" class="tab" onclick="openTab('story');">
										<h3>Twin Peak's story</h3>
								</div>
						</div>
				</div>

				<div class="tab-content" id="purchases">

						<div class="module-title-wrap" style="margin-top:30px; margin-bottom:30px;">
								<p style="margin-bottom:0; font-size:150%;" class="ja-animate" data-animation="move-from-bottom" data-delay="800">Your purchases build trails!</p>
						</div>

						<div>
								<div id="purchases-store"></div>

								<script id="ecwid-script" data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?71386768&lang=en-GB&data_platform=code&data_date=2022-08-27" charset="utf-8"></script>
								<script type="text/javascript">
										window.ec = window.ec || Object();
										window.ec.config = window.ec.config || Object();
										window.ec.config.custom_redirect_after_purchase = 'https://www.namtba.com/get-involved/thanks';
										window.ec.config.navigation_scrolling = "DISABLED";
										window.ec.storefront = window.ec.storefront || Object();
										window.ec.storefront.product_details_show_share_buttons = false;
										window.ec.storefront.product_details_show_qty = true;
										window.ec.storefront.product_details_show_in_stock_label = true;
										window.ec.storefront.show_breadcrumbs = true;
										window.ec.storefront.product_details_show_breadcrumbs = true;
										window.ec.storefront.product_details_position_breadcrumbs = 25;
										window.ec.storefront.breadcrumbs_separator = "";

										var hash = 'purchases';

										function locationHashChanged() {
												if (window.location.hash != '' && window.location.hash != '#' && window.location.hash != '#purchases' && window.location.hash != '#raffle' && window.location.hash != '#story') {
														window.location.hash = hash;
												}
										}

										window.onhashchange = locationHashChanged;

										function loadStore(store, args) {
												if (typeof Ecwid != 'undefined') 
														Ecwid.destroy();
												window._xnext_initialization_scripts = [
														{
																widgetType: 'ProductBrowser',
																id: store,
																arg: ["id=productBrowser"].concat(args)
														}
												];

												ecwid_onBodyDone();
										}

										function openTab(tab) {
												hash = tab;
												window.location.hash = tab;

												var i;

												// Get all elements with class="tabcontent" and hide them
												const tabcontent = document.getElementsByClassName("tab-content");
												for (i = 0; i < tabcontent.length; i++) {
														tabcontent[i].style.display = "none";
												}

												// Get all elements with class="tab" and remove the class "active"
												const tabs = document.getElementsByClassName("tab");
												for (i = 0; i < tabs.length; i++) {
														tabs[i].className = tabs[i]
																.className
																.replace(" active", "");
												}

												// Show the current tab, and add an "active" class to the button that opened the tab
												document
														.getElementById(tab)
														.style
														.display = "block";

												document
														.getElementById(tab + '-tab')
														.className += " active";

												if (tab == 'purchases') {
														document
																.getElementById('raffle-store')
																.replaceChildren();
														loadStore('purchases-store', ['defaultCategoryId=137728300', 'views=grid(20,3) list(60) table(60)'])

												} else if (tab == 'raffle') {
														document
																.getElementById('purchases-store')
																.replaceChildren();
														loadStore('raffle-store', ['defaultProductId=485712291'])
												}

										}

										xProductBrowser("defaultCategoryId=137728300", "categoriesPerRow=3", "views=grid(20,3) list(60) table(60)", "categoryView=grid", "searchView=list", "id=purchases-store");
										window.ecwid_script_defer = true;
										window.ecwid_dynamic_widgets = true;

										$(document).ready(function () {
												if (window.location.hash == '#raffle') {
														openTab('raffle');
												} else if (window.location.hash == '#story') {
														openTab('story');
												}
										});
								</script>

						</div>

				</div>

				<div class="tab-content" id="raffle" style="display:none;">

						<div class="module-title-wrap" style="margin-top:30px; margin-bottom:30px;">
								<p style="font-size:150%;" class="ja-animate" data-animation="move-from-bottom" data-delay="400">
										Every ticket pays for 2½ meters of trail and a chance to win one of the below prizes:</p>
						</div>

						<div class="row equal-height equal-height-child" data-animation="move-from-bottom" data-delay="1800">
								<div class="col col-sm-12 col-md-4">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-0">
												<div class="font-icon"><span class="icon ion-ios-trophy"><span class="num">1</span></span>
												</div>
												<h4>2023<br/>Niseko Spring getaway</h4>
												<div class="sponsors">
														<a href="https://hokkaidobackcountryclub.com" target="_blank">
																<img src="/images/company/hokkaidobackcountryclub.jpeg" alt="Hokkaido Backcountry Club"/>
														</a>
														<a href="https://holidayniseko.com" target="_blank">
																<img src="/images/company/holidayniseko.png" alt="Holiday Niseko"/>
														</a>
														<a href="https://www.temporada-niseko.com" target="_blank">
																<img src="/images/company/temporada.jpeg" alt="Temporada"/>
														</a>
												</div>
												<p class="gold" style="margin-top:10px;">Heli ski day for two with Hokkaido Backcountry</p>
												<p class="gold">3 night stay at Kabayama townhouses by Holiday Niseko</p>
												<p class="gold">3 day 4WD van rental from Holiday Niseko</p>
												<p class="gold">Dinner for two at Temporada</p>
												<p class="small">Valid from March 1 to March 20 2023. If unable to fly due to weather conditions you will be provided credit for a heli-day in 2024. A combined value of ¥500,000</p>
										</div>
								</div>
								<div class="col col-sm-12 col-md-4">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-1">
												<div class="font-icon"><span class="icon ion-ios-trophy"><span class="num">2</span></span>
												</div>
												<h4>2023 Summer 5 day extravaganza</h4>
												<div class="sponsors">
														<a href="https://holidayniseko.com" target="_blank">
																<img src="/images/company/holidayniseko.png" alt="Holiday Niseko"/>
														</a>
														<a href="https://rhythmjapan.com" target="_blank">
																<img src="/images/company/rhythm.jpg" alt="Rhythm Japan"/>
														</a>
														<a href="https://noasc.com" target="_blank">
																<img src="/images/company/noasc.jpeg" alt="NOASC"/>
														</a>
												</div>
												<p class="gold" style="margin-top:10px;">5 night stay at Kabayama townhouses by Holiday Niseko
												</p>
												<p class="gold">4 days e-mountainbike/road bike rental for 2 from Rhythm</p>
												<p class="gold">1 day rafting/Ducky trip for 2 by NOASC</p>
												<p class="small">Valid from July 1 to September 30 2023. A combined value of ¥250,000</p>
										</div>
								</div>
								<div class="col col-sm-12 col-md-4">
										<div class="features-item ja-animate" data-animation="move-from-bottom" data-delay="item-2">
												<div class="font-icon"><span class="icon ion-ios-trophy"><span class="num">3</span></span>
												</div>
												<h4>2 day cat skiing at Shimamaki by Hokkaido Backcountry</h4>
												<div class="sponsors">
														<a href="https://hokkaidobackcountryclub.com" target="_blank">
																<img src="/images/company/hokkaidobackcountryclub.jpeg" alt="Hokkaido Backcountry Club"/>
														</a>
												</div>
												<p class="small">Valid from January to March 2023, subject to availability. Value of ¥193,000
												</p>
										</div>
								</div>
						</div>

						<div class="module-title-wrap"></div>

						<div id="raffle-store"></div>

				</div>

				<div class="tab-content" id="story" style="display:none;">

						<div class="module-title-wrap" style="margin-top:70px; max-width:900px;">
								<p style="font-size:150%;" class="ja-animate" data-animation="move-from-bottom" data-delay="400">
										The Niseko Area Mountain Bike Association (NAMTBA) presents to you the Twin Peaks Bike Park. A free-to-use public bike park bringing the Niseko area 20+ kilometers of world class mountain bike trails. The park will be the first of its kind in Hokkaido and just one of a small handful of such parks in Japan. The incredible range of planned facilities will make mountain biking in the area accessible and approachable to all ages, all budgets and all abilities.</p>
								<p>
										<a class="btn btn-primary ja-animate" data-animation="move-from-bottom" data-delay="1000" href="/projects/twin-peaks">More info</a>
								</p>
						</div>

				</div>

		</div>
{% endblock %}
