---
layout: default
baseCss: view-article
---
<style>
  .credit {
    float:right;
    font-size: 90%;
  }

  h3 small {
    font-size: 50%;
    vertical-align: middle;
  }

  li div.desc { margin: 24px 0; }
</style>

<div class="item-page view-project ">

  <!-- Article -->
  <article>

    {% if page.img %}
    <div class="pull-left item-image">
      <img src="{{ page.img }}" alt="" itemprop="image">
      {% if page.imgCredit %}<span class="credit">{% if page.imgCredit.url %}<a href="{{ page.imgCredit.url }}" target="_blank"> 📸 {{ page.imgCredit.name }}</a>{% else %}📸 {{ page.imgCredit.name }}{% endif %}</span>{% endif %}
    </div>
    {% endif %}

    <div class="article-detail t3-section-wrap">
      <!-- Aside -->
      <div class="section">
        <div class="project-info ja-animate" data-animation="move-from-right" data-delay="200">
          <h4>{% if page.lang == "en" %}Position Details{% else %}ポジション詳細{% endif %}</h4>

          {% if page.startDate %}
          <div class="list-group">
            <h4 class="list-group-item-heading">{% if page.lang == "en" %}Start date{% else %}開始日{% endif %}</h4>
            <p class="list-group-item-text">
              {% if page.lang == "en" %}
              {{ page.startDate | date: "%s" | plus: days | date: "%A %d %B %Y" }}
              {% else %}
              {{ page.startDate | date: "%s" | plus: days | date: "%Y年%m月%d日" }}
              {% endif %}
            </p>
          </div>
          {% endif %}

          {% if page.endDate %}
          <div class="list-group">
            <h4 class="list-group-item-heading">{% if page.lang == "en" %}End date{% else %}終了日{% endif %}</h4>
            <p class="list-group-item-text">
              {% if page.lang == "en" %}
              {{ page.endDate | date: "%s" | plus: days | date: "%A %d %B %Y" }}
              {% else %}
              {{ page.endDate | date: "%s" | plus: days | date: "%Y年%m月%d日" }}
              {% endif %}
            </p>
          </div>
          {% endif %}

          {% unless page.startDate and page.endDate %}
          <div class="list-group">
            <h4 class="list-group-item-heading">{% if page.lang == "en" %}Term{% else %}雇用期間{% endif %}</h4>
            <p class="list-group-item-text">
              {{ page.term }}
            </p>
          </div>
            {% endunless %}

          {% if page.workingHours %}
          <div class="list-group">
            <h4 class="list-group-item-heading">{% if page.lang == "en" %}Working hours{% else %}労働時間{% endif %}</h4>
            <p class="list-group-item-text">
              {{ page.workingHours }}
            </p>
          </div>
          {% endif %}

          <div class="list-group">
            <h4 class="list-group-item-heading">{% if page.lang == "en" %}Status{% else %}<span class="ja">ポジションの<wbr>空き</span>{% endif %}</h4>
            <p class="list-group-item-text">
              {% if page.isOpen and page.lang == "ja" %}
                募集中
              {%  elsif page.isOpen %}
                Open
              {%  else %}
                Closed
              {% endif %}
            </p>
          </div>

          <div class="list-group">
            <h4 class="list-group-item-heading">{% if page.lang == "en" %}Location{% else %}場所{% endif %}</h4>
            <p class="list-group-item-text">{{ page.location }}</p>
          </div>

          <div class="list-group">
            <h4 class="list-group-item-heading">{% if page.lang == "en" %}Remuneration{% else %}報酬について{% endif %}</h4>
            <p class="list-group-item-text">
              {{ page.pay }}
            </p>
          </div>

          {% if page.bonus %}
          <div class="list-group">
            <h4 class="list-group-item-heading">{% if page.lang == "en" %}Performance Bonus{% else %}成果報酬{% endif %}</h4>
            <p class="list-group-item-text">
              {{ page.bonus }}
            </p>
          </div>
          {% endif %}

          {% for perk in page.perks %}
          <div class="list-group">
            <h4 class="list-group-item-heading">{{ perk.title }}</h4>
            <p class="list-group-item-text">
              {{ perk.perk }}
            </p>
          </div>
          {% endfor %}

          {% if page.moreInfo %}
          <div class="list-group">
            <h4 class="list-group-item-heading">{% if page.lang == "en" %}More Info{% else %}詳しくは{% endif %}</h4>
            {% for info in page.moreInfo %}
            <p>{{ info }}</p>
            {% endfor %}
          </div>
          {% endif %}

          {% if page.applyUrl and page.isOpen %}
          <div class="list-group">
            {% if page.lang == "ja" %}
              <p>
                <a class="btn btn-sm btn-primary"
                  href="{{- page.applyUrl -}}"
                  target="_blank">申し込みはこちらをクリック</a>
              </p>
            {% else %}
              <p>
                <a class="btn btn-sm btn-primary"
                  href="{{- page.applyUrl -}}"
                  target="_blank">Click here to apply</a>
              </p>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
      <!-- // Aside -->

      <div class="section">
        <section class="article-content clearfix ja-animate" data-animation="move-from-right" data-delay="400" itemprop="articleBody">
          {{ content }}
          <!-- // Item tags -->
        </section>
      </div>

      <!-- Footer -->
      <!-- // Footer -->

    </div>
</article>
<!-- //Article -->

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "JobPosting",
  "url": "https://namba.ngo{{ page.url }}",
  {% if page.lang == "ja" %}
  "sameAs": "https://namba.ngo{{ page.url | replace: "/ja/", "/" }}",
  {% endif %}
  "identifier": {
    "@type": "PropertyValue",
    "name": "{{ page.title }}",
    "value": "{{ page.url | replace: "/ja/", "/" | replace: "/jobs/", "/" | replace: "/", "" }}"
  },
  "inLanguage": "{{ page.lang }}",
  "title": "{{ page.title }}",
  "description": "{{ page.description }}",
    {% if page.masthead.img %}
  "image": {
    "@type": "imageObject",
    "url": "https://namba.ngo{{ page.masthead.img }}",
    "height": "auto",
    "width": "auto"
  },
  {% endif %}
  "datePosted": "{{ page.date }}",
  {% if page.og.startDate %}"jobStartDate": "{{ page.og.startDate }}", {% endif %}
  {% if page.workingHours %}"workHours": "{{ page.workingHours }}", {% endif %}
  {% unless page.isOpen %}"validThrough" : "{{ site.time }}",{% endunless %}
  "applicantLocationRequirements": {
    "@type": "Country",
    "name": "Japan"
  },
  {% if page.og.allowRemote %}"jobLocationType": "TELECOMMUTE", {% endif %}
  "jobLocation": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Niseko",
      "addressRegion": "Hokkaido",
      "addressCountry": "Japan"
    }
  },
  "employmentType": "{{ page.og.employmentType }}",
  "hiringOrganization" : {
    "@type": "Organization",
    "name": "NAMBA",
    "sameAs": "https://namba.ngo",
    "logo" : "https://namba.ngo/assets/images/logos/circle-logo.jpg"
  },
  "baseSalary": {
    "@type": "MonetaryAmount",
    "currency": "JPY",
    "value": {
      "@type": "QuantitativeValue",
      "value": {{ page.og.pay | default: 0 }},
      "unitText": "{{ page.og.payUnit | default: "HOUR" }}"
    }
  }
}
</script>

