---
layout: base
baseCss: hidden-masthead-info
---
{% assign path = page.url | remove_first: "/" | remove: "ja/" | remove: "index.html" %}
{% assign pathSegments = path | split: "/" %}
{% assign path0 = pathSegments.first | default: '' %}
{% assign path1 = pathSegments[1] %}

{% include masthead.html %}

<style>
  .t3-mainbody {
    margin-top: 24px;
  }

  .t3-sidebar h3 {
    font-size:12px;
  }

  .t3-sidebar .action span {
    margin-left: 8px;
    position: relative;
    top: 1px;
    letter-spacing: -1px;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
  }

  .t3-sidebar .action:hover span,
  .t3-sidebar .action:focus span,
  .t3-sidebar .action:active span {
    margin-left: 14px;
  }

  .t3-sidebar .stat {
    font-size: 8px;
    display: inline-block;
    padding: 7px;
    text-align: center;
    list-style: none;
    border:0;
  }

  .t3-sidebar .stat span.dicon_small {
    font-size: 20px;
  }

  .t3-sidebar .stat-count {
    display: block;
    font-size: 16px;
    text-align: center;
  }

  .t3-sidebar .stat span {
    border-radius: 3px;
    margin-right: 5px;
  }

  .t3-sidebar .stat .dgreen {
    color: #46b414;
  }

  .t3-sidebar .stat .dblue {
    color: #148cf0;
  }

  .t3-sidebar .stat .dblack {
    color: #000;
    background-color: #9e9e9e;
  }

  .t3-sidebar .stat .ddblblack {
    color: #be0014;
  }

  .t3-sidebar .partners {
    margin: 10px auto;
  }

  .t3-sidebar .partners ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
  }

  .t3-sidebar .partners li {
    display: inline;
  }

  .t3-sidebar .partners a {
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
  }

  .t3-sidebar .partners img {
    margin-bottom: 10px;
    max-height: 50px;
    max-width: 50px;
  }

  .credit {
    float:right;
    font-size: 90%;
  }

  .credit a { color: #9e9e9e; }
</style>

<div id="t3-mainbody" class="container t3-mainbody">
  <div class="row equal-height">

    <!-- MAIN CONTENT -->
    <div id="t3-content" class="t3-content col col-xs-12 col-sm-8 col-md-9">
      <div class="item-page hidden-masthead-info">
        <!-- Article -->
        <article>
          {{ content }}
        </article>
        <!-- //Article -->
      </div>
    </div>
    <!-- //MAIN CONTENT -->

    <!-- SIDEBAR RIGHT -->
    <div class="t3-sidebar t3-sidebar-right col col-xs-12 col-sm-4 col-md-3">
      <img style="width:150px; margin:0 auto; margin-bottom:24px; display: flex;" src="/assets/images/logos/twin-peaks.svg?d={{ site.time | date: " %s" }}" />
      <div class="t3-module module">
        <div class="module-inner">
          <div class="module-ct">
            <ul class="categories-module mod-list">
              <li>
                <h4><a class="action" {% unless path1 %}style="font-weight:bold;" {% endunless %} href="/twin-peaks/">Trail
                    Map & Status <span class="icon ion-ios-arrow-round-forward"></span></a></h4>
              </li>
              <li>
                <h4><a class="action" {% if path1=='access' %}style="font-weight:bold;" {% endif %}
                    href="/twin-peaks/access">Access & Facilities <span class="icon ion-ios-arrow-round-forward"></span></a>
                </h4>
              </li>
              <li>
                <h4><a class="action" {% if path1=='guides' %}style="font-weight:bold;" {% endif %}
                    href="/twin-peaks/guides">Guides & Tour operators <span
                      class="icon ion-ios-arrow-round-forward"></span></a></h4>
              </li>
              {% comment %} <li>
                <h4><a class="action" {% if path1=='trail-building' %}style="font-weight:bold;" {% endif %}
                    href="/twin-peaks/phases">Trail building <span class="icon ion-ios-arrow-round-forward"></span></a></h4>
              </li> {% endcomment %}
              <li>
                <h4><a class="action" {% if path1=='rules' %}style="font-weight:bold;" {% endif %}
                    href="/twin-peaks/rules">Rules <span class="icon ion-ios-arrow-round-forward"></span></a></h4>
              </li>
              <li>
                <h4><a class="action" {% if path1=='wet-trails' %}style="font-weight:bold;" {% endif %}
                    href="/twin-peaks/wet-trails">Wet Trails <span class="icon ion-ios-arrow-round-forward"></span></a></h4>
              </li>
              <li>
                <h4><a class="action" {% if path1=='commercial-pass' %}style="font-weight:bold;" {% endif %}
                    href="/twin-peaks/commercial-pass">Commercial Pass <span
                      class="icon ion-ios-arrow-round-forward"></span></a></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="t3-module module">
        <div class="module-inner">
          <h3 class="module-title"><span>Key stats</span></h3>
          <div class="module-ct">
            <ul class="categories-module mod-list">
              <li>
                <h4>Cost:</h4> Free
              </li>
              <li>
                {% comment %} <h4>Uplift type:</h4> None - Pedal power only {% endcomment %}
                <h4>Uplift type:</h4>
                <p style="margin: 2px 0 0 0;">Lift access: <strong>No</strong></p>
                <p style="margin:0;">Shuttle access: <strong>No</strong></p>
                <p style="margin:0;">Pedal access: <strong>Yes</strong></p>
              </li>
              <li>
                <h4>Location:</h4> Hirafu
              </li>
              <li>
                <h4>Trail stats:</h4>
                {% assign greenTrailCount = 0 %}
                {% assign blueTrailCount = 0 %}
                {% assign blackTrailCount = 0 %}
                {% assign doubleBlackTrailCount = 0 %}
                {% assign trailCount = 0 %}
                {% assign totalDistance = 0 %}
                {% assign totalDescent = 0 %}
                {% assign totalClimb = 0 %}

                {% for trail in site.data.trails["twinpeaks"] %}
                {% assign trailCount = trailCount | plus: 1 %}
                {% case trail.difficulty %}
                {% when 'green' %}
                {% assign greenTrailCount = greenTrailCount | plus: 1 %}
                {% when 'blue' %}
                {% assign blueTrailCount = blueTrailCount | plus: 1 %}
                {% when 'black' %}
                {% assign blackTrailCount = blackTrailCount | plus: 1 %}
                {% when 'double-black' %}
                {% assign doubleBlackTrailCount = doubleBlackTrailCount | plus: 1 %}
                {% endcase %}
                {% assign distance = trail.distance | remove: "," %}
                {% assign totalDistance = totalDistance | plus: distance %}
                {% assign totalDescent = totalDescent | plus: trail.descent %}
                {% assign totalClimb = totalClimb | plus: trail.climb %}
                {% endfor %}
                <ul style="padding:0;">
                  <li class="stat">
                    <span aria-hidden="true" data-tf-icon="" class="dicon_small dgreen tip" title="Green"></span>
                    <span class="stat-count">{{ greenTrailCount }}</span>
                  </li>
                  <li class="stat">
                    <span aria-hidden="true" data-tf-icon="" class="dicon_small dblue tip" title="Blue"></span>
                    <span class="stat-count">{{ blueTrailCount }}</span>
                  </li>
                  <li class="stat">
                    <span aria-hidden="true" data-tf-icon="" class="dicon_small dblack tip" title="Black"></span>
                    <span class="stat-count">{{ blackTrailCount }}</span>
                  </li>
                  <li class="stat">
                    <span aria-hidden="true" data-tf-icon="" class="dicon_small dblack tip"
                      title="Double Black Diamond"></span>
                    <span class="stat-count">{{ doubleBlackTrailCount }}</span>
                  </li>
                </ul>
                <p style="margin:0;"><strong>{{ trailCount }}</strong> trails</p>
                <p style="margin:0;">Total distance: <strong>{{ totalDistance | divided_by: 1000 }}km</strong> <span
                    class="fa fa-ruler-horizontal" title="Distance"></span></p>
                <p style="margin:0;">Total descent: <strong>{{ totalDescent }}m</strong> <span class="fa fa-arrow-down"
                    title="Descent"></span></p>
                <p style="margin:0;">Total climb: <strong>{{ totalClimb }}m</strong> <span class="fa fa-arrow-up"
                    title="Climb"></span></p>
              </li>
              <li>
                <h4>Bike Park status: </h4>
                <div style="margin-top:3px;" class="TrailforksWidgetRegionStatus" data-w="100px" data-h="15px"
                  data-rid="58775" data-activitytype="1" data-status="1" data-st="1" data-ct="0" data-date="0"></div>
              </li>
              <li>
                <h4>Opening dates & times:</h4>
                <p style="margin:0;">June - End October</p>
                <p style="margin:0;">7am - 7pm</p>
              </li>
              <li>
                <h4>Built and managed by:</h4> Niseko Area Mountain Bike Association
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="t3-module module">
        <div class="module-inner">
          <h3 class="module-title"><span>Bike park partners</span></h3>
          <div class="module-ct partners">
            <ul>
              <li>
                <a href="https://helloallegra.com" target="_blank">
                  <img src="/assets/images/company/special/allegra.png"
                    alt="{% if page.lang == 'en' %}Trail building partner{% else %}トレイルビルド パートナー{% endif %}">
                </a>
              </li>
              <li>
                <a href="{% if page.lang == 'en' %}https://rhythmjapan.com{% else %}https://www.rhythmjapan.com/ja/{% endif %}"
                  target="_blank">
                  <img src="/assets/images/company/special/rhythm.png"
                    alt="{% if page.lang == 'en' %}Maintenance sponsor{% else %}メンテナンス スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="https://www.specialized-onlinestore.jp/" target="_blank">
                  <img src="/assets/images/company/special/specialized.png"
                    alt="{% if page.lang == 'en' %}Trail building team partner{% else %}トレイルビルドチーム スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="{% if page.lang == 'en' %}https://holidayniseko.com{% else %}https://holidayniseko.jp{% endif %}"
                  target="_blank">
                  <img src="/assets/images/company/special/holiday-niseko.png"
                    alt="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="https://www.nisekorealty.com" target="_blank">
                  <img src="/assets/images/company/special/niseko-realty.png"
                    alt="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="http://www.nisekorealtysales.com" target="_blank">
                  <img src="/assets/images/company/special/nrs.png"
                    alt="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="https://www.santacruzbicycles.com/" target="_blank">
                  <img src="/assets/images/company/special/santa-cruz.png"
                    alt="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <img src="/assets/images/company/special/taki.png"
                  alt="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
              </li>
            </ul>
          </div>
        </div>
      </div>


      {% comment %} <div class="t3-module module " id="Mod95">
        <div class="module-inner">
          <h3 class="module-title "><span>Login</span></h3>
          <div class="module-ct">
            <form action="/index.php/our-blog" method="post" id="login-form">
              <fieldset class="userdata">
                <div id="form-login-username" class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <span class="fa fa-user tip" title="Username"></span>
                    </span>
                    <input id="modlgn-username" type="text" name="username" class="input form-control" tabindex="0"
                      size="18" placeholder="Username" aria-label="username">
                  </div>
                </div>
                <div id="form-login-password" class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <span class="fa fa-lock tip" title="Password"></span>
                    </span>
                    <input id="modlgn-passwd" type="password" name="password" class="input form-control" tabindex="0"
                      size="18" placeholder="Password" aria-label="password">
                  </div>
                </div>

                <div id="form-login-remember" class="form-group">
                  <input id="modlgn-remember" type="checkbox" name="remember" class="input" value="yes"
                    aria-label="remember"> Remember Me
                </div>
                <div class="control-group">
                  <input type="submit" name="Submit" class="btn btn-primary" value="Log in">
                </div>

                <ul class="unstyled">
                  <li>
                    <a href="/index.php/pages/j-pages/registration">
                      Create an account <span class="fa fa-arrow-right"></span></a>
                  </li>
                  <li>
                    <a href="/index.php/pages/j-pages/user-profile?view=remind">
                      Forgot your username?</a>
                  </li>
                  <li>
                    <a href="/index.php/pages/j-pages/user-profile?view=reset">Forgot your password?</a>
                  </li>
                </ul>

                <input type="hidden" name="option" value="com_users">
                <input type="hidden" name="task" value="user.login">
                <input type="hidden" name="return"
                  value="aHR0cHM6Ly9qYS1zcGFjZS5kZW1vLmpvb21sYXJ0LmNvbS9pbmRleC5waHAvb3VyLWJsb2cvOS1tYXJrZXRpbmctYmFzaWNzLzItc2hvdWxkLXlvdXItc2Vjb25kYXJ5LWJyYW5kLWhhdmUtYS1kaWZmZXJlbnQtd2Vic2l0ZQ==">
                <input type="hidden" name="f843bc6ed10be6a0c086e47b434c1de1" value="1">
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="t3-module module " id="Mod90">
        <div class="module-inner">
          <h3 class="module-title "><span>Latest Articles</span></h3>
          <div class="module-ct">
            <ul class="latestnews mod-list">
              <li>
                <a href="/index.php/our-blog/9-marketing-basics/2-should-your-secondary-brand-have-a-different-website">
                  <span itemprop="name">
                    Should Your Secondary Brand Have a Different Website? </span>
                </a>
              </li>
              <li>
                <a href="/index.php/our-blog/9-marketing-basics/3-21-award-winning-website-designs-what-they-did-right">
                  <span itemprop="name">
                    21 Award-Winning Website Designs &amp; What They Did Right </span>
                </a>
              </li>
              <li>
                <a href="/index.php/our-blog/9-marketing-basics/4-21-award-winning-website-designs-what-they-did-right-2">
                  <span itemprop="name">
                    How to Choose the Right Visual Content for Your Goal </span>
                </a>
              </li>
              <li>
                <a
                  href="/index.php/our-blog/10-attract-engage/5-secrets-to-creating-top-class-blog-graphics-for-non-designers">
                  <span itemprop="name">
                    Secrets to Creating Top-Class Blog Graphics for Non-Designers </span>
                </a>
              </li>
              <li>
                <a href="/index.php/our-blog/11-web-design/6-the-unfair-design-advantage-is-ux-actually-important">
                  <span itemprop="name">
                    The Unfair Design Advantage: is UX Actually Important? </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
    <!-- //SIDEBAR RIGHT -->
  </div>

</div>

<script type="text/javascript">
  var script = document.createElement("script"); script.setAttribute("src", "https://es.pinkbike.org/ttl-86400/sprt/j/trailforks/widget.js?units=metric"); document.getElementsByTagName("head")[0].appendChild(script); var widgetCheck = false;
</script>
