---
layout: base
baseCss: hidden-masthead-info
---
{% assign path = page.url | remove_first: "/" | remove: "ja/" | remove: "index.html" %}
{% assign pathSegments = path | split: "/" %}
{% assign path0 = pathSegments.first | default: '' %}
{% assign path1 = pathSegments[1] %}

{% include masthead.html %}

<style>
  .t3-mainbody {
    margin-top: 24px;
  }

  .t3-sidebar .tp-logo {
    width:150px; margin:0 auto; margin-bottom:24px; display: flex;
  }

  .t3-sidebar h3 {
    font-size:12px;
  }

  .t3-sidebar .action span {
    margin-left: 8px;
    position: relative;
    top: 1px;
    letter-spacing: -1px;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
  }

  .t3-sidebar .action:hover span,
  .t3-sidebar .action:focus span,
  .t3-sidebar .action:active span {
    margin-left: 14px;
  }

  .t3-sidebar .stat {
    font-size: 8px;
    display: inline-block;
    padding: 7px;
    text-align: center;
    list-style: none;
    border:0;
  }

  .t3-sidebar .stat span.dicon_small {
    font-size: 20px;
  }

  .t3-sidebar .stat-count {
    display: block;
    font-size: 16px;
    text-align: center;
  }

  .t3-sidebar .stat span {
    border-radius: 3px;
    margin-right: 5px;
  }

  .t3-sidebar .stat .dgreen {
    color: #46b414;
  }

  .t3-sidebar .stat .dblue {
    color: #148cf0;
  }

  .t3-sidebar .stat .dblack {
    color: #000;
    background-color: #9e9e9e;
  }

  .t3-sidebar .stat .ddblblack {
    color: #be0014;
  }

  .t3-sidebar .partners {
    margin: 10px auto;
  }

  .t3-sidebar .partners ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
  }

  .t3-sidebar .partners li {
    display: inline;
  }

  .t3-sidebar .partners a {
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
  }

  .t3-sidebar .partners img {
    margin-bottom: 10px;
    max-height: 50px;
    max-width: 50px;
  }

  .credit {
    float:right;
    font-size: 90%;
  }

  .credit a { color: #9e9e9e; }
</style>

<div id="t3-mainbody" class="container t3-mainbody">
  <div class="row equal-height">

    <!-- MAIN CONTENT -->
    <div id="t3-content" class="t3-content col col-xs-12 col-sm-8 col-md-9">
      <div class="item-page hidden-masthead-info">
        <!-- Article -->
        <article>
          {{ content }}
        </article>
        <!-- //Article -->
      </div>
    </div>
    <!-- //MAIN CONTENT -->

    <!-- SIDEBAR RIGHT -->
    <div class="t3-sidebar t3-sidebar-right col col-xs-12 col-sm-4 col-md-3">
      <img class="tp-logo" src="/assets/images/logos/twin-peaks.svg?d={{ site.time | date: " %s" }}" alt="{% if page.lang == 'ja' %}ツインピークスバイクパーク{% else %}Twin Peaks Bike Park{% endif %}" />
      <div class="t3-module module">
        <div class="module-inner">
          <div class="module-ct">
            <ul class="nav nav-pills nav-stacked">
              <li {% unless path1 %}class="active"{% endunless %} >
                  <a href="/twin-peaks/">
                    {% if page.lang == "ja" %}<span class="ja">トレイルマップ<wbr>＆<wbr>状況</span>{% else %}Trail Map & Status{% endif %}
                  </a>
              </li>
              <li {% if path1=='access' %}class="active"{% endif %}>
                  <a href="/twin-peaks/access">
                    {% if page.lang == "ja" %}<span class="ja">アクセス<wbr>＆<wbr>設備</span>{% else %}Access & Facilities{% endif %}
                  </a>
              </li>
              <li {% if path1=='guides' %}class="active"{% endif %}>
                  <a href="/twin-peaks/guides">
                    {% if page.lang == "ja" %}<span class="ja">ガイド<wbr>＆<wbr>ツアーオペレーション</span>{% else %}Guides & Tour operators{% endif %}
                  </a>
              </li>
              {% comment %} <li {% if path1=='trail-building' %}class="active"{% endif %}>
                  <a href="/twin-peaks/phases">
                    {% if page.lang == "ja" %}トレイルビルディング{% else %}Trail building{% endif %} <span
                  </a>
              </li> {% endcomment %}
              <li {% if path1=='rules' %}class="active"{% endif %}>
                  <a href="/twin-peaks/rules">
                    {% if page.lang == "ja" %}<span class="ja">ルール</span>{% else %}Rules{% endif %}
                  </a>
              </li>
              <li {% if path1=='wet-trails' %}class="active"{% endif %}>
                  <a href="/twin-peaks/wet-trails">
                    {% if page.lang == "ja" %}<span class="ja">ぬれた<wbr>トレイル</span>{% else %}Wet Trails{% endif %}
                  </a>
              </li>
              <li {% if path1=='commercial-pass' %}class="active"{% endif %}>
                  <a href="/twin-peaks/commercial-pass">
                    {% if page.lang == "ja" %}<span class="ja">商業事業者<wbr>パス</span>{% else %}Commercial Pass{% endif %}
                  </a>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="t3-module module">
        <div class="module-inner">
          <h3 class="module-title"><span>Key stats</span></h3>
          <div class="module-ct">
            <ul class="categories-module mod-list">
              <li>
                {% if page.lang == "ja" %}
                  <h4>コスト：</h4> 一般無料開放
                {% else %}
                  <h4>Cost:</h4> <strong>Free</strong> to the general public
                {% endif %}
              </li>
              <li>
                {% if page.lang == "ja" %}
                  <h4>上りのタイプ：</h4>
                  <p style="margin: 2px 0 0 0;">リフトアクセス： <strong>無</strong></p>
                  <p style="margin:0;">シャトルアクセス： <strong>無</strong></p>
                  <p style="margin:0;">パドルでのアクセス： <strong>有</strong></p>
                {% else %}
                  <h4>Uplift type:</h4>
                  <p style="margin: 2px 0 0 0;">Lift access: <strong>No</strong></p>
                  <p style="margin:0;">Shuttle access: <strong>No</strong></p>
                  <p style="margin:0;">Pedal access: <strong>Yes</strong></p>
                {% endif %}
              </li>
              <li>
                {% if page.lang == "ja" %}
                  <h4>ロケーション：</h4> ひらふ
                {% else %}
                  <h4>Location:</h4> Hirafu
                {% endif  %}
              </li>
              <li>
                {% if page.lang == "ja" %}
                <h4>トレイルステイタス：</h4>
                {% else %}
                <h4>Trail stats:</h4>
                {% endif %}
                {% assign greenTrailCount = 0 %}
                {% assign blueTrailCount = 0 %}
                {% assign blackTrailCount = 0 %}
                {% assign doubleBlackTrailCount = 0 %}
                {% assign trailCount = 0 %}
                {% assign totalDistance = 0 %}
                {% assign totalDescent = 0 %}
                {% assign totalClimb = 0 %}

                {% for trail in site.data.trails["twinpeaks"] %}
                {% assign trailCount = trailCount | plus: 1 %}
                {% case trail.difficulty %}
                {% when 'green' %}
                {% assign greenTrailCount = greenTrailCount | plus: 1 %}
                {% when 'blue' %}
                {% assign blueTrailCount = blueTrailCount | plus: 1 %}
                {% when 'black' %}
                {% assign blackTrailCount = blackTrailCount | plus: 1 %}
                {% when 'double-black' %}
                {% assign doubleBlackTrailCount = doubleBlackTrailCount | plus: 1 %}
                {% endcase %}
                {% assign distance = trail.distance | remove: "," %}
                {% assign totalDistance = totalDistance | plus: distance %}
                {% assign totalDescent = totalDescent | plus: trail.descent %}
                {% assign totalClimb = totalClimb | plus: trail.climb %}
                {% endfor %}
                <ul style="padding:0;">
                  <li class="stat">
              <span aria-hidden="true" data-tf-icon="" class="dicon_small dgreen tip" title="{% if page.lang == 'ja' %}グリーン{% else %}Green{% endif %}"></span>
                    <span class="stat-count">{{ greenTrailCount }}</span>
                  </li>
                  <li class="stat">
                    <span aria-hidden="true" data-tf-icon="" class="dicon_small dblue tip" title="{% if page.lang == 'ja' %}ブルー{% else %}Blue{% endif %}"></span>
                    <span class="stat-count">{{ blueTrailCount }}</span>
                  </li>
                  <li class="stat">
                    <span aria-hidden="true" data-tf-icon="" class="dicon_small dblack tip" title="{% if page.lang == 'ja' %}ブラック{% else %}Black{% endif %}"></span>
                    <span class="stat-count">{{ blackTrailCount }}</span>
                  </li>
                  <li class="stat">
                    <span aria-hidden="true" data-tf-icon="" class="dicon_small dblack tip" title="{% if page.lang == 'ja' %}ダブルブラック{% else %}Double Black{% endif %}"></span>
                    <span class="stat-count">{{ doubleBlackTrailCount }}</span>
                  </li>
                </ul>
                <p style="margin:0;"><strong>{{ trailCount }}</strong>{% if page.lang == 'ja' %}つのトレイル{% else %} trails{% endif %}</p>
                <p style="margin:0;">{% if page.lang == 'ja' %}総距離：{% else %}Total distance:{% endif %} <strong>{{ totalDistance | divided_by: 1000 }}km</strong> <span
                    class="fa fa-ruler-horizontal" title="{% if page.lang == 'ja' %}距離{% else %}Distance{% endif %}"></span></p>
                <p style="margin:0;">{% if page.lang == 'ja' %}下りの総距離：{% else %}Total descent:{% endif %} <strong>{{ totalDescent }}m</strong> <span class="fa fa-arrow-down"
                    title="{% if page.lang == 'ja' %}下り{% else %}Descent{% endif %}"></span></p>
                <p style="margin:0;">{% if page.lang == 'ja' %}上りの総距離：{% else %}Total climb:{% endif %} <strong>{{ totalClimb }}m</strong> <span class="fa fa-arrow-up"
                    title="{% if page.lang == 'ja' %}登り{% else %}Climb{% endif %}"></span></p>
              </li>
              <li>
                <h4>{% if page.lang == 'ja' %}バイクパークステイタス：{% else %}Bike Park status:{% endif %} </h4>
                <div style="margin-top:3px;" class="TrailforksWidgetRegionStatus" data-w="100px" data-h="15px"
                  data-rid="58775" data-activitytype="1" data-status="1" data-st="1" data-ct="0" data-date="0"></div>
              </li>
              <li>
                {% if page.lang == "ja" %}
                <h4>開放日＆時間：</h4>
                <p style="margin:0;">6月- 10月後半まで</p>
                <p style="margin:0;">7am - 7pm</p>
                {% else %}
                <h4>Opening dates & times:</h4>
                <p style="margin:0;">June - End October</p>
                <p style="margin:0;">7am - 7pm</p>
                {% endif %}
              </li>
              <li>
                {% if page.lang == "ja" %}
                <h4>建設と管理：</h4> <span class="ja">ニセコ<wbr>エリア<wbr>マウンテンバイク<wbr>協会</span>
                {% else %}
                <h4>Built and managed by:</h4> Niseko Area Mountain Bike Association
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="t3-module module">
        <div class="module-inner">
          {% if page.lang == "ja" %}
          <h3 class="module-title"><span>バイクパーク　パートナー</span></h3>
          {% else %}
          <h3 class="module-title"><span>Bike park partners</span></h3>
          {% endif %}
          <div class="module-ct partners">
            <ul>
              <li>
                <a href="https://helloallegra.com" target="_blank">
                  <img src="/assets/images/company/special/allegra.png"
                    alt="{% if page.lang == 'en' %}Trail building partner{% else %}トレイルビルド パートナー{% endif %}">
                </a>
              </li>
              <li>
                <a href="{% if page.lang == 'en' %}https://rhythmjapan.com{% else %}https://www.rhythmjapan.com/ja/{% endif %}"
                  target="_blank">
                  <img src="/assets/images/company/special/rhythm.png"
                    alt="{% if page.lang == 'en' %}Maintenance sponsor{% else %}メンテナンス スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="https://www.specialized-onlinestore.jp/" target="_blank">
                  <img src="/assets/images/company/special/specialized.png"
                    alt="{% if page.lang == 'en' %}Trail building team partner{% else %}トレイルビルドチーム スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="{% if page.lang == 'en' %}https://holidayniseko.com{% else %}https://holidayniseko.jp{% endif %}"
                  target="_blank">
                  <img src="/assets/images/company/special/holiday-niseko.png"
                    alt="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="https://www.nisekorealty.com" target="_blank">
                  <img src="/assets/images/company/special/niseko-realty.png"
                    alt="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="http://www.nisekorealtysales.com" target="_blank">
                  <img src="/assets/images/company/special/nrs.png"
                    alt="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <a href="https://www.santacruzbicycles.com/" target="_blank">
                  <img src="/assets/images/company/special/santa-cruz.png"
                    alt="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
                </a>
              </li>
              <li>
                <img src="/assets/images/company/special/taki.png"
                  alt="{% if page.lang == 'en' %}Trail sponsor{% else %}トレイル スポンサー{% endif %}">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- //SIDEBAR RIGHT -->
  </div>

</div>

<script type="text/javascript">
  var script = document.createElement("script"); script.setAttribute("src", "https://es.pinkbike.org/ttl-86400/sprt/j/trailforks/widget.js?units=metric"); document.getElementsByTagName("head")[0].appendChild(script); var widgetCheck = false;
</script>
