---
title: Events
baseCss: view-category
---
<div
  class="blog style-1 project-view"
  itemscope=""
  itemtype="https://schema.org/Blog">

  {% assign events = site.categories.events | where: "lang", "en" | where: "draft", "false" %}
  {% assign eventsSize = events | size %}
  {% assign firstPastEventIndex = nil %}
  {% for event in events %}
    {% assign days = event.days | times: 24 | times: 60 | times: 60 %}
    {% assign endDate = event.startDate | date: "%s" | plus: days | date: "%F" %}
    {% assign today = "today" | date: "%F" %}
    {% if endDate > today %}
      {% continue %}
    {% else %}
      {% assign firstPastEventIndex = forloop.index0 %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% assign pastEvents = events | slice: firstPastEventIndex, eventsSize %}
  {% assign sliceStart = eventsSize | minus: firstPastEventIndex %}
  {% assign events = events | reverse | concat: pastEvents | slice: sliceStart, eventsSize %}

  {% for event in events %}

    {% assign indexModulo4 = forloop.index0 | modulo: 4 %}
    {% if indexModulo4 == 0 %}
      <div class="items-row cols-4 row-{{- forloop.index0 | divided_by: 4 }} row equal-height equal-height-child">
      {% endif %}


      <div class="col-md-3 col">
        <div
          class="item column-1"
          itemprop="blogPost"
          itemscope=""
          itemtype="https://schema.org/BlogPosting"
          style="min-height: 529px;">

          <!-- Article -->
          <article class="view-project {% if forloop.index0 >= firstPastEventIndex or event.cancelled %}disabled{% endif %}">
            <div class="image-wrap" style="margin-top:10px;">
              <div class="pull-left item-image">
                <a href="{{ event.override_url | default: event.url }}" {% if event.override_url %}target="_blank"{% endif %}><img
                    src="{{ event.thumbnail }}?d={{ site.time | date: '%s' }}"
                    alt=""
                    itemprop="thumbnailUrl"></a>
              </div>
            </div>

            <div class="intro-wrap">

              <header class="article-header clearfix">
                <h2 class="article-title" itemprop="headline">
                  <a
                    href="{{ event.override_url | default: event.url }}"
                    itemprop="url"
                    title="{{ event.title }}"
                    {% if event.override_url %}target="_blank"{% endif %}>
                    {{ event.title }}</a>
                </h2>

              </header>
              <span class="project-type"><i class="fa-regular fa-calendar"></i> {{ event.startDate | date: "%A %e %B %Y" }}</span>
              <br />
              {% comment %} <span class="project-type">{{ event.excerpt | strip_html | slice: 0, 100 }} ...</span> {% endcomment %}


            <!-- Aside -->
              <!-- //Aside -->


              <!-- footer -->
              <!-- //footer -->


            </div>
            {% assign days = event.days | times: 24 | times: 60 | times: 60 %}
            {% assign endDate = event.startDate | date: "%s" | plus: days | date: "%F" %}
            {% assign today = "today" | date: "%F" %}
            {% if forloop.index0 < firstPastEventIndex %}
              {% if event.cancelled %}
              <div class="ribbon ribbon-top-left cancelled" name="cancelled" data-end-date="{{- endDate -}}"><span>Cancelled</span></div>
              {% endif %}
            <div class="ribbon ribbon-top-left" style="display:none;" name="ended" data-end-date="{{- endDate -}}"><span>Ended</span></div>
            {% else %}
            <div class="ribbon ribbon-top-left"><span>Ended</span></div>
            {% endif %}
          </article>
          <!-- //Article -->



        </div>
        <!-- end item -->
      </div>
      {% if indexModulo4 == 3 or forloop.last %}
      </div>
      <!-- end row -->
    {% endif %}

  {% endfor %}

</div>

<script type="text/javascript">
  (function ($) {
    // Add ended ribbon
    $('div[name="ended"]').each(function () {
      var endDate = new Date($(this).data("end-date"));
      var now = new Date();
      if (endDate.getTime() < now.getTime()) {
        $(this).show();
      }
    });
    $('div[name="cancelled"]').each(function () {
      var endDate = new Date($(this).data("end-date"));
      var now = new Date();
      if (endDate.getTime() < now.getTime()) {
        $(this).hide();
      }
    });
  })(jQuery);
</script>
