---
title: Turbo Levo SL LTD ブラインドオークション
description: スペシャライズド・ターボ・レヴォSL LTDの50台限定ソイル・サーチング・エディションを手に入れ、ニセコエリアマウンテンバイク協会（NAMBA）をご支援いただけたら嬉しいです。そしてバイクをゲットしトレイルをサポートにご参加ください！
og:
  image: /assets/images/prizes/levo-01.jpg
---

<style>

  .project-info {
    text-align: center;
  }

  .project-info .sponsors {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .project-info .sponsors a {
    margin: 0 5px;
  }

  .project-info .sponsors img {
    margin-bottom: 10px;
    height: 50px;
  }

  .project-info .small {
    font-style: italic;
    font-size: 75%;
    margin-top: 30px;
  }

  .gold {
    color: #ffd97b;
    font-size: 12px !important;
    font-family: "Metropolis", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-top: 30px;
  }

  .owl-nav button span {
    opacity: 0.5;
  }

  .owl-nav button span:before {
    color: #fd7d57;
    font-size: 35px;
    background: linear-gradient(135deg, #fd7d57, #f55d59);
    background-clip: text;
    display: inline-block;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    text-indent: 1px;
  }

  .owl-nav button span:hover {
    opacity: 0.8;
  }

  .owl-nav {
    text-align: center;
    margin-top: 15px;
  }

  .owl-nav .owl-next {
    margin-left: 15px;
    /*float: right;*/
  }
</style>


<div class="item-page view-project ">

  <!-- Article -->
  <article>
    <div class="pull-left item-image">
      <img
        src="/assets/images/prizes/levo-01.jpg"
        alt=""
        itemprop="image" />
    </div>

    <!-- Aside -->
    <div class="article-detail">
      <div class="project-info col">
        <h4>Soil Searching Turbo Levo SL Comp Carbon</h4>
        <div class="sponsors">
          <a href="https://www.specialized-onlinestore.jp/" target="_blank">
            <img
              src="/assets/images/company/other/specialized-s.png"
              alt="Specialized Bicycles"
              style="width: 50px; height: auto;" />
          </a>
        </div>
        <p style="font-size:125%;">
          <strong>非売品</strong>
        </p>
        <p class="gold" style="margin-top:30px;">
          <span class="ja">フルカスタムの<wbr>限定塗装</span>
        </p>
        <p class="gold">Specialized SL 1.2 モーター</p>
        <p class="gold">フォックス36リズムフォーク</p>
        <p class="gold">フォックスフロートエボリューションショック</p>
        <p class="gold">フロント29インチ＆バック27.5インチホイール</p>
        <p class="gold">スペシャライズド・Soil Searching・タイヤ</p>
        <p class="gold">スラム イーグル ドライブトレイン</p>
        <p class="gold">スラム コードブレーキ</p>
        <p class="gold">カーボンフレーム</p>
        <p class="gold">S3サイズ</p>
        <div class="list-group">
          <p class="list-group-item-text">
            <p>
              <a
                class="btn btn-sm btn-primary"
                href="https://docs.google.com/forms/d/e/1FAIpQLSfz2iIouNhpD0rInJmRgxO3yADtOi-8DtNVeT11JQemXqqutg/viewform"
                target="_blank">入札する</a>
            </p>
          </p>
        </div>
        <p class="small">
          <span class="ja">バイクは<wbr>ニセコでの<wbr>即時受け取り、<wbr>または<wbr>日本国内への<wbr>郵送が<wbr>可能です。<wbr>当選者が<wbr>すぐに<wbr>自転車を<wbr>引き取れない<wbr>場合は、<wbr>ニセコで<wbr>最長6ヶ月の<wbr>保管が<wbr>可能です。</span>
        </p>
        <div class="sponsors">
          <a href="https://www.specialized.com/jp/ja/soil-searching" target="_blank">
            <img
              src="/assets/images/company/other/soil-searching.png"
              alt="Specialized Bicycles"
              style="width: 100px; height: auto;" />
          </a>
        </div>
      </div>
      <!-- // Aside -->

      <section class="article-content clearfix" itemprop="articleBody">

        <p>スペシャライズド・ターボ・レヴォSL LTDの50台限定ソイル・サーチング・エディションを手に入れ、ニセコエリアマウンテンバイク協会（NAMBA）をご支援いただけたら嬉しいです。そしてバイクをゲットしトレイルをサポートにご参加ください！</p>
        <p>
          このブラインド・オークションの収益はすべてNAMBAとツインピークス・バイクパークに寄付されます。当選者には2023年9月17日にメールでご連絡いたします。(ブラインド・オークションとは何でしょうか？下記の<a href="#qa">Q&Aセクション</a>をご覧ください)</p>

        <div class="module-title-wrap" style="max-width:900px;">
          <div class="action">
            <a
              class="btn btn-primary"
              href="https://docs.google.com/forms/d/e/1FAIpQLSfz2iIouNhpD0rInJmRgxO3yADtOi-8DtNVeT11JQemXqqutg/viewform"
              target="_blank">入札する</a>
          </div>
          <p style="text-align:center; font-size:90%; margin-top:30px;">応募期間は2023年9月2日から2023年8月16日まで。</p>
        </div>

        {% include carousel.html images=site.data.prizes.levo.images items=1 id=1 %}

        <h3>ソイル・サーチングについて</h3>

        <p>
          <strong>アスリートのようなトレイルビルダーのスポンサーをしませんか？</strong>
        </p>

        <p>スペシャライズドは彼らの味方です。ソイル・サーチングは、トレイルビルダー、つまりマウンテンバイクの縁の下の力持ちであり、私たちのスポーツを築き、形成している人たちを認識し、称え、支援する運動です。</p>
        <p>ソイル・サーチングはNAMBAのトレイルビルダーをサポートし、ツイン・ピークス・バイク・パークのトレイルを掘る（そして走る！）のに必要なバイクやウェアを提供することを誇りに思っています。</p>
        <p>ニセコでのソイル・サーチングのようなディグ・デイは、コミュニティを作り、知識を与え、あらゆる年齢や能力のライダーをこのスポーツに迎え入レることができます。これらの成果は、ニセコで素晴らしいライディング・プレイスを創造し、向上させ、維持し、保護するというNAMBAの使命と一致しています。</p>

        <p><img src="/assets/images/events/soil-searching/ss03.jpg" alt="" /></p>

        <h3>山守人</h3>

        <p>
          <span class="ja">フルカスタムの<wbr>限定塗装。<wbr>非売品</span>
        </p>

        {% include carousel.html images=site.data.prizes.levo.paint.images items=2 autoplay = 'false' id=2 %}

        <h4>NAMBAについて</h4>

        <p>
          <strong>トレイルとコミュニティの形成</strong>
        </p>

        <p>NAMBA (Niseko Area Mountain Bike Association)は、世界クラスの持続可能なマウンテンバイクコミュニティとオフロードバイクのシステムを創造するという共通のミッションに向けて、ニセコエリアを結束させる非営利団体です。</p>
        <p>ツインピークス・バイクパークは、ニセコのリゾートエリアに位置し、プロによって設計から造成、そして維持管理までされ、フリーライドが可能なトレイルネットワークです。プロジェクトの全段階が完了すれば、約30kmのトレイルが整備され、日本最大のコミュニティ・バイクパークとなる予定。</p>
        <p>ツインピークスの先にあるNAMBAのマスタープランでは、初心者向けのスキルエリアから、50kmを超えるバックカントリー・エピックコトレイル、リフトでアクセスできるバイクパーク、そしてその間にあるあらゆるものを網羅する、相互につながったトレイルシステムをを作り上げることです。</p>
        <p>私たち非営利団体の活動に是非ご応募いただき、皆様にトレイルでお会いできることを楽しみにしております。</p>


        <div class="module-title-wrap" style="max-width:900px;">
          <div class="t3-section action">
            <a
              class="btn btn-primary"
              href="https://docs.google.com/forms/d/e/1FAIpQLSfz2iIouNhpD0rInJmRgxO3yADtOi-8DtNVeT11JQemXqqutg/viewform"
              target="_blank">入札する</a>
          </div>
          <p style="text-align:center; font-size:90%;">応募期間は2023年9月2日から2023年8月16日まで。</p>
        </div>

        <h3>
          <a id="qa">Q&Aコーナー</a>
        </h3>

        <p>
          <strong>Q1: ブラインドオークションとは何ですか？</strong>
        </p>
        <p>ブラインドオークションとは、入札を知られずに入札を行うユニークな方法のオークションです。入札者は自分の入札額のみを認識し、最高額の入札者が落札します。この方法により、オークションプロセスに興奮と戦略の要素が加わります。</p>

        <p>
          <strong>Q2: 支払いはどのように行われるのですか？</strong>
        </p>
        <p>最高額入札者（落札者）のみが入札金額を支払う必要があります。落札されなかった入札者には一切請求されません。
        </p>

        <p>
          <strong>Q3: 日本全国どこへでも発送できますか？</strong>
        </p>
        <p>もちろんです！日本全国どこでも、落札者様のご希望の場所にバイクを発送いたします。また、落札者様のご希望により、ニセコにある弊社まで直接バイクを受け取りに来ていただくことも可能です。</p>

        <p>
          <strong>Q4: 落札金はどうなりますか？</strong>
        </p>
        <p>落札金額は全額、NPO法人NAMBAの支援に充てられます。NPO法人NAMBAは、ツインピークス・バイクパークという無料で乗れるバイクパークを通して、ニセコのトレイルとコミュニティ作りを目指す非営利団体です。</p>

        <p>
          <strong>Q5: ブラインド・オークションに参加するにはどうしたらいいですか？</strong>
        </p>
        <p>ブラインドオークションへの参加は簡単です。ウェブサイトにアクセスし、入札フォームに必要事項を入力して、興味のある商品に入札するだけです。他者にわからないスタイルの入札はオークション開催中も守られます。</p>

        <p>
          <strong>Q6: 最低入札価格やリザーブ条件はありますか？</strong>
        </p>
        <p>はい、最低入札額は設定されていますが、ブラインドオークションの入札額と同様、この金額は公表されません。</p>

        <p>
          <strong>Q7: 入札後に入札額を変更することはできますか？</strong>
        </p>
        <p>はい！最初の入札額より高い金額であれば、2回目の入札が可能です。最初の入札額より低い金額での入札は受け付けられません。</p>

        <p>
          <strong>Q8: 商品の落札はどのようにわかりますか？</strong>
        </p>
        <p>オークション終了時に、落札者にEメールで通知し、オークションサイトで発表します。最高額で落札された場合は、お支払い手続きのご案内をお送りします。</p>

        <p>
          <strong>Q9: 支払い期限はありますか？</strong>
        </p>
        <p>落札者は10営業日以内に落札代金をお支払いください。この期間内にお支払いがない場合、落札は無効となり、次点の落札者にご連絡いたします。</p>

        <p>
          <strong>Q10: オークションに参加しなくてもNPO法人NAMBAを支援できますか？</strong>
        </p>
        <p>もちろんです！オークションに参加せずにNAMBAを支援したい場合は、ウェブサイトから直接寄付をしたり、会員になったり、グッズを購入したり、ボランティアデーに参加したりすることができます。皆様のご厚意はNAMBAのミッションに貢献し、トレイルの造成に役立っています！</p>

      </section>

    </div>
  </article>
  <!-- //Article -->
</div>

<script>

  (function($) {
    $("a[href$='#qa']").on('click', function() {
      $("html, body").animate({
        scrollTop: $("#qa").offset().top
      }, 500);
      return false;
    });
  })(jQuery);
</script>
